{% extends "base.html" %}
{% load static %}


{% block title %}Dashboard | {{ SITE_NAME }}{% endblock %}

{% block extra_styles %}
<style>
a:hover {
    text-decoration: none;
}

.modal-header {
  background-color: #fff !important;
  padding-bottom: 2rem !important;
}

.modal-body {
  background-color: #f9fafb !important;
}

.modal-footer {
  padding: 1rem 1rem 1rem 1rem !important;
  background-color: #fff !important;
  text-align: center !important;
}
</style>

{% endblock extra_styles %}

{% block content %}


<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
          <h3 class="text-primary">Coupon</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 icon-close-circle"><circle cx="12" cy="12" r="10" class="primary"/><path class="secondary" d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"/></svg>
        </button>
      </div>
      <div class="modal-body">
          <div class="p-3" style="border-color: #ccc; border-width:5px; border-style:dashed;">
              <div class="row">
                  <div class="col-6">
                      <img class="card-img-top" src="media/{{ object.logo }}" alt="User Uploaded images">
                  </div>
                  <div class="col-6">
                      <img class="img-fluid" src="{% static 'img/logo/logo3.jpg' %}" alt="GEGOO LOGO">
                  </div>
              </div>
              <h4 class="fs-14 fw-6 text-primary">{{ object.business_name }} in {{ city }}</h4>
              <h3>{{ object.get_first_active.title }}</h3>
            <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias alias ipsam minima, dolore! Modi enim porro neque quaerat blanditiis. Ipsa aliquam quam maxime rerum eum accusamus nulla, molestiae soluta repellendus!</p>
            {{ object.get_first_active.title }}
            <div class="bg-gray-30 text-primary text-uppercase p-3">
                <span class="fw-6 fs-24">Code: {{ object.get_first_active.code_coupon }}</span>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary-alt btn-block mt-0">Save It</button>
        <button type="button" class="btn btn-primary-alt btn-block mt-0">Print It</button>
        <button type="button" class="btn btn-alternate-alt btn-block mt-0">Share It</button>
      </div>
    </div>
  </div>
</div> -->
<!-- Modal End -->

<!-- Body Start -->
<section class="section container">
      {% block desktop_nav %}
        {% include "users/merchant/merchant_profile_nav.html" %}
      {% endblock desktop_nav %}

      {% block mobile_nav %}
        {% include "users/merchant/merchant_profile_mobile_nav.html" %}
      {% endblock mobile_nav %}

        <div class="row mt-4">

                {% if user.merchant_profile.stores == 0 %}

                    <div class="col-lg-6 offset-3">
                        <div class="card shadow-2 my-2">
                            <div class="card-body">
                                <h3 class="header">
                                    Finish Creating your First Store!
                                    <span class="badge-purple px-3 fw-6 fs-12 pull-right">Incomplete</span>
                                </h3>
                                <br>
                                <p>
                                <span class="text-secondary">Questions or concerns? Click <a href="{% url 'support:contact-page' %}">here</a> to contact us </span></p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'users:merchant_approval_store_create' %}" class="btn btn-primary-alt pull-right">Create Store</a>
                            </div>
                        </div>
                    </div>

                {% elif user.subscription.subscription_status != 'active' %}

                    <div class="col-lg-6">
                        <div class="card shadow-2 my-2">
                            <div class="card-body">
                                <h3 class="header">
                                    Purchase Subscription
                                    <span class="badge-purple px-3 fw-6 fs-12 pull-right">Incomplete</span>
                                </h3>
                                <br>
                                <p><span class="fw-6"></span>A monthly subscription is required to utilize gegoo advertising services. The cost of the monthly subscription is increased by $50 for every store created.</p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'payments:plan_list' %}" class="btn btn-primary-alt pull-right">Purchase Subscription</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="card shadow-2 my-2">
                            <div class="card-body">
                                <h3 class="header">
                                    Add Additional Stores
                                    <span class="badge-purple px-3 fw-6 fs-12 pull-right">Incomplete</span>
                                </h3>
                                <br>
                                <p><span class="fw-6"></span>Add additional Stores to your account. Each store has a unique address, video, and offers.</p>
                            </div>
                            <div class="card-footer">
                                <a href="{% url 'users:merchant_approval_store_create' %}" class="btn btn-primary-alt pull-right">Create Additional Stores</a>
                            </div>
                        </div>
                    </div>
                </div>

                {% endif %}

                {% if store_list %}


                <div class="col-lg-12 my-4">
                    <h3 class="header">
                        My Stores
                    </h3>
                    {% for store in store_list %}
                    <div class="card shadow-2 mt-3">
                        <div class="row">
                            <!-- <div class="col-md-2 hide">
                                <img src="{{ AwsBucketMediaURL }}{{ store.logo }}" class="img-fluid" alt="{{ store.business_name } logo">
                            </div> -->
                            <div class="col-lg-2 col-12 vertical-container text-center">
                                <div class="p-3 pt-4 vertical-alignment">
                                    <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">{{ store.business_name }}</h1>
                                    <p class="card-text lead fs-14 fw-2 text-muted">{{ store.city }}, {{ store.state }}</p>

                                    <hr class="unhide mb-0">
                                </div>
                            </div>
                            <div class="col-lg-2 offset-lg-0 col-8 offset-2 vertical-container">
                                <div class="py-3 px-3 vertical-alignment">
                                    <span class="">
                                        {% if user.subscription.subscription_status == 'active' %}
                                            {% if store.status == 2 %}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mr-1 icon-check"><circle cx="12" cy="12" r="10" class="fill-green-300"/><path class="fill-green-700" d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"/></svg>
                                            {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mr-1 icon-time"><circle cx="12" cy="12" r="10" class="fill-orange-300"/><path class="fill-orange-700" d="M13 11.59l3.2 3.2a1 1 0 0 1-1.4 1.42l-3.5-3.5A1 1 0 0 1 11 12V7a1 1 0 0 1 2 0v4.59z"/></svg>
                                            {% endif %}
                                            {{ store.get_status_display }}
                                        {% else %}
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mr-1 icon-close-circle"><circle cx="12" cy="12" r="10" class="fill-red-300"/><path class="fill-red-700" d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"/></svg>
                                            <span class="fs-14">
                                                Subscription Required
                                            </span>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-2 col-6 vertical-container">
                                <div class="py-3 px-3 text-center vertical-alignment">
                                    <h4 class="subheader text-primary text-uppercase mb-2">{{ store.code_coupon }}</h4>
                                    <p class="text-secondary fs-14 fw-2">Coupon Code</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-6 vertical-container">
                                <div class="py-3 px-3 text-center vertical-alignment">
                                    {% if not store.videofile %}
                                    <a href="{% url 'files:merchant_video_upload' slug=store.slug %}" class="py-0">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 icon-cloud-upload"><path class="fill-gray-500" d="M18 14.97c0-.76-.3-1.51-.88-2.1l-3-3a3 3 0 0 0-4.24 0l-3 3A3 3 0 0 0 6 15a4 4 0 0 1-.99-7.88 5.5 5.5 0 0 1 10.86-.82A4.49 4.49 0 0 1 22 10.5a4.5 4.5 0 0 1-4 4.47z"/><path class="fill-gray-500" d="M11 14.41V21a1 1 0 0 0 2 0v-6.59l1.3 1.3a1 1 0 0 0 1.4-1.42l-3-3a1 1 0 0 0-1.4 0l-3 3a1 1 0 0 0 1.4 1.42l1.3-1.3z"/></svg>
                                        <br>
                                        <span class=" fs-14 fw-2">Upload a Video</span>
                                    </a>
                                    {% elif store.videofile %}
                                    <a href="{{ store.videofile.get_absolute_url }}">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 icon-videocam"><path class="fill-purple-500" d="M13.59 12l6.7-6.7A1 1 0 0 1 22 6v12a1 1 0 0 1-1.7.7L13.58 12z"/><rect width="14" height="14" x="2" y="5" class="fill-purple-500" rx="2"/></svg>
                                        <p class="text-secondary fs-14 fw-2">View Video</p>
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="col-lg-2 col-6 vertical-container">
                                <div class="px-3 text-center vertical-alignment hide">
                                    <h1 class="subheader text-uppercase text-primary mb-2">{{ store.offers.count }}</h1>
                                    <p class="text-secondary fs-14">Offers</p>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 vertical-container ">
                                <div class="py-3 px-3 vertical-alignment text-center hide">
                                    <a href="{{ store.get_consumer_absolute_url }}" class="">View</a>
                                    <span class="px-2 text-secondary ">|</span>
                                    <a href="{% url 'users:merchant_store_update' store.slug %}" class="">Edit</a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 col-md-6  vertical-container">
                                <div class=" vertical-alignment text-center unhide pb-3 px-4">
                                    <a href="{{ store.get_consumer_absolute_url }}" class="btn-primary-inverted btn-block fs-14">
                                        View Store
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-2 col-12 col-md-6  vertical-container ">
                                <div class=" vertical-alignment text-center unhide pb-3 px-4">
                                    <a href="{% url 'users:merchant_store_update' store.slug %}" class="btn-primary-inverted btn-block fs-14">
                                        Edit Store
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% endif %}

                {% if offer_list %}

                    <div class="col-12 my-4">
                        <h3 class="header">
                            My Offers
                        </h3>
                        <div class="card table-responsive  shadow-2">
                            <table class="table">
                                <thead class="text-right">
                                  <tr>
                                    <th scope="col" class="fs-14 fw-6 ls-1 text-uppercase">Offer</th>
                                    <th scope="col" class="fs-14 fw-6 ls-1 text-uppercase">Stores</th>
                                    <th scope="col" class="fs-14 fw-6 ls-1 text-uppercase">Description</th>
                                    <th scope="col" class="fs-14 fw-6 ls-1 text-uppercase">End Date</th>
                                    <th scope="col" class="fs-14 fw-6 ls-1 text-uppercase">Status</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody class="text-right">
                                    {% for offer in offer_list %}
                                        <tr>
                                            <th scope="row" class="fs-14 fw-2">
                                                <a href="{{ offer.get_absolute_url }}" class="fs-14 fw-6 ">{{ offer.title }}</a>
                                            </th>
                                            <td class="fs-14 fw-2">
                                                {% if offer.store_set.count %}
                                                <ul class="list-unstyled">
                                                    {% for item in offer.store_set.all %}
                                                        <li class="text-dark">{{ item }}</li>
                                                    {% endfor %}
                                                    {% else %}
                                                        <li Loction Selected</li>
                                                    {% endif %}
                                                </ul>
                                            </td>
                                            <td class="fs-14 fw-2 text-dark">{{ offer.description|truncatechars:45 }}</td>
                                            <td class="fs-14 fw-2 text-dark">{{ offer.end_date }}</td>
                                            {% if offer.end_date <= current_date  %}
                                            <td><span class="text-success fs-14 fw-6">Active</span></td>
                                            {% else %}
                                            <td><span class="text-danger fs-14 fw-6">Not Active</span></td>
                                            {% endif %}
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                <!-- {% if videoFile %}

                <div class="col-lg-5 my-4">
                    <h3 class="header">
                        Store Video
                    </h3>
                    <div class="card shadow-2 mt-3">
                        <div class="card-body p-3">
                            <video  style="display: block; margin: auto;" width="100%" controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen poster="{{ store.banner }}">
                				<source src="https://static-gegoo-bucket.s3.amazonaws.com/media/{{ videoFile.file }}" type="video/mp4"> Sorry, your browser doesn't support embedded videos.
            				</video>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-6 vertical-container">
                                    <div class="vertical-alignment">
                                        <h4 class="text-secondary fs-14">
                                            Uploaded {{ videoFile.uploaded_at }}
                                        </h4>
                                    </div>
                                </div>
                                <div class="col-lg-6 text-right">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <!-- <a href="{% url 'users:merchant_video_delete' videoFile.slug %}" class=" mr-2">Delete Video</a> -->
                                    <!-- </form> -->
                                <!-- </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 my-4">
                    <h3 class="header">
                        Store Analytics
                    </h3>
                    <div class="card shadow-2  mt-3" style="border-top: none;">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class="text-right" style="background-color: #f5f5f5;">
                                  <tr>
                                    <th scope="col" class="fs-14 fw-6 ls-1 text-gray-600 text-uppercase">Store</th>
                                    <th scope="col" class="fs-14 fw-6 ls-1 text-gray-600 text-uppercase">Views</th>
                                    <th scope="col" class="fs-14 fw-6 ls-1 text-gray-600 text-uppercase">Reviews</th>
                                    <th scope="col" class="fs-14 fw-6 ls-1 text-gray-600 text-uppercase">Avg. Rating</th>
                                  </tr>
                                </thead>
                                <tbody class="text-right">
                                    {% for store in store_list %}
                                        <tr>
                                            <th scope="row" class="fs-14 fw-6">
                                                <strong>{{ store.business_name }}</strong>
                                            </th>
                                            <td class="fs-14 fw-2">{{ store.views }}</td>
                                            <td class="fs-14 fw-2">{{ store.get_total_testimonials }}</td>
                                            <td class="fs-14 fw-2">{{ store.rating_average }} / 5</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            {% else %}

            <div class="col-lg-6 mb-4">
                <h3 class="header">
                    Store Video
                </h3>
                <div class="card shadow-2 mt-3">
                    <div class="card-body">
                        <div class="bg-gray-100 vertical-container" style="height:300px;">
                            <div class="vertical-alignment text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-12  icon-videocam"><path class="fill-gray-400" d="M13.59 12l6.7-6.7A1 1 0 0 1 22 6v12a1 1 0 0 1-1.7.7L13.58 12z"/><rect width="14" height="14" x="2" y="5" class="fill-gray-400" rx="2"/></svg>
                                <h4 class="subheader text-purple-500">Upload a Video for your Stores</h4>
                                <p class="text-secondary fs-14">Grab visitors attention with a short 15 second <br>video that showcases your business.</p>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div> -->
            {% endif %}
      </div>
      <div class="py-5 hide"></div><div class="py-5 hide"></div>
</section>

{% endblock content %}
{% block extrajs %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1300,
  });
</script>
{% endblock extrajs %}
