
{% extends "base.html" %}
{% load staticfiles %}

{% block title %} User Subscription {% endblock title %}
{% block extra_head %}{% endblock extra_head %}
<!-- TODO: Add a alert message if trailer is overdue -->
{% block content %}
<style>
table td {

border-collapse:collapse;
    border-top: 3px solid rgba(0,0,0,.06); !important
}
table th {

border-collapse:collapse;
    border-top: 3px solid rgba(0,0,0,.06) !important;
}
</style>

<!-- Modal -->
<div class="modal fade " id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-0 ">
      <div class="modal-header ">
        <span class="modal-title text-center fs-24 fw-6" id="exampleModalLongTitle">Are you sure you want to cancel your subscription?</span>

      </div>
      <div class="text-center px-4 pb-4">
        <p class="text-muted fs-16 mb-0 py-3">By ending your subscription, your services will be discontinued at the end of this billing period.
        </p>
      </div>
      <div class="p-4 modal-body border-top">
        <div class="row">
          <div class="col-lg-6">
            <button type="button" class="btn btn-primary-alt" class="close" data-dismiss="modal" aria-label="Close">
              No
            </button>
          </div>
          <div class="col-lg-6">
            <button type="button" class="btn btn-outline-primary " href="">
              Yes
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->


<!-- Body Start -->
<section class="section container">
    {% block component %}
      {% include "users/merchant/merchant_profile_nav.html" %}
    {% endblock component %}

    {% block mobile_nav %}
      {% include "users/merchant/merchant_profile_mobile_nav.html" %}
    {% endblock mobile_nav %}

      <div class="row mt-4">
        {% for object in user_subscription_list %}
        <div class="col-lg-4">
            <div class="card card-border shadow-2 mb-4">
                <div class="card-header pb-2">
                  <h6 class="lead">{{ object.user_membership.membership.membership_type }} Membership</h6>
                </div>
                <div class="card-body">
                    <table class="table responsive" >
                        <tbody style="border: none;">
                            <tr class="text-left">
                              <td class="text-muted">Status</td>
                              <td>{% if object.active != False %}<span class="badge badge-success p-2">Active</span>{% else %}<span class="badge badge-secondary p-2">Deactivated</span>{% endif %}</span></td>
                            </tr>
                          <tr class="text-left">
                            <td class="text-muted">Interval </td>
                            <td><span class=" text-dark">Monthly</span></td>
                          </tr>
                          <tr class="text-left">
                            <td class="text-muted">Monthly Cost</td>
                            <td><span class="text-dark">$ {{ object.user_membership.membership.price }}.00</span></td>
                          </tr>
                          <tr class="text-left">
                            <td class="text-muted">Next Payment Due</td>
                            <td><span class="text-dark">{{ object.user_subscription.get_next_billing_date }}</span></td>
                          </tr>
                          <tr class="text-left">
                            <td class="text-muted">Purchased</td>
                            <td><span class="text-dark">{{ object.user_subscription.get_created_date }}</span></td>
                          </tr>
                        </tbody>
                    </table>
    				{% if object.active != False %}
                      <a class="btn btn-danger-alt btn-block fs-15" href="{% url 'memberships:cancel' object.id %}"aria-hidden="true">Cancel Subscription </a>
      				{% else %}
    				{% endif %}
                  </div>
              </div>
            </div>

        {% empty %}
        <div class=" col-lg-12 text-center">
            <p class="py-5">You do not have an active membership plan. Without a subscription to Gegoo, <br>your stores and offers will not be shown to users that visit Gegoo.com. <br><a href="{% url 'payments:plan_list' %}">Click here to view available memberships.</a></p>
        </div>
        {% endfor %}
    </div>
</section>



{% endblock content %}
