{% extends "base-alt.html" %}
{% load static %}

{% block title %}Dashboard | {{ SITE_NAME }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-3 px-3">
        <div class="col-6">
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        </div>
    </div>
    <div class="row mt-3 px-3">
        <div class="col-12">
            <h1 class="mb-1 fs-18 fw-4">
                Approval Process
                {% if user.is_approved == True %}
                    {% if user.has_paid == True %}
                    <span class="badge badge-success fs-16 fw-6 mt-1 pull-right">Complete</span>
                    {% else %}
                    <span class="badge badge-warning fs-16 fw-6 mt-1 pull-right">Pending</span>
                    {% endif %}
                {% else %}
                <span class="badge badge-danger fs-16 fw-6 mt-1 pull-right">Not Started</span>
                {% endif %}
            </h1>
            <p class="fs-14 lead text-muted">You must complete the GEGOO application Process Before Activation</p>
        </div>
        <div class="col-12">
            <div class="card-deck mt-2">
                {% if user.is_approved == True %}
                <div class="card" style="border: 2px solid #26bc9b;">
                    <div class="card-body">
                        <h3 class="card-subtitle fs-14 fw-4 mb-1">
                            Step One
                            <span class="pull-right">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mr-0 icon-check"><circle cx="12" cy="12" r="10" class="fill-green-200"></circle><path class="fill-green-700" d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"></path></svg>
                            </span>
                        </h3>
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Merchant Approval</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">The GEGOO team has approved your business. Please move onto the next step: Purchasing a subscription.</p>
                    </div>
                    <div class="card-footer text-center mt-1">
                        <p class="fs-14 fw-6 text-uppercase ls-1 disabled" style="color: #26bc9b;">
                            Complete
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="card" style="border: 2px solid #f56564;">
                    <div class="card-body">
                        <h3 class="card-subtitle fs-14 fw-4 mb-1">
                            Step One
                            <span class="pull-right">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-4 icon-close-circle"><circle cx="12" cy="12" r="10" class="primary"></circle><path class="secondary" d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"></path></svg>
                            </span>
                        </h3>
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Merchant Approval</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">The GEGOO team must actiavte your account before you can add stores and offers to the site. Please complete the approval form.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="card-link fs-14 fw-6 text-uppercase ls-1">
                            View Step One
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if user.has_paid == True %}
                <div class="card" style="border: 2px solid #26bc9b;">
                    <div class="card-body">
                        <h3 class="card-subtitle fs-14 fw-4 mb-1">
                            Step Two

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mr-0 icon-check"><circle cx="12" cy="12" r="10" class="primary"></circle><path class="secondary" d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"></path></svg>

                        </h3>
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Purchase Subscription</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">You must purchase a subscription to the GEGOO services in ordeer to create stores and advertise your offers.</p>
                    </div>
                    <div class="card-footer text-center mt-1">
                        <p class="fs-14 fw-6 text-uppercase ls-1 disabled" style="color: #26bc9b;">
                            Complete
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="card" style="border: 2px solid #f56564;">
                    <div class="card-body">
                        <h3 class="card-subtitle fs-14 fw-4 mb-1">
                            Step Two
                            <span class="pull-right">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-4 icon-close-circle"><circle cx="12" cy="12" r="10" class="primary"></circle><path class="secondary" d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"></path></svg>
                            </span>
                        </h3>
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Purchase Subscription</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">You must purchase a subscription to the GEGOO services in ordeer to create stores and advertise your offers.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="card-link fs-14 fw-6 text-uppercase ls-1">
                            View Step Two
                        </a>
                    </div>
                </div>
                {% endif %}

                {% if user.store_set.count %}
                <div class="card" style="border: 2px solid #26bc9b;">
                    <div class="card-body">
                        <h3 class="card-subtitle fs-14 fw-4 mb-1">
                            Step Three
                            <span class="badge-success px-3 fs-14 fw-6 pull-right">svg</span>
                        </h3>
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Store Creation</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">After you have completed steps 1 and 2. You account will be granted merchant access to the GEGOO services.</p>
                    </div>
                    <div class="card-footer text-center">
                        <p class="fs-14 fw-6 text-uppercase ls-1 disabled" style="color: #26bc9b;">
                            Complete
                        </p>
                    </div>
                </div>
                {% else %}
                <div class="card" style="border: 2px solid #f56564;">
                    <div class="card-body">
                        <h3 class="card-subtitle fs-14 fw-4 mb-1">
                            Step Two
                            <span class="badge-danger px-3 fw-6 fs-16 pull-right">svg</span>
                        </h3>
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Purchase Subscription</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">You must purchase a subscription to the GEGOO services in ordeer to create stores and advertise your offers.</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="" class="card-link fs-14 fw-6 text-uppercase ls-1">
                            View Step Three
                        </a>
                    </div>
                </div> 
                {% endif %}
            </div>
        </div>
    </div>

    <div class="row mt-3 px-3">
        <div class="col-12">
            <h1 class="mb-1 fs-18 fw-4">Active Stores</h1>
        </div>
        {% if user.is_approved == True and user.has_paid == True and user.store_set.count %}
        <div class="col-12"> 
            {% for store in stores %}
            <div class="card mt-3">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img src="https://source.unsplash.com/random" class="card-img" alt="...">
                    </div>
                    <div class="col-md-3">
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">{{ store.business_name }}</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">Category</p>
                    </div>
                    <div class="col-md-2">
                        <span class="badge-danger px-3 fw-6 fs-16">{{ store.status }}</span>
                        <p class="card-text lead fs-14 fw-2 text-muted">{{ store.created_at }}</p>
                    </div>
                    <div class="col-md-1">
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">{{ store.views }}</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">Total Views</p>
                    </div>
                    <div class="col-md-1">
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">{{ store.offers.count }}</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">Total Offers</p>
                    </div>
                    <div class="col-md-2">
                        <span>
                            <a href="" class="btn btn-primary">View</a>
                            <a href="" class="btn btn-primary">Edit</a>
                        </span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>  
        {% elif user.is_approved == True and user.has_paid == True and user.store_set.count %}
        <div class="col-12"> 
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-subtitle fs-14 fw-4 mb-1">
                            Oops!
                        </h3>
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">You Need To Create A Store</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">Please navigate to the store creation link to create a store!</p>
                        <a href="{{ store.get_absolute_url }}" class="btn btn-primary fs-14 fw-4 pull-right">View</a>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12"> 
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-subtitle fs-14 fw-4 mb-1">
                            Oops!
                        </h3>
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">You Need Approval</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">Please complete the GEGOO approval process to become an active merchant to view this data!</p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="row mt-3 px-3">
        <div class="col-12">
            <h1 class="mb-1 fs-18 fw-4">Active Offers</h1>
        </div>
        {% if user.is_approved == True and user.has_paid == True and user.offer_set.count %}
        <div class="col-12">
            <div class="card">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col" class="fs-14 fw-6 ls-1 text-uppercase">Offer</th>
                        <th scope="col" class="fs-14 fw-6 ls-1 text-uppercase">Location</th>
                        <th scope="col" class="fs-14 fw-6 ls-1 text-uppercase">Description</th>
                        <th scope="col" class="fs-14 fw-6 ls-1 text-uppercase">End Date</th>
                        <th scope="col" class="fs-14 fw-6 ls-1 text-uppercase">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for offer in offers %}
                            <tr>
                                <th scope="row" class="fs-14 fw-2">
                                    <a href="{{ offer.get_absolute_url }}" class="fs-14 fw-2">{{ offer.title }}</a>
                                </th>
                                <td class="fs-14 fw-2">
                                    {% if offer.store_set.count %}
                                    {% for item in offer.store_set.all %}
                                        <p>{{ item }}</p>
                                    {% endfor %}
                                    {% else %}
                                        <p>No Loction Selected</p>
                                    {% endif %}
                                </td> 
                                <td class="fs-14 fw-2">{{ offer.description|truncatechars:25 }}</td>
                                <td class="fs-14 fw-2">{{ offer.end_date }}</td>
                                {% if offer.end_date <= current_date  %}
                                <td><span class="badge-success px-3 fs-14 fw-6">Active</span></td>
                                {% else %}
                                <td><span class="badge-danger px-3 fs-14 fw-6">Not Active</span></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        {% elif user.is_approved == True and user.has_paid == True and user.offer_set.count %}
        <div class="col-12"> 
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-subtitle fs-14 fw-4 mb-1">
                            Oops!
                        </h3>
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">You Need Approval</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">Please complete the GEGOO approval process to become an active merchant to view this data!</p>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12"> 
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-subtitle fs-14 fw-4 mb-1">
                            Oops!
                        </h3>
                        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">You Need Approval</h1>
                        <p class="card-text lead fs-14 fw-2 text-muted">Please complete the GEGOO approval process to become an active merchant to view this data!</p>
                    </div>
                </div>
            </div>
        </div>            
        {% endif %}
    </div>
</div>

{% endblock content %}

<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h3 class="card-subtitle fs-14 fw-4 mb-1">
            Step One
        </h3>
        <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">{{ store.business_name }}</h1>
        <p class="card-text lead fs-14 fw-2 text-muted">{{ store.description }}</p>
        <a href="{% url 'portal:merchant_store_update' store.slug %}" class="card-link fs-14 fw-6">Edit</a>
        <a href="{{ store.get_absolute_url }}" class="btn btn-primary fs-14 fw-4 pull-right">View</a>
    </div>
</div>