{% load static %}

{% block component %}

<div class="profile-nav hide mt-4">
    <ul class="list-unstyled">
        <li>
        <a href="{% url 'users:userPage' %}" class="{% if '/dashboard/' == request.path %} profile-link-active {% else %} profile-link {% endif %}">Dashboard</a>
        </li>
      <li>
        <a href="{% url 'users:userPage' %}" class="{% if 'my-favorites' in request.path %} profile-link-active {% else %} profile-link {% endif %}">My Favorites</a>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'contact-page' %}" class="{% if 'my-merchants' in request.path %} profile-link-active {% else %} profile-link {% endif %}">My Merchants</a>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'users:user_location' %}" class="{% if '/location/' in request.path %} profile-link-active {% else %} profile-link {% endif %}">My Location</a>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'account_set_password' %}" class="{% if 'accounts' in request.path %} profile-link-active {% else %} profile-link {% endif %}">Settings</a>
      </li>
    </ul>
</div>

{% endblock component %}
