 {% extends "base-minimal.html" %}
{% load static %}

{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Profile Page{% endblock %}

<style>
a:hover {
    text-decoration: none;
}
</style>
{% block content %}
<div class="container h100" style="margin-top: 120px;">
      <div class="row">
        <div class="col-lg-3">
              <div class="pull-left">
                <ul class="pull-left pb-2" style="list-style-type: none;">
                  <li>
                    <img src="/media/{{ user.user_profile.image }}" alt="Profile Picture" width="100px" style="">
                    <h5><span class="text-muted" style="font-size: .7em;">{{ user.username }}   <br>
                  {{ user.user_profile.school }}</span></h5>
                  </li>
                </ul>
                <br>

              <!-- Action buttons -->
              <ul class="pull-left" style="list-style-type: none;">
                <a class="text-dark py-5" style="text-decoration: none;" href="{% slugurl 'home' %}" role="button">
                  <li class="pb-3">
                      <i class="fa fa-home text-center" aria-hidden="true"></i> <span class="ml-2">Home</span>
                  </li>
                </a>
                <a class="text-dark py-5" style="text-decoration: none; " href="{% url 'account_email' %}" role="button">
                  <li class="pb-3">
                      <i class="fa fa-cog" aria-hidden="true"></i> <span class="ml-2">Settings</span>
                  </li>
                </a>
                <!--
                <a class="text-dark py-5" style="text-decoration: none; " href="" role="button">
                  <li class="pb-3">
                      <i class="fa fa-university" aria-hidden="true"></i><span class="ml-1"> Payments</span>
                  </li>
                </a>
                !-->

                <a class="text-dark py-5" style="text-decoration: none; " href="{% url 'memberships:user_subscription' %}" role="button">
                  <li class="pb-3">
                      <i class="fa fa-calendar" aria-hidden="true"></i> <span class="ml-2">Subscriptions</span>
                  </li>
                </a>
                <a class="text-dark py-5" style="text-decoration: none; " href="{% url 'account_reset_password' %}" role="button">
                  <li class="pb-3">
                      <i class="fa fa-lock" aria-hidden="true"></i> <span class="ml-2">Password</span>
                  </li>
                </a>
                <a class="text-dark py-5" style="text-decoration: none; " href="{% url 'update_image' %}" role="button">
                  <li class="pb-3">
                      <i class="fa fa-pencil" aria-hidden="true"></i> <span class="ml-1">Edit Profile</span>
                  </li>
                </a>
              </ul>
            </div>
        </div>
        <div class="col-lg-9 pl-4">
        <br>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Welcome to Mod, {{ user.username }}!</h4>
            <p class="text-muted">If you would like to learn more about Mod <a href="{% slugurl 'about' %}">click here.</a></p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h6>Subscription</h6>
            <hr>
            {% if user_subscription.active == True %}
            <div class="row text-center">
              <div class="col-lg-4 col-sm-4">
                <strong><h5 class="text-muted mt-2">{{ user.user_membership.membership }}</h5></strong>
              </div>
              {% if user_subscription.active != False %}
                <div class="col-lg-4 col-sm-4 ">
                    <span class="text-muted">Next payment due: <br>{{ user_subscription.get_next_billing_date }}</span>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <a class="btn btn-danger  shadow" href="{% url 'memberships:cancel' %}" aria-hidden="true">Cancel</a>
                </div>
              {% else %}
                <div class="col-lg-12">
                    <p>You do not have an active membership plan. <a href="{% url 'memberships:select' %}">Click here</a> to view memberships.</p>
                </div>
              {% endif %}
            </div>
            {% else %}
            <div class="text-center">
              <p>You do not have an active membership plan. <a href="{% url 'memberships:select' %}">Click here</a> to view memberships.</p>
            </div>
            {% endif %}
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
              <h6>Invoices <a href="#" class="pull-right">View All</a></h6>
              <hr>
              <div class="row text-center">
                  {% for object in user.invoice.all %}
                    {% if object.payed != True %}
                    <div class="col-lg-4 ">
                        <strong><h5 class="text-dark pt-4">{{ object.description }}</h5></strong>
                    </div>
                    <div class="col-lg-4 ">
                          <h5 class="text-dark pt-4">${{ object.amount}}</h5>
                    </div>

                    <div class="col-lg-4 ">
                      <form method="POST" action="{% url 'userPage' %}">
                        {% csrf_token %}
                            <button class="btn btn-success shadow mt-3">Pay Invoice</button>
                        <input type="hidden" name="invoice_id" value="{{ object.invoice_id }}">
                      </form>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
