{% extends "base-alt.html" %}
{% load static %}


{% block title %}Dashboard | {{ SITE_NAME }}{% endblock %}

{% block extra_styles %}
<style>
a:hover {
    text-decoration: none;
}

.modal-header {
  background-color: #fff !important;
  padding-bottom: 2rem !important;
}

.modal-body {
  background-color: #f9fafb !important;
}

.modal-footer {
  padding: 1rem 1rem 1rem 1rem !important;
  background-color: #fff !important;
  text-align: center !important;
}
</style>


<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

{% endblock extra_styles %}


{% block content %}


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-end">
          <h3 class="text-primary">Coupon</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 icon-close-circle"><circle cx="12" cy="12" r="10" class="primary"/><path class="secondary" d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"/></svg>
        </button>
      </div>
      <div class="modal-body">
          <div class="p-3" style="border-color: #ccc; border-width:5px; border-style:dashed;">
              <div class="row">
                  <div class="col-6">
                      <img class="card-img-top" src="media/{{ object.logo }}" alt="User Uploaded images">
                  </div>
                  <div class="col-6">
                      <img class="img-fluid" src="{% static 'img/logo/logo3.jpg' %}" alt="GEGOO LOGO">
                  </div>
              </div>
              <h4 class="fs-14 fw-6 text-primary">{{ object.business_name }} in {{ city }}</h4>
              <h3>{{ object.get_first_active.title }}</h3>
            <p class="fs-14">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias alias ipsam minima, dolore! Modi enim porro neque quaerat blanditiis. Ipsa aliquam quam maxime rerum eum accusamus nulla, molestiae soluta repellendus!</p>
            {{ object.get_first_active.title }}
            <div class="bg-gray-30 text-primary text-uppercase p-3">
                <span class="fw-6 fs-24">Code: {{ object.get_first_active.code_coupon }}</span>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary-alt btn-block mt-0">Save It</button>
        <button type="button" class="btn btn-primary-alt btn-block mt-0">Print It</button>
        <button type="button" class="btn btn-alternate-alt btn-block mt-0">Share It</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal End -->

<!-- Body Start -->
<section class="section-sm container">
      {% block component %}
        {% include "users/user_merchant_profile_nav.html" %}
      {% endblock component %}
        <div class="row mt-2">
            <div class="col-lg-12 mb-4">
                <div class="card shadow-2  unhide">
                    <div class="card-body">
                        <h2 class="fw-6">My Account</h2>
                        <span class="fs-14 text-muted">Welcome Back, {{ user.first_name }}!</span>
                        <br>
                        <br>
                        <!-- Action buttons -->
                        <ul class="pl-0" style="list-style-type: none;">
                          <hr class="mt-0 mb-3 unhide">
                          <a class="text-dark py-5" style="text-decoration: none;" href="/" role="button">
                            <li class="pb-3">
                                <i class="fa fa-home text-center" aria-hidden="true"></i> <span class="ml-2 fw-5">Home</span> <i class="fa fa-chevron-right mt-1 float-right" aria-hidden="true"></i>
                            </li>
                          </a>
                          <hr class="mt-0 mb-3 unhide">
                          <a class="text-dark py-5" style="text-decoration: none; " href="#orders" role="button">
                            <li class="pb-3">
                                <i class="fa fa-calendar" aria-hidden="true"></i> <span class="ml-2 fw-5">Orders</span><i class="fa fa-chevron-right mt-1 float-right" aria-hidden="true"></i>
                            </li>
                          </a>
                          <hr class="mt-0 mb-3 unhide">
                          <a class="text-dark py-5" style="text-decoration: none; " href="{% url 'account_reset_password' %}" role="button">
                            <li class="pb-3">
                                <i class="fa fa-lock" aria-hidden="true"></i> <span class="ml-2 fw-5">Password</span><i class="fa fa-chevron-right mt-1 float-right" aria-hidden="true"></i>
                            </li>
                          </a>
                          <hr class="mt-0 mb-3 unhide">
                          <a class="text-dark py-5" style="text-decoration: none; " href="#" role="button">
                            <li class="pb-3">
                                <i class="fa fa-pencil" aria-hidden="true"></i> <span class="ml-1 fw-5">Edit Profile</span><i class="fa fa-chevron-right mt-1 float-right" aria-hidden="true"></i>
                            </li>
                          </a>
                          <hr class="mt-0 mb-3 unhide">
                          <a class="text-dark py-5" style="text-decoration: none; " href="{% url 'account_email' %}" role="button">
                            <li class="pb-0">
                                <i class="fa fa-cog" aria-hidden="true"></i> <span class="ml-2 fw-5">Settings</span><i class="fa fa-chevron-right mt-1 float-right" aria-hidden="true"></i>
                            </li>
                          </a>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
              <div class="card-deck">
                <div class="col-lg-4">
                  {% if user.merchant_profile.status == 'NOT APPROVED' %}
                  <div class="card" style="border: 2px solid #26bc9b;">
                      <div class="card-body">
                          <h3 class="card-subtitle fs-14 fw-4 mb-1">
                              Step One
                              <span class="pull-right">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mr-0 icon-check"><circle cx="12" cy="12" r="10" class="fill-green-200"></circle><path class="fill-green-700" d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"></path></svg>
                              </span>
                          </h3>
                          <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Merchant Approval</h1>
                          <p class="card-text lead fs-14 fw-2 text-muted">The GEGOO team has approved your business. Please move onto the next step: Purchasing a subscription.</p>
                      </div>
                      <div class="card-footer text-center mt-1">
                          <p class="fs-14 fw-6 text-uppercase ls-1 disabled" style="color: #26bc9b;">
                              Complete
                          </p>
                      </div>
                  </div>
                  {% else %}
                  <div class="card" style="border: 2px solid #f56564;">
                      <div class="card-body">
                          <h3 class="card-subtitle fs-14 fw-4 mb-1">
                              Step One
                              <span class="pull-right">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-4 icon-close-circle"><circle cx="12" cy="12" r="10" class="primary"></circle><path class="secondary" d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"></path></svg>
                              </span>
                          </h3>
                          <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Merchant Approval</h1>
                          <p class="card-text lead fs-14 fw-2 text-muted">The GEGOO team must actiavte your account before you can add stores and offers to the site. Please complete the approval form.</p>
                      </div>
                      <div class="card-footer text-center">
                          <a href="" class="card-link fs-14 fw-6 text-uppercase ls-1">
                              View Step One
                          </a>
                      </div>
                  </div>
                  {% endif %}
                </div>
                <div class="col-lg-4">
                  {% if user.merchant_profile.has_paid == True %}
                  <div class="card" style="border: 2px solid #26bc9b;">
                      <div class="card-body">
                          <h3 class="card-subtitle fs-14 fw-4 mb-1">
                              Step Two
  
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mr-0 icon-check"><circle cx="12" cy="12" r="10" class="primary"></circle><path class="secondary" d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"></path></svg>
  
                          </h3>
                          <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Purchase Subscription</h1>
                          <p class="card-text lead fs-14 fw-2 text-muted">You must purchase a subscription to the GEGOO services in order to create stores and advertise your offers.</p>
                      </div>
                      <div class="card-footer text-center mt-1">
                          <p class="fs-14 fw-6 text-uppercase ls-1 disabled" style="color: #26bc9b;">
                              Complete
                          </p>
                      </div>
                  </div>
                  {% else %}
                  <div class="card" style="border: 2px solid #f56564;">
                      <div class="card-body">
                          <h3 class="card-subtitle fs-14 fw-4 mb-1">
                              Step Two
                              <span class="pull-right">
                                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-4 icon-close-circle"><circle cx="12" cy="12" r="10" class="primary"></circle><path class="secondary" d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"></path></svg>
                              </span>
                          </h3>
                          <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Purchase Subscription</h1>
                          <p class="card-text lead fs-14 fw-2 text-muted">You must purchase a subscription to the GEGOO services in ordeer to create stores and advertise your offers.</p>
                      </div>
                      <div class="card-footer text-center">
                          <a href="" class="card-link fs-14 fw-6 text-uppercase ls-1">
                              View Step Two
                          </a>
                      </div>
                  </div>
                  {% endif %}
                </div>
                <div class="col-lg-4">
                  {% if user.store_set.count %}
                  <div class="card" style="border: 2px solid #26bc9b;">
                      <div class="card-body">
                          <h3 class="card-subtitle fs-14 fw-4 mb-1">
                              Step Three
                              <span class="badge-success px-3 fs-14 fw-6 pull-right">svg</span>
                          </h3>
                          <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Store Creation</h1>
                          <p class="card-text lead fs-14 fw-2 text-muted">After you have completed steps 1 and 2. You account will be granted merchant access to the GEGOO services.</p>
                      </div>
                      <div class="card-footer text-center">
                          <p class="fs-14 fw-6 text-uppercase ls-1 disabled" style="color: #26bc9b;">
                              Complete
                          </p>
                      </div>
                  </div>
                  {% else %}
                  <div class="card" style="border: 2px solid #f56564;">
                      <div class="card-body">
                          <h3 class="card-subtitle fs-14 fw-4 mb-1">
                              Step Two
                              <span class="badge-danger px-3 fw-6 fs-16 pull-right">svg</span>
                          </h3>
                          <h1 class="card-title fs-18 fw-6 text-uppercase mb-2">Purchase Subscription</h1>
                          <p class="card-text lead fs-14 fw-2 text-muted">You must purchase a subscription to the GEGOO services in ordeer to create stores and advertise your offers.</p>
                      </div>
                      <div class="card-footer text-center">
                          <a href="" class="card-link fs-14 fw-6 text-uppercase ls-1">
                              View Step Three
                          </a>
                      </div>
                  </div> 
                  {% endif %}
                </div>
              </div>
            </div>
</section>

{% endblock content %}
{% block extrajs %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1300,
  });
</script>
{% endblock extrajs %}



<div class="col-lg-6">
  <div class="card my-2">

      {% if user.merchant_profile.status == 'NOT APPROVED' %}
      <div class="card-body">
          <h3 class="header">
              Step One
              <span class="badge-danger px-3 fw-6 fs-16 pull-right">Incomplete
              </span>
          </h3>
          <br>
          <p><span class="fw-6"></span>Fill out the Merchant Approval form</p>
          <a href="{{ user.merchant_profile.get_absolute_url }}" class="btn btn-primary-alt">Get Approved</a>
      </div>

      {% elif user.merchant_profile.status == 'PENDING' %}
      <div class="card-body">
          <h3 class="section-header">
              Step One
              <span class="badge-danger px-3 fw-6 fs-16 pull-right">Incomplete</span>
          </h3>
          <br>
          <p><span class="fw-6"></span>Thank you for filling out the approval form, check back in 24-48 hours!</p>
          <a class="btn btn-primary-alt disabled text-white">Submission Sent</a>

          <a href="{{ user.merchant_profile.get_absolute_url }}" class="btn btn-primary-alt">Get Approved</a>

      </div>

      {% else %}
      <div class="card-body">
          <h3 class="section-header">

              <span class="badge-success px-3 fs-16 fw-6 pull-right">Complete</span>
          </h3>
              <br>
          <p><span class="fw-6"></span>Fill out the Merchant Approval form</p>
          <a class="btn btn-success-alt text-white disabled">All Set!</a>
      </div>
      {% endif %}
  </div>

  <div class="card my-2">
      {% if user.status == 'APPROVED' %}
      <div class="card-body">
          <h3 class="section-header">
              Step Two
          </h3>
          <p><span class="fw-6"></span>Once Approved by the Gegoo Staff, you can create a Store with all of you business's information, location, hours, and services.</p>
          <br>
          <a href="{% url 'portal:merchant_store_create' %}" class="btn btn-primary-alt">Create Store</a>
              {% if user.store %}
              <a href="{% url 'portal:merchant_store_update' %}" class="btn btn-primary-alt">Create Store</a>
              {% else %}
              <a href="{% url 'portal:merchant_store_create' %}" class="btn btn-primary-alt">Create Store</a>
              {% endif %}
      </div>
      {% endif %}

      {% if user.status != 'APPROVED' %}
      <div class="card-body">
          <h3 class="section-header">
              Step Two
          </h3>
          <p><span class="fw-6"></span>Once Approved by the Gegoo Staff, you can create a Store with all of you business's information, location, hours, and services.</p>
          <br>
          <a  class="btn btn-gray-400-alt text-gray-700 disabled">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 mr-1 icon-lock"><path class="fill-gray-700" d="M5 10h14a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2zm6 6.73V18a1 1 0 0 0 2 0v-1.27a2 2 0 1 0-2 0z"/><path class="fill-gray-700" d="M12 19a1 1 0 0 0 1-1v-1.27A2 2 0 0 0 12 13v-3h3V7a3 3 0 0 0-6 0v3H7V7a5 5 0 1 1 10 0v3h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-7v-3z"/></svg>
              Create Store
          </a>
      </div>
      {% endif %}
  </div>

  <div class="card my-2">
      <div class="card-body">
          <h3 class="section-header">
              Step Three
          </h3>
          <p><span class="fw-6"></span>Once your store has been created, you will need to purchase a subscription package. <a href="">Click here</a> to see our pricing page.</p>
          <a href="{% url 'memberships:select' %}" class="btn btn-primary-alt">Purchase Subscription</a>
          <a class="btn btn-gray-400-alt text-gray-700 disabled">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 mr-1 icon-lock"><path class="fill-gray-700" d="M5 10h14a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2zm6 6.73V18a1 1 0 0 0 2 0v-1.27a2 2 0 1 0-2 0z"/><path class="fill-gray-700" d="M12 19a1 1 0 0 0 1-1v-1.27A2 2 0 0 0 12 13v-3h3V7a3 3 0 0 0-6 0v3H7V7a5 5 0 1 1 10 0v3h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-7v-3z"/></svg>
              Purchase Subscription
          </a>

      </div>
  </div>
</div>
</div>
<div class="py-5 hide"></div><div class="py-5 hide"></div>