 {% extends "base-minimal.html" %}
{% load static %}

{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Profile Page{% endblock %}

<style>
a:hover {
    text-decoration: none;
}
</style>
{% block content %}


<!-- Modal -->
<div class="modal fade " id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-0 ">

      <div class="modal-header">
        <h4 class="modal-title text-center" id="exampleModalLongTitle">Are you sure you want to cancel your subscription?</h4>

      </div>
      <div class="modal-body text-center">
        <p class=" py-4">By ending your subscription, your services will be discontuined at the end of this billing period.
        </p>
        <button type="button" class="btn btn-primary text-center pb-1 pt-3 mr-4" style="width: 6rem; height: 3.5rem;" class="close" data-dismiss="modal" aria-label="Close">
          <p class="">No</p>
        </button>
        <a class="btn btn-outline-primary text-center pb-1 pt-3 ml-4" style="width: 6rem; height: 3.5rem;" href="{% url 'memberships:cancel' %}">
          <p class="text-primary">Yes</p>
        </a>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>

<div class="container h100" style="margin-top: 120px;">
      <div class="row">
        <div class="col-lg-3">
              <div class="pull-left">
                <ul class="pull-left pb-2" style="list-style-type: none;">
                  <li>
                    <img src="/media/{{ user.user_profile.image }}" alt="Profile Picture" width="100px" style="">
                    <h5><span class="text-muted" style="font-size: .7em;">{{ user.username }}   </span></h5>
                  </li>
                </ul>
                <br>

              <!-- Action buttons -->
              <ul class="pull-left" style="list-style-type: none;">
                <a class="text-dark py-5" style="text-decoration: none;" href="{% slugurl 'home' %}" role="button">
                  <li class="pb-3">
                      <i class="fa fa-home text-center" aria-hidden="true"></i> <span class="ml-2">Home</span>
                  </li>
                </a>
                <a class="text-dark py-5" style="text-decoration: none; " href="{% url 'memberships:user_subscription' %}" role="button">
                  <li class="pb-3">
                      <i class="fa fa-calendar" aria-hidden="true"></i> <span class="ml-2">Subscriptions</span>
                  </li>
                </a>
                <!--
                <a class="text-dark py-5" style="text-decoration: none; " href="" role="button">
                  <li class="pb-3">
                      <i class="fa fa-university" aria-hidden="true"></i><span class="ml-1"> Payments</span>
                  </li>
                </a>
                !-->
                <a class="text-dark py-5" style="text-decoration: none; " href="{% url 'account_reset_password' %}" role="button">
                  <li class="pb-3">
                      <i class="fa fa-lock" aria-hidden="true"></i> <span class="ml-2">Password</span>
                  </li>
                </a>
                <a class="text-dark py-5" style="text-decoration: none; " href="{% url 'update_image' %}" role="button">
                  <li class="pb-3">
                      <i class="fa fa-pencil" aria-hidden="true"></i> <span class="ml-1">Edit Profile</span>
                  </li>
                </a>
                <a class="text-dark py-5" style="text-decoration: none; " href="{% url 'account_email' %}" role="button">
                  <li class="pb-3">
                      <i class="fa fa-cog" aria-hidden="true"></i> <span class="ml-2">Settings</span>
                  </li>
                </a>
              </ul>
            </div>
        </div>
        <div class="col-lg-9 pl-4">
        <br>
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Welcome to Mod, {{ user.username }}!</h4>
            <p class="text-muted">If you would like to learn more about Mod <a href="{% slugurl 'about' %}">click here.</a></p>
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
            <h6>Subscription</h6>
            <hr>
            {% if user_subscription.active == True %}
            <div class="row text-center">
              <div class="col-lg-4 col-sm-4">
                <strong><h5 class="text-muted mt-2">{{ user.user_membership.membership }}</h5></strong>
              </div>
              {% if user_subscription.active != False %}
                <div class="col-lg-4 col-sm-4 ">
                    <span class="text-muted">Next payment due: <br>{{ user_subscription.get_next_billing_date }}</span>
                </div>
                <div class="col-lg-4 col-sm-4">
                    <!-- Button to Open the Modal -->
                    <button type="button" class="btn btn-danger shadow" style="width: 8rem;" data-toggle="modal" data-target="#Modal">Cancel</button>

                </div>
              {% else %}
                <div class="col-lg-12">
                    <p>You do not have an active membership plan. <a href="{% url 'memberships:select' %}">Click here</a> to view memberships.</p>
                </div>
              {% endif %}
            </div>
            {% else %}
            <div class="text-center">
              <p>You do not have an active membership plan. <a href="{% url 'memberships:select' %}">Click here</a> to view memberships.</p>
            </div>
            {% endif %}
          </div>
        </div>
        <br>
        <div class="card">
          <div class="card-body">
              <h6>Invoices <a href="#" class="pull-right">View All</a></h6>
              <hr>
              <div class="row text-center">
                  {% for object in user.invoice.all %}
                    {% if object.payed != True %}
                    <div class="col-lg-4 ">
                        <strong><h5 class="text-dark pt-4">{{ object.description }}</h5></strong>
                    </div>
                    <div class="col-lg-4 ">
                          <h5 class="text-dark pt-4">${{ object.amount}}</h5>
                    </div>

                    <div class="col-lg-4 ">
                      <form method="POST" action="{% url 'userPage' %}">
                        {% csrf_token %}
                            <button class="btn btn-success shadow mt-3">Pay Invoice</button>
                        <input type="hidden" name="invoice_id" value="{{ object.invoice_id }}">
                      </form>
                    </div>
                  {% endif %}
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
