{% extends "base.html" %}
{% load static %}

{% block content %}
<div class='row'>
    <div class='col-6 offset-3'>
        <div class='item-loading-queue'>

        </div>
        <form class='cfeproj-upload-form'>
            <input class='cfeproj-upload-file form-control' type='file' accept='audio/*,video/*,image/*' multiple='multiple' />
        </form>
    </div>
</div>
{% endblock content %}

{% block extrajs %}
    <script type="text/javascript" src="{% static 'js/s3_file_upload/file_upload.js' %}"></script>
{% endblock extrajs %}
