{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} Create New Form {% endblock %}

{% block content %}

<section class="section-sm">
    <div class="container mb-5">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="card card-border stripe-primary-top shadow-5">
              <div class="border-bottom px-4 py-4">
                  <h2 class="header">Upload a Video
                      <button type="button" id="uploadbutton" class="btn btn-gray-600-alt py-2 js-upload-photos pull-right">
                         Browse
                         <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 ml-1 icon-folder"><path class="fill-gray-500" d="M4 4h7l2 2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6c0-1.1.9-2 2-2z"/><rect width="20" height="12" x="2" y="8" class="fill-gray-500" rx="2"/></svg>
                      </button>
                  </h2>
                  <span class="text-muted fs-14">Accepted file formats are: MP4.
                  <br>
                  Max file size: 50MB.</span>
              </div>
            <div class="card-body bg-muted text-center">
              <div class="row">
                  <div class="col-lg-6 offset-lg-3 text-center">
                      <div style="padding-top: 5rem; padding-bottom: 7rem;">

                        <div id="defaultmessage">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-12 icon-cloud-upload"><path class="fill-gray-600" d="M18 14.97c0-.76-.3-1.51-.88-2.1l-3-3a3 3 0 0 0-4.24 0l-3 3A3 3 0 0 0 6 15a4 4 0 0 1-.99-7.88 5.5 5.5 0 0 1 10.86-.82A4.49 4.49 0 0 1 22 10.5a4.5 4.5 0 0 1-4 4.47z"/><path class="fill-gray-600" d="M11 14.41V21a1 1 0 0 0 2 0v-6.59l1.3 1.3a1 1 0 0 0 1.4-1.42l-3-3a1 1 0 0 0-1.4 0l-3 3a1 1 0 0 0 1.4 1.42l1.3-1.3z"/></svg>
                            <h3 class="text-muted fs-18">Drag and drop to upload <br>or browse to choose a file</h3>
                        </div>

                        <div  style="display: none;" id="successmessage">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-12 mb-4 icon-check" id="successIcon"><circle cx="12" cy="12" r="10" class="fill-green-200"/><path class="fill-green-600" d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"/></svg>
                            <h3 class="text-muted fs-18" id="success-message"></h3>
                        </div>

                        <div  style="display: none;" id="errormessage">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-12 mb-4 icon-important" id="errorIcon"><path class="fill-gray-300" d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20z"/><path class="fill-red-600" d="M12 18a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm1-5.9c-.13 1.2-1.88 1.2-2 0l-.5-5a1 1 0 0 1 1-1.1h1a1 1 0 0 1 1 1.1l-.5 5z"/></svg>
                            <h3 class="text-muted fs-18" id="error-message"></h3>
                        </div>
                        <div id="progressbar"  style="display: none;">
                            <h3 class="text-muted fs-18" id="loading-message">Uploading..</h3>
                            <div class="progress mt-4">
                              <div class="progress-bar gradient-primary py-2 fw-6" role="progressbar" style="width: 0%; height: 10px;">0%</div>
                            </div>
                        </div>

                      </div>
                  </div>
              </div>

              {{ form.errors}}

              {# 2. FILE INPUT TO BE USED BY THE PLUG-IN #}
              <input id="fileupload" type="file" name="file" multiple
                     style="display: none;"
                     data-url="{% url 'users:merchant_approval_video_upload' slug=store_slug %}"
                     data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
              </div>
            </div>
            <div class="row mt-4">
                <div class="col-lg-2 pull-left">
                    <a class="btn btn-primary-alt py-2 btn-block" id="defaultbutton" href="{% url 'users:merchant_approval_file_select' slug=store_slug %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-arrow-thick-left-circle"><circle cx="12" cy="12" r="10" class="fill-transparent"/><path class="fill-purple-500" d="M12 10h5a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-5v2a1 1 0 0 1-1.7.7l-4-4a1 1 0 0 1 0-1.4l4-4A1 1 0 0 1 12 8v2z"/></svg>
                        Back
                    </a>
                </div>
                <div class="offset-8"></div>
                <div class="col-lg-2 pull-right">
                    {% if 'approval' in request.path %}
                    <a class="btn btn-success-alt btn-block py-2" id="successbutton" style="display:none" href="{% url 'users:userPage' %}">Finish
                    </a>
                    {% else %}
                    <a class="btn btn-success-alt btn-block py-2" id="successbutton" style="display:none" href="{% url 'users:userPage' %}">Finish
                    </a>
                    {% endif %}
                </div>
            </div>
          </div>
        </div>
      </div>
</section>
{% endblock %}




{% block jquery %}
$(document).ready(function() {

    var UserRewardData = parseInt("{{ data }}")
    console.log(UserRewardData)

    new Chart(document.getElementById("doughnut-chart"), {
        type: 'doughnut',
        data: {

          datasets: [
            {
              label: "Population (millions)",
              backgroundColor: ["#7505AB"],
              data: [UserRewardData, 100],
              weight: 0.5,
            }
          ]
        },
        options: {

          title: {
            display: false,
          }
        }
    });


});
{% endblock %}




{% block extrajs %}
  {# JQUERY FILE UPLOAD SCRIPTS #}
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="{% static 'js/jquery-file-upload/vendor/jquery.ui.widget.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.iframe-transport.js' %}"></script>
  <script src="{% static 'js/jquery-file-upload/jquery.fileupload.js' %}"></script>

  {# imageS PAGE SCRIPTS #}
  <script src="{% static 'js/images/basic-upload.js' %}"></script>
  <!-- <script src="{% static 'js/images/progress-bar-upload.js' %}"></script>
  <script src="{% static 'js/images/drag-and-drop-upload.js' %}"></script> -->

  {# imageS progress circle #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
{% endblock %}
