.Python
env/
.env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
node_modules/
media/
*.egg-info/
.installed.cfg
*.egg

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
aws.md
config_s3_aws.py
