
{% block search_form  %}
    <div class="section-search unhide">
        <div class="search-form-background">
            <form class="search-form-container-navbar" action="/find/" method="get" >
                <div class="" style="width: 100%;">
                    <div class="icon-addon addon-lg">
                        <input type="text" placeholder="Search for Services" name="q" id="q" autocomplete="off">
                        <div id="selction-ajax"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock search_form %}
