{% block invoice_upcoming %}
<div class="row mt-4">
    <div class="col-md-12">
        <div class="card text-left stripe-yellow-700 shadow-2" style="background-color: rgba(251, 211, 76, 0.2) !important;">
            <div class="card-body">
                <h1 class="text-yellow-700 fs-16 fw-4">
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-4 icon-document"><path class="primary" d="M6 2h6v6c0 1.1.9 2 2 2h6v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2z"></path><polygon class="secondary" points="14 2 20 8 14 8"></polygon></svg>
                    </span>
                    You have an upcoming invoice for your next billing period. We will notify you when your payment completes!
                </h1>
            </div>
        </div>
    </div>
</div>  
{% endblock invoice_upcoming %}
