{% extends "base_mpm.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1>Subscription Detail</h1>
                    <h1>{{ request.user.first_name }} {{ request.user.last_name }} - {{ request.user.email }}</h1>
                    <h1>{{ object.subscription_id }}</h1>
                    <h1>{{ object.subscription_status }}</h1>
                
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit" name="delete">Delete</button>
                    </form>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button class="btn btn-success" type="submit" name="upgrade">Upgrade</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
