{% extends "base-alt.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h1>Subscription Detail</h1>
                    <h1>{{ request.user.first_name }} {{ request.user.last_name }} - {{ request.user.email }}</h1>
                    <h1>{{ object.subscription_id }}</h1>

                    {% if object.subscription_status == 'active' %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="delete">Delete</button>
                        </form>  
                        {% if request.user.merchant_profile.stores > object.quantity %}
                            <form action="" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-success" type="submit" name="upgrade">Upgrade</button>
                            </form>
                        {% elif request.user.merchant_profile.stores < object.quantity %}
                            <form action="" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-success" type="submit" name="downgrade">Downgrade</button>
                            </form>
                        {% endif %}
                    {% elif object.subscription_status == 'trialing' %}
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button class="btn btn-danger" type="submit" name="delete">Delete</button>
                        </form>  
                    {% else %}
                    <h1>Since your subscription is {{ object.subscription_status }}. You will have to reactiveate by purchasing another plan!</h1>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
