{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<div class="section-sm container">
    <div class="row">
        <div class="col-lg-4 offset-lg-4">
            <div class="card text-center">
                <div class="card-body">
                    <h3 class="card-title">Oops! Something Went Wrong</h3>
                    <p class="card-body">We had trouble connecting you. You may not have permission to view this page! Please: <a href="/" class="btn btn-primary-alt">Go To Home Page</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
