<!DOCTYPE html>
{% load static %}

<html>

    <head>
        <meta http-equiv="Expires" content="30">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/logo.png' %}">
        <link rel="icon" href="{% static 'img/logo/logo.png' %}">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="Gegoo Stores offers coupons to stores near by." />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'css/font.css' %}" />

        {# Global stylesheets #}
        <link rel="stylesheet" type="text/css" href="{% static 'css/waves.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'go/css/vendor.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/loader.css' %}"> -->

        <!-- Fonts -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Muli:400,700&display=swap" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:400,500,700,800|Material+Icons">

        {% block extra_styles %}

        {% endblock extra_styles %}

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}

    </head>

    <body class="{% block body_class %}{% endblock %}">

        {% block nav %}
          {% include "navbar.html" %}
        {% endblock nav %}

        {% block navigation-mobile %}
            {% include "navbar-mobile.html" %}
        {% endblock navigation-mobile %}

        {% if messages %}
          {% include "messages.html" %}
        {% endif %}

        {% block content %}{% endblock %}


        {% block footer %}
          {% include "footer.html" %}
        {% endblock footer %}

        {# Global javascript #}
        <!--
        <script type="text/javascript" src="{% static 'cookielaw/js/cookielaw.js' %}"></script> -->

        <!-- <script src="{% static 'js/docs.min.js' %}"></script> -->
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->

        <!-- Trying to replace all of these with the GO JS ASSETS below, keep for now until bug testing is complete -->

        <!-- removing the below two packages breaks the dropdown button -->
        <!-- <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.7/js/mdb.min.js"></script> -->





        <!-- Waves Effect !-->
        <script type="text/javascript" src="{% static 'js/button-wave-effect.js' %}"></script>
        <!-- Drift Chat Button
        <script type="text/javascript" src="{% static 'js/drift.js' %}"></script>!-->
        <!-- To Top Button
        <script type="text/javascript" src="{% static 'js/button_top.js' %}"></script>-->
        <!-- Navbar Color Change on Scroll
        <script type="text/javascript" src="{% static 'js/navbarscroll.js' %}"></script>!-->
        <!-- Message Timeout button !-->
        <script type="text/javascript" src="{% static 'js/message_timeout.js' %}"></script>

        <!-- Go Assets -->
        <script type="text/javascript" src="{% static 'go/js/vendor.js' %}"></script>
        <script type="text/javascript" src="{% static 'go/js/app.js' %}"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

        <script type="text/javascript" src="{% static 'js/video.js' %}"></script>

        <!-- Json Autocomplete for Search -->
        <script type="text/javascript" src="{% static 'js/search/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/search/jquery.autocomplete.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/search/our_search_code.js' %}"></script>


        {% block extrajs %}

        {% endblock extrajs %}

    </body>
</html>
