<!DOCTYPE html>
{% load static wagtailuserbar %}
<html class="no-js">
    <head>
        <meta http-equiv="Expires" content="30">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo/logo.png' %}">
        <link rel="icon" href="{% static 'img/logo/logo.png' %}">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Fonts -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'css/font.css' %}" />

        <!-- Bootstrap
        <link rel="stylesheet" type="text/css" href="{% static 'css/docs.min.css' %}"> !-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/docs.css' %}">

        <!-- Custom !-->

        <link rel="stylesheet" type="text/css" href="{% static 'css/waves.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/section.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation_button.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hero-200.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hero-300.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style-alt.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-alt.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <!-- Material Design for Bootstrap fonts and icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Material+Icons">

        {% block extra_styles %}
        
        {% endblock extra_styles %}

<style>

body {
  background-color: #f3f6fa; #f3f6fa
  font-family: Montserrat, sans-serif !important;

}


</style>

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}

        {% block nav %}
          {% include "navbar-alt.html" %}
        {% endblock nav %}
        {% if messages %}
          <div class="container-fluid messages moveInTop" id="message_container">
            <ul class="messages alert" style="list-style-type: none;">
              {% for message in messages %}
                <li class="card alert {{ message.tags }}">{{ message }}</li>
              {% endfor %}
            </ul>

            </div>

        {% endif %}

        {% block content %}{% endblock %}

        {% block footer %}
          {% include "footer-minimal.html" %}
        {% endblock footer %}

        {# Global javascript #}

        <script type="text/javascript" src="{% static 'cookielaw/js/cookielaw.js' %}"></script>

        <script src="{% static 'js/docs.min.js' %}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChmLHKBW5VXZsv5Am2kkAy4HOYqd6vd0k&callback=initMap"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>


        <!-- Waves Effect !-->
        <script type="text/javascript" src="{% static 'js/button-wave-effect.js' %}"></script>
        <!-- Drift Chat Button !-->
        <script type="text/javascript" src="{% static 'js/drift.js' %}"></script>
        <!-- To Top Button
        <script type="text/javascript" src="{% static 'js/button_top.js' %}"></script>-->
        <!-- Navbar Color Change on Scroll !-->
        <script type="text/javascript" src="{% static 'js/navbarscroll.js' %}"></script>
        <!-- Message Timeout button !-->
        <script type="text/javascript" src="{% static 'js/message_timeout.js' %}"></script>

        <!-- stripe !-->
        <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
        <script type="text/javascript" src="{% static 'js/charge.js' %}"></script>

        <script>
          $(document).ready(function() {
            {% block jquery %}
                {# add jquery to webpage #}
            {% endblock %}
            });
        </script>

        {% block extrajs %}

        {% endblock extrajs %}

    </body>
</html>
