{% load static %}

<!-- Footer section -->

<footer class="mt-3">
    <div class="py-3"></div>
  <div class="container pb-2 pt-5">
    <div class="row">
      <!--Column1-->
        <div class="col-lg-3 col-md-6 col-sm-12 mt-3 order-lg-1 order-md-1">
            <div class="footer-pad text-align-responsive">
                <!-- <span class="fs-20 title-footer">{{ SITE_NAME }}</span> -->
                <img class="img-fluid" style="max-width: 175px;" src="{% static 'img/logo/logo3.jpg' %}" alt="GEGOO LOGO">
                <p class="font-footer" style="margin-top: 2.5rem; font-size: 14px;">
                   2019 &copy; All Rights Reserved.
                </p>

            </div>
        </div>

      <!--Column2-->
      <div class="col-lg-3 col-md-6 col-sm-12 order-lg-3 order-md-3 mt-3">
        <div class="text-align-responsive">
          <span class="title-footer" style="line-height: 2rem;">Merchant</span>
            <br class="hide">
            <br>
            <a class="font-footer" style="line-height: 2rem;" href="{% url 'account_login' %}">Become a Merchant</a>
            <br>
            <a class="font-footer" style="line-height: 2rem;" href="{% url 'account_signup' %}">Pricing</a>
        </div>
      </div>

      <!--Column3-->

      <div class="col-lg-3 col-md-6 col-sm-12 order-lg-2 order-md-2 mt-3">
          <div class="text-align-responsive">
            <span class="title-footer" style="line-height: 2rem;">Coupons</span>
              <br class="hide">
              <br>
              <a class="font-footer" style="line-height: 2rem;" href="{% url 'account_login' %}">My Favorites</a>
              <br>
              <a class="font-footer" style="line-height: 2rem;" href="{% url 'account_signup' %}">Merchants</a>
              <br>
              <a class="font-footer" style="line-height: 2rem;" href="">Categories</a>
              <br>
              <a class="font-footer" style="line-height: 2rem;" href="">Cities</a>
          </div>
    </div>

    <!--Column4-->
    <div class="col-lg-3 col-md-6 col-sm-12 order-lg-4 order-md-4 mt-3">
      <div class="text-align-responsive">
          <span class="title-footer" style="line-height: 2rem;">Contact</span>
          <br class="hide">
          <br>
          <a class="font-footer" style="line-height: 2rem;" href="{% url 'contact-page' %}">Contact Us</a>
          <br>
          <a class="font-footer" style="line-height: 2rem;" href="{% url 'questions_list' %}">FAQ</a>
          <br>
          <a class="font-footer" style="line-height: 2rem;" href="tel:2487561169">Become a Merchant</a>
          <br>
          <br>
      </div>
    </div>

    <div class="col-lg-12 order-lg-5 order-md-5 mt-4">
      <hr>
    </div>
      <div class="col-lg-6 col-lg-6 col-md-6 col-sm-12 pt-2 fs-24 text-align-responsive order-lg-6 order-md-6 pb-3">
        <i class="fa fa-instagram pr-2" aria-hidden="true"></i>
        <i class="fa fa-facebook pr-2" aria-hidden="true"></i>
        <i class="fa fa-linkedin pr-2" aria-hidden="true"></i>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-align-right-responsive order-lg-7 order-md-7 pb-3">
          <a class="font-footer" style="line-height: 2rem;" href="/privacy-policy/">Privacy</a>
          <span style="color: #ccc;"> | </span>
          <a class="font-footer" style="line-height: 2rem;" href="/terms-page/">Terms</a>
          <span style="color: #ccc;"> | </span>
          <a class="font-footer" style="line-height: 2rem;" href="/site-map/">Sitemap</a>
      </div>
  </div>
  </footer>
<!-- Footer bottom-->

<!-- Footer section  ends -->
