{% load static %}

<!-- Footer section -->

<footer>
    <div class="py-3"></div>
  <div class="container pb-2 pt-5">
    <div class="row">
      <!--Column1-->
        <div class="col-lg-3 col-md-6 col-sm-12 mt-3 order-lg-1 order-md-1">
            <div class="footer-pad text-align-responsive">
                <!-- <span class="fs-20 title-footer">{{ SITE_NAME }}</span> -->
                <img class="img-fluid" style="max-width: 175px;" src="{% static 'img/logo/logo3.jpg' %}" alt="GEGOO LOGO">
                <p class="font-footer" style="margin-top: 2.5rem; font-size: 14px;">
                   2019 &copy; All Rights Reserved.
                </p>

            </div>
        </div>

      <!--Column2-->
      <div class="col-lg-3 col-md-6 col-sm-12 order-lg-3 order-md-3 mt-3">
        <div class="text-align-responsive">
          <span class="title-footer text-uppercase" style="line-height: 2rem;">Services</span>

            <br>
            <a class="font-footer" style="line-height: 2rem;" href="{% url 'users:user_rewards' %}">Redeem Points</a>
            <br>
            <a class="font-footer" style="line-height: 2rem;" href="{% url 'account_login' %}">Categories</a>
            <br>
            <a class="font-footer" style="line-height: 2rem;" href="{% url 'account_login' %}">Services</a>
            <br>
            {% if user.is_authenticated == False %}
            <a class="font-footer" style="line-height: 2rem;" href="{% url 'users:merchant_signup' %}">Become a Merchant</a>
            {% else %}
            <a class="font-footer" style="line-height: 2rem;" href="{% url 'memberships:select' %}">Become a Merchant</a>
            {% endif %}
            <br>
            <a class="font-footer" style="line-height: 2rem;" href="{% url 'account_signup' %}">Pricing</a>

        </div>
      </div>

      <!--Column3-->

      <div class="col-lg-3 col-md-6 col-sm-12 order-lg-2 order-md-2 mt-3">
          <div class="text-align-responsive">
            <span class="title-footer text-uppercase" style="line-height: 2rem;">COMPANY</span>

              <br>
              <a class="font-footer" style="line-height: 2rem;" href="{% url 'account_login' %}">About Us</a>
              <br>
              <a class="font-footer" style="line-height: 2rem;" href="{% url 'account_signup' %}">Philanthropy</a>
              <br>
              <a class="font-footer" style="line-height: 2rem;" href="">Our Partners</a>

          </div>
    </div>

    <!--Column4-->
    <div class="col-lg-3 col-md-6 col-sm-12 order-lg-4 order-md-4 mt-3">
      <div class="text-align-responsive">
          <span class="title-footer text-uppercase" style="line-height: 2rem;">RESOURCES</span>

          <br>
          <a class="font-footer" style="line-height: 2rem;" href=" {% url 'support:contact-page' %}">Contact Us</a>
          <br>
          <a class="font-footer" style="line-height: 2rem;" href="{% url 'support:questions_list' %}">Help & Support</a>
          <br>
          <a class="font-footer" style="line-height: 2rem;" href="tel:2487561169">Facebook</a>
          <br>
          <br>
      </div>
    </div>

    <div class="col-lg-12 order-lg-5 order-md-5 mt-4">
      <hr>
    </div>
      <div class="col-lg-6 col-lg-6 col-md-6 col-sm-12 pt-2 fs-24 text-align-responsive order-lg-6 order-md-6 pb-3">
        <i class="fa fa-instagram pr-2" aria-hidden="true"></i>
        <i class="fa fa-facebook pr-2" aria-hidden="true"></i>
        <i class="fa fa-linkedin pr-2" aria-hidden="true"></i>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 text-align-right-responsive order-lg-7 order-md-7 pb-3">
          <a class="font-footer" style="line-height: 2rem;" href="/privacy-policy/">Privacy</a>
          <span style="color: #ccc;"> | </span>
          <a class="font-footer" style="line-height: 2rem;" href="/terms-page/">Terms</a>
          <span style="color: #ccc;"> | </span>
          <a class="font-footer" style="line-height: 2rem;" href="/site-map/">Sitemap</a>
      </div>
  </div>
  </footer>
<!-- Footer bottom-->

<!-- Footer section  ends -->
