
{% load static %}
{% load wagtailcore_tags %}

<!-- Footer section -->

<footer>

    <div class="py-5"></div>
  <div class="container bg pb-5">
    <div class=" shadow-2 banner" data-aos="fade-up">
          <div class="row">
            <div class="col-lg-9">
                <h4 class="text-white">Ready to start a project?</h4>
                <p>Let's build something together!</p>
            </div>
            <div class="col-lg-3">
                <a href="{% slugurl 'contact' %}" class="btn btn-outline-light px-4 mt-2">Start a Project</a>
            </div>
        </div>
    </div>
    <div class="py-3"></div>
    <div class="row ">
      <!--Column1-->
        <div class="col-md-3 col-sm-12 mt-3">
            <div class="footer-pad">
                <h6> Mod Technologies </h6>
                <p class="font-footer" style="margin-top: 2.5rem; font-size: 14px;">
                   2018 &copy; All Rights Reserved.
                </p>
            </div>
        </div>
        <div class="offset-lg-1"></div>
      <!--Column2-->
      <div class="col-md-2 col-sm-12 mt-3">
        <div class="font-thick">
            <a style="line-height: 2rem;" href="{% url 'memberships:select' %}">Pricing</a>
            <br>
            <!--<a style="line-height: 2rem;" href="#">Blog</a>
            <br>-->
            <a style="line-height: 2rem;" href="{% slugurl 'contact' %}">Contact</a>
        </div>
      </div>
      <!--Column3-->
      <div class="col-md-2 col-sm-12 mt-3">
        <div class="font-thick ">
            {% if not request.user.is_authenticated %}
            <a style="line-height: 2rem;" href="{% url 'account_login' %}">Log in</a>
            <br>
            {% else %}
            {% endif %}
            <a style="line-height: 2rem;" href="{% url 'memberships:select' %}#faq">FAQ</a>

        </div>
      </div>
      <!--Column4-->
      <div class="offset-lg-1"></div>
      <div class="col-md-3 col-sm-12 mt-3">
          <div class="">
              <a style="line-height: 2rem;" href="{% slugurl 'privacy-page' %}">Privary Policy</a>
              <br>
              <a style="line-height: 2rem;" href="{% slugurl 'terms-page' %}">Terms of Use</a>

          </div>
      </div>
    </div>
    <div class="py-4"></div>
        <ul class="pull-left pl-0" style="list-style-type: none;">
          <li style="display: inline; margin-right: 4px;"><a href="https://www.facebook.com/modtechnology/?eid=ARCs8uUr97b_fqg1XSWD-SU6-wL1FOZdNwtgOJHFRgYD2AFWzC-VEbGpL3mXkwXBMJwDlDP0vQd71FGX"><i class="fa fa1 fa-facebook" aria-hidden="true"></i></a>
          <li style="display: inline; margin-right: 4px;"><a href="https://www.linkedin.com/in/dominic-mazzola-3833a686/"><i class="fa fa1 fa-linkedin" aria-hidden="true"></i></a>
        </ul>
  </div>
  </footer>
<!-- Footer bottom-->

<!-- Footer section  ends -->
