{% load static %}

<!-- Generic Navigation !-->
{% if promotionActive != False %}
  {% block promotion %}
    {% include "promotion.html" %}
  {% endblock promotion %}
{% endif %}
    <nav class=" navbar navbar-default shadow-0 navbar-expand-lg hide" id="mynav">
      <div class="container hide" >
          <a class="navbar-brand text-center" href="/">
              <!-- <img class="shadow-0 mb-2" src="{% static 'img/logo/logo.png' %}" width="25px" alt="TODO"> -->
              <span class="nav-brand"><span class="text-primary fw-7">Brave</span>Printing</span>

          </a>
          <form class="search-form-container navbar-brand ml-2" action="/find/" method="get" >
              <div class="ml-3" style="width: 100%;">
                  <div class="icon-addon addon-lg" style="width: 100%;">
                      <input type="text" placeholder="Search for bumper stickers" name="q" id="q" autocomplete="off">
                       <button type="submit" class="search-icon" href="#"><i class="fa fa-search fs-20" aria-hidden="true"></i></button>
                      <div id="selction-ajax"></div>

                  </div>
              </div>
          </form>
          <div class="collapse navbar-collapse  hide" id="navbarResponsive">
              <ul class="nav navbar-nav ml-auto" id="example-one">
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'cart:products' %}" id="">{% if request.path == '/cart/products/' %}<strong>Shop</strong>{% else %} Shop {% endif %}</a>
                  </li>
                {% if not request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'account_login' %}" id="">Sign In</a>
                </li>
                {% else %}
                  <li class="nav-item dropdown " style="z-index: 500;">
                    <a class="nav-link " id="messagesDropdown"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Account
                    </a>
                      <div class="dropdown-menu dropdown-menu-small" aria-labelledby="messagesDropdown">
                        <a {% if request.path == url3 %} class="text-success dropdown-item" {% elif request.path == url4 %} class="text-success dropdown-item" {% else %} class="dropdown-item" {% endif %} href="{% url 'users:userPage' %}">
                          Profile
                        </a>
                        <a {% if request.path == url3 %} class="text-success dropdown-item" {% elif request.path == url4 %} class="text-success dropdown-item" {% else %} class="dropdown-item" {% endif %} href="{% url 'contact-page' %}">
                          Support
                        </a>
                        <a {% if request.path == url3 %} class="text-success dropdown-item" {% elif request.path == url4 %} class="text-success dropdown-item" {% else %} class="dropdown-item" {% endif %} href="{% url 'shoppingcart:refund-select' %}">
                          Returns
                        </a>
                        {% if request.user.is_superuser %}
                        <a class="dropdown-item" href="/admin/">
                          Admin Panel
                        </a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{% url 'account_logout' %}">
                          Logout
                      </a>
                    </div>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link pt-0" href="{% url 'shoppingcart:order-summary' %}" id=""><i class="fa fa-shopping-cart fs-28" aria-hidden="true"></i></a>
                </li>
              </ul>
          </div>
        </div>
    </nav>

<!--
    <div class="navbar navbar-expand-lg hide navbar-lower">
        <div class="container-fluid hide" style="padding-left: 10%; padding-right: 10%;">
            <ul class="nav navbar-nav" id="example-one">
                <li class="nav-item">
                  <a class="nav-link"  id="">Messages</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link"  id="">Orders</a>
                </li>
            </ul>
        </div>
    </div>
-->


    <!-- Custom Navigation 100 !-->
    <div class="unhide" style="width:0; height:0; left:0; top: 0; position; fixed;">
      <div class="navigation__bar"></div>
        <input type="checkbox" class="navigation__checkbox" style="display: none;" id="navi-toggle">
        <label for="navi-toggle" class="navigation__button">
            <span class="navigation__icon">&nbsp;</span>
        </label>

        <label for="">
            <a class="navigation__search" href="{% url 'haystack_search' %}">
              <span class="mt-5"><i class="fa fa-search" aria-hidden="true"></i></span>
            </a>
        </label>
        <a class="navigation__logo" href="/">
          <span class="mt-4 fs-18">Brave</span>
        </a>
        <a class="navigation__cart" href="{% url 'shoppingcart:order-summary'%}">
          <span class="mt-4"><i class="fa fa-shopping-cart" aria-hidden="true"></i></span>
        </a>

        <!-- <div class="navigation__background-search">&nbsp;</div> -->
        <div class="navigation__background">&nbsp;</div>
        <div class="navigation__background-2">&nbsp;</div>


        <nav class="navigation__nav">

            <ul class="navigation__list">
              {% if not request.user.is_authenticated %}
              <li class="navigation__item mb-3"><a href="{% url 'account_signup' %}" class="btn btn-primary-alt px-4 py-2" style="">Join </a></li>
              <li class="navigation__item"><a href="{% url 'account_login' %}" class="navigation__link" style="">Sign In</a></li>
              {% else %}
              <li class="navigation__item"><a href="{% url 'users:userPage' %}" class="navigation__link" style="">Account</a></li>
              {% if request.user.is_superuser %}
              <li class="navigation__item"><a href="/admin/" class="navigation__link" style="">Admin Panel</a></li>
              {% endif %}
              <li class="navigation__item"><a href="{% url 'account_logout' %}" class="navigation__link text-danger" style="">Log Out</a></li>
              {% endif %}
              <li class="navigation__item text-black mt-5 fs-14" style="color: #111; border-bottom: 1px solid #6a6a6a;">General</li>
              <li class="navigation__item "><a href="{% url 'shoppingcart:products' %}" class="navigation__link" style="">Shop</a></li>
              <li class="navigation__item"><a href="{% url 'home-page' %}" class="navigation__link" style="">Home</a></li>
              <li class="navigation__item"><a href="{% url 'shoppingcart:refund-select' %}" class="navigation__link" style="">Return</a></li>
              <li class="navigation__item"><a href="{% url 'contact-page' %}" class="navigation__link" style="">Support</a></li>
            </ul>
        </nav>
    </div>
