{% load static %}

<!-- Generic Navigation !-->


    <nav class=" navbar navbar-default shadow-0 navbar-expand-lg hide" id="mynav">
      <div class="container hide" >
          <a class="navbar-brand text-center" href="/">
              <!-- <img class="shadow-0 mb-2" src="{% static 'img/logo/logo.png' %}" width="25px" alt="TODO"> -->
              <span class="nav-brand text-gray-700 fw-6"><span class="text-primary fw-7">GE</span>GOO</span> <span class="text-primary ls-2">Support</span>
          </a>
            <div class="collapse navbar-collapse  hide" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" id="example-one">
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link text-primary" href="{% url 'account_signup' %}" id="">Sign Up</a>
                    </li>
                    <li class="nav-item pt-1 text-secondary">
                      <span>|</span>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'account_login' %}" id="">Sign In</a>
                    </li>
                    {% else %}

                <!-- <li class="nav-item">
                  <a class="nav-link" href="#" id="">{% if request.path == '/cart/products/' %}<strong>My Favorites</strong>{% else %} My Favorites {% endif %}</a>
                </li> -->

                  <li class="nav-item dropdown " style="z-index: 500;">
                    <a class="nav-link " id="messagesDropdown"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.username }}
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 pb-1 icon-cheveron-down-circle"><circle cx="12" cy="12" r="10" class="fill-white"/><path class="secondary" d="M15.3 10.3a1 1 0 0 1 1.4 1.4l-4 4a1 1 0 0 1-1.4 0l-4-4a1 1 0 0 1 1.4-1.4l3.3 3.29 3.3-3.3z"/></svg>
                    </a>
                      <div class="dropdown-menu dropdown-menu-small" aria-labelledby="messagesDropdown">
                        <a class="dropdown-item" href="{% url 'users:userPage' %}">
                          Dashboard
                        </a>
                        <a class="dropdown-item" href="{% url 'contact-page' %}">
                          My Favorites
                        </a>
                        <a class="dropdown-item" href="#">
                          My Merchants
                        </a>
                        <a class="dropdown-item" href="{% url 'users:user_location' %}">
                          My Location
                        </a>
                        <a class="dropdown-item" href="#">
                          Settings
                        </a>
                        {% if request.user.is_superuser %}
                        <a class="dropdown-item" href="/admin/">
                          Admin Panel
                        </a>
                        {% endif %}
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="{% url 'account_logout' %}">
                          Logout
                      </a>
                    </div>
                  </li>
                {% endif %}

              </ul>
          </div>
        </div>
    </nav>
