{% load static %}

<!-- Generic Navigation !-->

    <nav class=" navbar navbar-default shadow-0 navbar-expand-lg hide" id="mynav">
      <div class="container hide">
          <ul class="navbar-nav ml-auto" id="example-one">
              <li class="nav-item dropdown  list-unstyled" style="z-index: 500;">
                <a class="" id="messagesDropdown"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <label for="navi-toggle" class="navigation__menu__button">
                        <span class="navigation__icon">&nbsp;</span>
                    </label>
                </a>
                  <div class="dropdown-menu dropdown-menu-small shadow-2" aria-labelledby="messagesDropdown">
                    <a class="dropdown-item" href="/">
                    Home
                    </a>
                    <a class="dropdown-item" href="{% url 'users:userPage' %}">
                      Who We Are
                    </a>
                    <a class="dropdown-item" href=" {% url 'support:about-page' %}">
                      About Us
                    </a>
                    <a class="dropdown-item" href="{% url 'support:contact-page'%}">
                      Contact Us
                    </a>
                    <a class="dropdown-item" href="#">
                      Our Partners
                    </a>
                </div>
              </li>
          </ul>


          <a class="navbar-brand text-center" href="/">
              <img class="shadow-0 mb-2" src="{% static 'img/logo/navbrand.jpg' %}" width="140px" alt="Navigation Branding Logo GEGOO">
              <!-- <span class="nav-brand fs-24 text-gray-700 fw-6"><span class="text-primary fw-7">GE</span>GOO</span> -->
          </a>
            <div class="collapse navbar-collapse  hide" id="navbarResponsive">
                <form class="search-form-container-navbar ml-2" action="/find/" method="get" >
                    <div class="ml-3">
                        <div class="icon-addon addon-lg">
                            <input type="text" placeholder="Search Businesses and Services" name="q" id="q" autocomplete="off">
                                <button type="submit" class="search-icon" href="#"><i class="fa fa-search fs-20" aria-hidden="true"></i></button>
                            <div id="selction-ajax"></div>
                        </div>
                    </div>
                 </form>
                <ul class="navbar-nav ml-auto" id="example-one">
                    {% if city %}
                   <li class="nav-item dropdown " style="z-index: 500;">
                        <a class="nav-link text-primary" id="messagesDropdown"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ city }}, {{ state }}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4  icon-location-pin"><path class="fill-primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path class="fill-primary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z"/></svg>
                        </a>
                        {% if not request.user.is_authenticated %}
                        <div class="dropdown-menu dropdown-menu-small" aria-labelledby="messagesDropdown">
                            <a class="dropdown-item" href="{% url 'account_signup' %}">
                              Change Location
                            </a>
                        </div>
                        {% else %}
                        <div class="dropdown-menu dropdown-menu-small" aria-labelledby="messagesDropdown">
                            <a class="dropdown-item" href="{% url 'users:user_location' %}">
                              Change Location
                            </a>
                        </div>
                        {% endif %}
                    </li>
                    {% endif %}
                    {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link " href="{% url 'account_login' %}" id="">Sign In</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link btn btn-primary-alt text-white" style="font-weight: 600;" href="{% url 'account_signup' %}" id="">Sign Up</a>
                    </li>

                    {% else %}

                    <li class="nav-item dropdown " style="z-index: 500;">
                        <a class="nav-link pt-0" id="messagesDropdown"  href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-10  icon-user-circle"><circle cx="12" cy="12" r="10" class="primary"/><path class="fill-gray-500" d="M3.66 17.52A5 5 0 0 1 8 15h8a5 5 0 0 1 4.34 2.52 10 10 0 0 1-16.68 0zM12 13a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/></svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-small shadow-2" aria-labelledby="messagesDropdown">
                                <div class="pt-1">
                                    <a class="dropdown-item" href="{% url 'users:userPage' %}">
                                        <span class="fs-18 mb-1">{{ user.username }}</span><br>
                                        <span class="fs-12 ">View Profile</span>
                                    </a>
                                </div>
                            <div class="dropdown-divider"></div>
                            {% if user.is_merchant == False %}
                                <a class="dropdown-item" href="{% url 'users:user_favorites' %}">
                                  My Favorites
                                </a>
                                <a class="dropdown-item" href="{% url 'users:user_merchants' %}">
                                  My Merchants
                                </a>
                                <a class="dropdown-item" href="{% url 'users:user_location' %}">
                                  My Location
                                </a>
                            {% else %}
                                <a class="dropdown-item" href="{% url 'users:merchant_store_list' %}">
                                  My Stores
                                </a>
                                <a class="dropdown-item" href="{% url 'users:merchant_offer_list' %}">
                                  My Offers
                                </a>
                                <a class="dropdown-item" href="{% url 'users:merchant_testimonial_list' %}">
                                  My Reviews
                                </a>
                                <a class="dropdown-item" href="{% url 'users:subscription_list' %}">
                                  My Subscription
                                </a>
                            {% endif %}
                                <a class="dropdown-item" href="{% url 'account_set_password' %}">
                                  Settings
                                </a>
                            {% if request.user.is_superuser %}
                                <a class="dropdown-item" href="/admin/">
                                  Admin Panel
                                </a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="{% url 'account_logout' %}">
                                Logout
                            </a>
                        </div>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
