{% extends "base-alt.html" %}
{% load crispy_forms_tags %}

{% block title %}Contact Form{% endblock %}

{% block content %}
<div class="container text-center" style="height: 100vh; margin-top: 10rem;">
    <h1 class="fw-6 fs-40">Schedule Your First Call With Our Amazing Team...</h1>
    <h2 class="fw-5 fs-22"><span class="text-success">Attention:</span> Jump start your success by scheduling your FREE Brainstorming session...</h2>
    <hr>
    <div class="btn btn-success-alt fs-22 mt-4 px-5 py-4" style="border-radius: 0.125rem; line-height: 1.5rem;" >Free Consultation - No Commitment Necessary</div>

    <div class="card mt-5" style="box-shadow: none; border: 1px solid #e1e1e1;">
      <div class="card-title text-left p-5">
          <h4>Schedule Apposssintment</h4>
      </div>
      <div class="card-body radio-toolbar">
        <form action="" method="post">
          {% csrf_token %}
          <table>
          {{ form|crispy }}


          </table>
          <input class="btn btn-success-alt " type="submit" value="Submit">
        </form>
  <span id="radio-checker">1:00pm</span>
      </div>
    </div>
</div>
{% endblock %}
