{% load static %}

{% block category_nav %}
<section class="pt-4 pb-3 container">
    <h3 class="section-header text-dark mb-3">Categories</h3>
    <div class="flex-container">
        <div class="flex-box mr-2">
            <div class="card {% if request.path == '/shop/stores/' %} card-pill-active {% else %} card-pill {% endif %}">
                <a href="{% url 'portal:consumer_store_list' %}">
                    <div class="card-body text-center vertical-container" style="height: 100%;">
                        <div class="vertical-alignment">
                            All Services
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex-box mx-2">
            <div class="card {% if 'auto' in request.path %} card-pill-active {% else %} card-pill {% endif %}">
                <a href="{% url 'portal:category_detail' slug='auto' %}">
                    <div class="card-body text-center">
                        <i class="fa fa-car fs-28 pt-1" aria-hidden="true"></i>
                        <br>
                        Auto
                    </div>
                </a>
            </div>
        </div>
        <div class="flex-box mx-2">
            <div class="card {% if 'food' in request.path %} card-pill-active {% else %} card-pill {% endif %}">
                <a href="{% url 'portal:category_detail' slug='food' %}">
                    <div class="card-body text-center vertical-container">
                        <div class="vertical-alignment">
                            <i class="fa fa-cutlery fs-28 pt-1" aria-hidden="true"></i>
                            <br>
                            Food
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex-box mx-2">
            <div class="card {% if 'community' in request.path %} card-pill-active {% else %} card-pill {% endif %}">
                <a href="{% url 'portal:category_detail' slug='community' %}">
                    <div class="card-body text-center vertical-container">
                        <div class="vertical-alignment">
                            <i class="fa fa-plane fs-28 pt-1" aria-hidden="true"></i>
                            <br>
                            Community
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex-box mx-2">
            <div class="card {% if 'Beauty' in request.path %} card-pill-active {% else %} card-pill {% endif %}">
                <a href="{% url 'portal:category_detail' slug='Beauty' %}">
                    <div class="card-body text-center vertical-container">
                        <div class="vertical-alignment">
                            <i class="fa fa-scissors fs-28 pt-1" aria-hidden="true"></i>
                            <br>
                            Beauty
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="flex-box mx-2">
            <div class="card {% if 'health' in request.path %} card-pill-active {% else %} card-pill {% endif %}">
                <a href="{% url 'portal:category_detail' slug='health' %}">
                    <div class="card-body text-center vertical-container">
                        <div class="vertical-alignment">
                            <i class="fa fa-tablet fs-28 pt-1" aria-hidden="true"></i>
                            <br>
                            Health
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="flex-box ml-2">
            <div class="card {% if 'construction' in request.path %} card-pill-active {% else %} card-pill {% endif %}">
                <a href="{% url 'portal:category_detail' slug='construction' %}">
                    <div class="card-body text-center vertical-container">
                        <div class="vertical-alignment">
                            <i class="fa fa-wrench fs-28 pt-1" aria-hidden="true"></i>
                            <br>
                            Construction
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="flex-container mt-3">

    </div>
</section>
{% endblock category_nav %}
