{% extends "base-alt.html" %}

{% block title %}Delete Confirmation{% endblock %}

{% block content %}

<div class="container view">
  <div class="row" style="top: 15%; position: relative;">
    <div class="offset-lg-2 col-lg-8">
      <div class="card">
        <div class="card-body text-center">
          <h1>Delete Course</h1>
          <p>Are you sure you want to delete the Course: {{ course }}?</p>
          <form action="" method="POST">
            {% csrf_token %}
            <input class="btn btn-primary bg-danger shadow px-4 my-3" type="submit" value="Yes, delete.">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
