{% extends "base-video.html" %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Lesson Detail{% endblock %}

{% block post_detail_link %}
<li>{{ object.title }}</li>
{% endblock %}



{% block content %}
	<body ng-app="app">
		<div class="loader">
			<img src="{% static 'img/loading.gif' %}" alt="loading">

			<h3 class="text-muted mx-3"></h3>
		</div>
		<section class='global-wrapper' ng-controller="ctrl">
			<aside>
				<div class="icon">
					<a href="{% slugurl 'home' %}">
						<img class="" src="{% static 'img/stemlogo2.png' %}" width="44px" height="38px" alt="Card image">
					</a>
				</div>
				<!--top nav -->
				<ul>
					<li>
						<div>
							<a href="{% url 'portal:course_detail' object.course.slug %}">
								<strong><span class="text-primary">{{ object.course.title }}</span></strong>
							</a>
						</div>
					</li>
					{% for object in lesson_list %}
					<li>
						<a href="{{ object.get_absolute_url }}" class="card-full-link" style="text-decoration: none;">
							<div class="nav-item">
								<i class="material-icons text-left">play_circle_outline</i>
								<span>{{ object.title }}</span>
							</div>
						</a>
					</li>
					{% endfor %}
				</ul>
				<!--bottom nav -->
				<ul>
					<li>
						<div class="nav-item">
							<i class="material-icons">settings</i>
							<span>Settings</span>
						</div>
					</li>
					<li>
						<div class="nav-item">
							<i class="material-icons">launch</i>
							<span>Courses
								<div class='container'>
									<h1>Lesson Detail View</h1>
									<div class='row'>
										<div class='col-sm-6 col-md-6'>
											{% if object is not None %}
											<h3>{{ object.title }}</h3>
											<p>{{ object.description }}</p>


											{% else %}
											<h3>Upgrade membership</h3>
											<p>To view this course you'll need to upgrade your membership</p>
											<br>
											<a href="{% url 'memberships:select' %}"><button class="btn btn-warning">Check out memberships</button></a>
											<hr>
											{% endif %}
										</div>
									</div>
								</div>
							</span>
						</div>
					</li>
					<li>
						<div class="nav-item">
							<i class="material-icons">info_outline</i>
							<span>Contact Us</span>
						</div>
					</li>
				</ul>
			</aside>
			<main id="main" style="background-image: linear-gradient(180deg, #3a75c1, #2ac399);">
				<div id="blackout-on-hover"></div>
				<header>
						<nav>
							<h5 class="float-left pt-2 pl-3">
								{{ object.title }}
								<a style="position: absolute;"href="{% url 'portal:course_list' %}">
									Go to Courses
								</a>
							</h5>
						</nav>
				</header>
				<video  style="display: block; margin: 0 auto; margin-top: 3rem;" width="80%" height="80%" controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen poster="{{ object.course.image_url }}">
    				<source src="{{ object.video_url }}" type="video/mp4">Sorry, your browser doesn't support embedded videos.
				</video>
				<div class="text-center my-4" style="width: 80%; margin: auto; display: block;">
					<div class="row">

						<div class="col-xl-3 col-lg-6 "><a  href="{% url 'portal:previous_lesson' object.course.slug object.ordering_id %}" class="btn btn-xl btn-action"><i class="fa fa-arrow-left" aria-hidden="true"></i> Previous Lesson</a></div>
						<div class="col-xl-3 col-lg-6 order-xl-1 order-2"><a  href="{% url 'portal:course_list' %}" class="btn btn-xl btn-action"><i class="fa fa-download mr-2" aria-hidden="true"></i> Lesson PDF</a></div>
						<div class="col-xl-3 col-lg-6 order-xl-1  order-2"><a  href="{% url 'portal:course_list' %}" class="btn btn-xl btn-action"><i class="fa fa-download mr-2" aria-hidden="true"></i> Powerpoint Document</a></div>
						<div class="col-xl-3 col-lg-6 order-xl-2 order-1"><a  href="{% url 'portal:next_lesson' object.course.slug object.ordering_id %}" class="btn btn-xl btn-action">Next Lesson <i class="fa fa-arrow-right" aria-hidden="true"></i></a></div>
					</div>
				</div><div class="py-5"></div>
				</div><div class="py-5"></div>
				<div class="container text-white">
						<h1>Welcome to {{ object.title }}</h1>
						<hr style="background-color: #fff;">
						<p>{{ object.description }}</p>
						<div class="py-4"></div>
						<p>{{ object.detailed_description }}</p>
				</div>
				<div class="py-5"></div>
			</main>
		</section>
	</body>
{% endblock %}
