{% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}

<div style="background-color: #f3f3f3;
  font-family: Roboto, Helvetica, sans-serif !important;">
  <div style="  height: 100%;
    padding: 0;
    margin: 40px 0 0 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: center;">

    <div style="width: auto;">

      <div style="  background-color: #fff;
        padding: 3rem;
        max-width: 500px;
        height: 34rem;
        margin: 15px;
        line-height: 20px;
        color: #3a3a3a;
        font-size: 1em;
        text-align: left;">
        <div style=" text-align: center; font-family: Roboto, Helvetica, sans-serif !important;">{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
        <h1>Mod Technologies</h1> <br>
        <h3>Subscription Cancellation Notice</h3><br>
        </div>
        <hr>
        <br>
        <br>
        <p>Hi {{ user_display }}, <br>
        You're receiving this e-mail because you canceled your Mod Technologies monthly subscription.
        {% endblocktrans %}{% endautoescape %}
        <br>
        <br>
        We are sad to see you go!</p>
        <br>
        <br>
        <a href="https://www.ModTechnologies.io/contact/" style="color: #3b8dff;">Contact Us</a> | <a href="https://www.ModTechnologies.io/terms-page/" style="color: #3b8dff;">Terms and Conditions</a>
      </div>
    </div>
  </div>
</div>
