{% extends 'base-alt.html' %}

{% block content %}
<div class="container">
    <h1 class="mt-3" style="color: rgb(117,5,171)">Accounts</h1>

    <div class="row">
        <div class="col-8">
            <div class="search-form-container-faq my-3">
                <div class="search-box icon-addon addon-lg" style="width: 100%;">
                    {% csrf_token %}
                    <input type="text" style="" id="search" name="search" placeholder="Search Frequently Asked Questions" autocomplete="off"/>
                        <button type="submit" class="search-icon" href="#"><i class="fa fa-search fs-20" aria-hidden="true"></i></button>
                    <div id="selction-ajax"></div>
                </div>
            </div>
            <div class="row" id="search-results"></div>
        
        {% for FAQ in object_list %}
        <div class="card border-0">
            <div class="card-body">
                <h3 class="card-title">
                    <a href="{{ FAQ.get_absolute_url }}">
                        {{ FAQ.question }}
                    </a>
                </h3>
                <p class="card-text">
                    {{ FAQ.content }}
                </p>
                <a href="" class="card-link">
                    {{ FAQ.context }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="col-4">
        <div class="card mt-3">
            <div class="card-body">
                <a href="" class="card-link text-decoration-none">
                    Contact Support
                </a>
                <p class="card-text">Please let us know how we can improve our support</p>
                <hr>
                <h3 class="card-title">Popular Topics</h3>
                <ul class="list-group list-unstyled">
                    <li>
                        <a href="{% url 'portal:faq-account' %}" class="text-decoration-none">
                            {{ context1.title }}
                        </a>
                        <!-- <span class="badge badge-pill">1</span> -->
                    </li>
                    <li>
                        <a href="{% url 'portal:faq-payment' %}" class="text-decoration-none">
                            {{ context2.title }}
                        </a>
                        <!-- <span class="badge badge-pill">1</span> -->
                    </li>
                    <li>
                        <a href="{% url 'portal:faq-acceptable-offers' %}" class="text-decoration-none">
                            {{ context3.title }}
                        </a>
                        <!-- <span class="badge badge-pill">1</span> -->
                    </li>
                    <li>
                        <a href="{% url 'portal:faq-account' %}" class="text-decoration-none">
                            {{ context4.title }}
                        </a>
                        <!-- <span class="badge badge-pill">1</span> -->
                    </li>
                    <li>
                        <a href="{% url 'portal:faq-account' %}" class="text-decoration-none">
                            {{ context5.title }}
                        </a>
                        <!-- <span class="badge badge-pill">1</span> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}