<section>
  <div class="container-fluid section-alternate">
    <div class="container my-5" id="events">
      <div>
        <h2 class="text-white text-center mt-5">Events</h2>
      </div>
      <hr class="mb-5" style="background-color: #fff;">
        <div class="row">
          {% for event in page.special_events %}
          <div class="col-lg-4 mb-5">
            <div class="card" style="width: 100%; border: 0; box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);">
              <img class="" src="{% static 'img/pic7.png' %}" style="width:100%;" alt="Card image">
              <div class="card-nav text-white top-left" >
                <h6 class="ml-3 mt-2" style="padding-top: .25em;">{{ event.date }}</h6>
              </div>
              <div class="card-body" style="overflow-y: auto; background-color: #fff;">
                <h4 class="card-text mt-2 px-2">{{ event.title }} </h4>
                <p class="card-text mt-3  px-2">{{ event.specific.body|richtext }}</p>
                <div class="text-center">
                  <a href="" class="btn bg-primary  mt-4 mb-3 px-4 shadow" >Register</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>
</section>
