{% load static %}
{% get_media_prefix as MEDIA_URL %}
<!doctype html>

<html>
<head>
  <meta charset="utf-8" />
  <title>{{ invoice }}</title>
  <!-- Fonts -->
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'css/font.css' %}" />

  <!-- Bootstrap
  <link rel="stylesheet" type="text/css" href="{% static 'css/docs.min.css' %}"> !-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/docs.css' %}">

  <!-- Custom !-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/section.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/search.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/navigation_button.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/hero-200.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/hero-300.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/carousel.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style-alt.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/navbar-alt.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/pdf.css' %}">
  <!-- Material Design for Bootstrap fonts and icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Material+Icons">

  <style>
  @page {
    size: a4 portrait;
    margin: 2.5cm 1.5cm;

    @frame footer_name {
      -pdf-frame-content: footer_content;
      bottom: 0;
      margin-left: 0;
      margin-right: 0;
      height: 1cm;
    }
  }
  #footer_content {
    color: #666;
    font-size: 10pt;
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  .container {
    display: inline;
    width: 50%;

  }
  .item {
  flex-grow: 1;
  }

  ul {
    list-style-type: none;
  }

  .invoice-info {

    text-align: left;

  }

  address {
    text-align: left;
  }
  h2 {
    font-size: 18px;
    line-height: 18px;
  }
  .text-left {
    text-align: left;
  }
  .text-right {
    text-align: right;
  }

  .text-center {
    text-align: center;
  }
  thead{
    line-height: 30px;

  }

  </style>
</head>
<body>
<div class="container">
            <div class="item">
                <img src="https://i.imgur.com/9qbgRj0.png" width="100" height="100" alt="First slide">
                <img  src="{% static 'img/logo_10.svg'%}" width="100" height="100" alt="First slide">
            </div>
              <address class="" >
                <h2>Mod Technologies LLC
                <span style="font-size: 12px; font-weight: 400;"><br>26300 Johns rd, <br> South Lyon, MI 48178 <br>Hello@modwebservices.com</span>
              </h2>
              </address>
              <br>
            <div class="invoice-info" >
              Invoice Number: #{{ invoice.invoice_id }}<br>
              Issue Date: {{ invoice.issue_date }}<br>
              Due Date: {{ invoice.due_date }}<br>
              Amount due: <strong>${{invoice.amount }}</strong>
            </div>
            <br>
            </div>
            <div class="col-lg-12">
              <span style="font-weight: 500;">Bill to:</span> <br>
              first last <br>
              address <br>
              state
            </div>
            <br>

                  <div class="table-responsive">
                      <table class="table" style="">
                          <thead>
                              <tr>
                                <th scope="col" class="text-dark text-left">Item</th>
                                <th scope="col" class="text-dark text-left">Quantity</th>
                                <th scope="col" class="text-dark text-left">Unit price</th>
                                <th scope="col" class="text-dark text-left">Amount</th>
                              </tr>
                          </thead>

                          <tbody>
                                {% for object in invoice.all_charges %}
                                <hr>
                                <tr>
                                  <td class="text-dark text-center">{{ object.description }}</td>
                                  <td class="text-dark text-center">{{ object.hours }}</td>
                                  <td class="text-dark text-center">{{ object.rate }}</td>
                                  <td class="text-dark text-center">{{ object.charge_total }}</td>
                                </tr>
                                {% endfor %}

                          </tbody>
                      </table>
                      <hr>
                  </div>
            <br>
              <div class="col-lg-5">
                  <p class="py-0"><strong>Discount(s) Applied:</strong></p>
                  1. {{ invoice.discount.name }}: -{{ invoice.discount.get_percentage }}%
              </div>
              <div class="row text-right">
                  <h6>Subtotal........${{ invoice.amount }} <br>
                  Discounts...({{ invoice.discount.get_percentage }}%) <br>
                  Total..............${{ invoice.amount }}</h6>
              </div>
              <hr>
              <div class="row text-right" style="font-size: 14px;">
                  <h3>Paid......$0.00 <br>
                  <span ><strong>Due...${{ invoice.amount }}</strong></span></h3>
              </div>
      <pdf:nextpage>
      <div id="footer_content">
        Documental generated at {% now "y-m-d" %} |
        Page <pdf:pagenumber> of <pdf:pagecount>
        | Invoice obtained from ModTechnologies.io
      </div>
  </div>
</body>
