// BASE-ALT IS THE SAME AS BASE, BUT IS CONTAINS STYLE-ALT.scss

/* ANIMATION */
$mdb-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$mdb-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$mdb-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$mdb-animation-curve-default: $mdb-animation-curve-fast-out-slow-in !default;

@import "color";
@import "global";
@import "style-alt";
@import "animations";
@import "navbar-alt";
@import "buttons";
@import "sections";
@import "hero";
@import "footer";
//@import "form";
//@import "navigation_button";




body {
    margin: 0;
    font-family: Montserrat, sans-serif !important;
    background-color: $color-main;
    color: $color-white;
}

a:hover {
  color: $color-primary;
}

.text-primary {
  color: $color-primary;
}

.text-success {
  color: $color-success;
}

.text-danger {
  color: $color-danger;
}

.text-muted {
  color: $color-dark;
}
