
@import "color";

/* ANIMATION */
$mdb-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$mdb-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$mdb-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$mdb-animation-curve-default: $mdb-animation-curve-fast-out-slow-in !default;

html {
  scroll-behavior: smooth !important;
}


body {
    margin: 0;
    font-family: Montserrat, sans-serif !important;
    background-color: $color-main;
    color: #3a3a3a;

    h1 h2 h3 h4 h5 h6 {
      color: #1a1a1a;
    }

    p {
      color: $color-text;
    }

    li {
      color: $color-primary;
    }

    a {
      color: $color-primary;
    }
}


//@import "global";
//@import "animations";
//@import "navbar";
@import "buttons";
@import "sections";
@import "appointment";
@import "hero";
//@import "form";
@import "footer";
@import "text";
//@import "form";
//@import "navigation_button";








a:hover {
  color: $color-primary;
}

.text-primary {
  color: $color-primary;
}

.bg-primary {
  background-color: $color-primary;
}

.text-primary-light {
  color: $color-primary-light;
}

.text-success {
  color: $color-success;
}

.bg-success {
  background-color: $color-success;
}

.text-danger {
  color: $color-danger;
}

.text-muted {
  color: $color-dark;
}

.text-secondary {
  color: $color-secondary;
}
