// BASE-ALT IS THE SAME AS BASE, BUT IS CONTAINS STYLE-ALT.scss
@import "./utility/color";
/* ANIMATION */
$mdb-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$mdb-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$mdb-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$mdb-animation-curve-default: $mdb-animation-curve-fast-out-slow-in !default;


html {
  scroll-behavior: smooth !important;
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif !important;
    background-color: $color-background-alt !important;

    h1 h2 h3 h4 h5 h6 {
      color: #1a1a1a;
    }

    p {
      color: $color-text;
      font-family: Roboto, sans-serif !important;
    }

    li {
      color: $color-dark;
    }

    a {
      color: $color-primary;
    }
}


@import "./generic/global";
//@import "style-alt";
//@import "animations";
@import "./generic/navbar-alt";
@import "./generic/buttons";
@import "./generic/sections";
@import "./generic/mobile";
@import "./generic/footer";
@import "./generic/images";
@import "./generic/profile";
@import "./utility/text";
//@import "form";
@import "./generic/navigation_button";




a:hover {
  color: $color-primary;
}

.text-primary {
  color: $color-primary;
}

.text-success {
  color: $color-success;
}

.text-danger {
  color: $color-danger;
}

.text-muted {
  color: $color-dark;
}
