.card {
  display: inline-block;
}

.side-nav {
  width: 300px;
  position: fixed;
  z-index: 1;
  top: 70px;
  left: 25px;
  background: linear-gradient( #fd5d93, #e14eca);
  overflow-x: hidden;
  padding: 8px 0;
  border-radius: 10px;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.side-nav ul li {
  padding: 30px 30px;
}

.side-nav ul li a {
  color: #eee;
  text-decoration: none;
}

.side-nav ul li a:hover {
  color: #fff;
  text-decoration: none;
}

.side-nav ul li a i {
  color: #eee;
  text-decoration: none;
  font-size: 15px;
}

.side-nav ul li span:nth-child(2){
  font-size: 15px;
  padding-left: 10px;
}
