{% extends "base.html" %}
{% load honeypot %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}

<!--  <**************************************************************************>
     <*****                       CUSTOMER SUPPORT CARD                      *****>
     <**************************************************************************>
-->
<section class="section-sm container">
    <div class="text text-center mb-5">

       <h2 class="fw-6 fs-32 mb-4">Tell Gegoo a little about your Business</h2>
      <div class="hr-primary-sm mr-auto ml-auto"></div>
    </div>
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <div class="card p-4 shadow-2 card-border">
            <form class="card-body" action=" {% url 'support:contact-page' %}" method="POST">
                <h3 class="header text-uppercase text-primary">Merchant Approval Form</h3>
                <br>
                {% csrf_token %}
                {% render_honeypot_field "phonenumber" %}
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.non_field_errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% crispy form %}

                    {{ form.media }}

                    {% if form.errors %}
                    {% for field in form %}
                    {% for error in field.errors %}
                    <p class="text-primary"> {{ error }} </p>
                    {% endfor %}
                    {% endfor %}
                    {% endif %}
                    <div class="col-lg-12">
                        <button value="Submit" type="submit" class="btn btn-primary-alt btn-block mt-4">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</section>


 <!--  <**************************************************************************>
      <*****                          CONTACT CARDS                          *****>
      <**************************************************************************>
-->

<section class="section-md container">
    <div class="text text-center mb-5">
       <h2 class="fw-6 fs-32 mb-4">Can't find what you're looking for?</h2>
      <div class="hr-primary-sm mr-auto ml-auto"></div>
    </div>
    <div class="row">

        <div class="col-lg-4">
            <div class="card shadow-2 card-border">
                <div class="card-body p-4 pb-5 text-center">
                    <img class="img-fluid p-3" style="height: 160px;" src="{% static 'img/undraw/confirmed.svg' %}" alt="Customer Support Image Contact Us">
                    <div class="text-center">
                        <h3 class="fs-24 fw-6 text-primary mt-2">Call Us</h3>
                        <span class="text-muted fs-14">Talk to a product expert <br>
                        Call us now at: <br>
                        </span>
                        <span class="text-primary">
                            <a href="tel:#TODO">(248) 788-XXXX</a>
                        </span>
                        <br>


                        <span class="fs-14 text-muted">Mon - Fri 9:00am-5:00pm (ET)
                        <br>
                        Sat - Sun - CLOSED
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card shadow-2 card-border">
                <div class="card-body p-4 pb-5 text-center">
                    <img class="img-fluid p-3" style="height: 160px;" src="{% static 'img/undraw/mail.svg' %}" alt="Customer Support Image Contact Us">
                    <div class="text-center">
                        <h3 class="fs-24 fw-6 text-primary mt-2">Email Us</h3>
                        <span class="text-muted fs-14">365 days a year <br><br>
                        We will respond within 1 business day.
                        </span>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card shadow-2 card-border">
                <div class="card-body p-4 pb-5 text-center">
                    <img class="img-fluid p-3" style="height: 160px;" src="{% static 'img/undraw/question.svg' %}" alt="Customer Support Image Contact Us">
                    <div class="text-center">
                        <h3 class="fs-24 fw-6 text-primary mt-2">Questions?</h3>
                        <br>
                        <span class="text-muted fs-14">We would be happy to answer any questions you may have. <br>
                        <a href="mailto:#TODO" class="text-primary">Email us today!</a>
                        </span>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

  <section class="section mb-5 text-left">
      <div class="container" data-aos="fade-up">
          <div class="text text-center mb-5">
             <h2 class="fw-6 fs-32 mb-4">Frequently Asked Questions</h2>
            <div class="hr-primary-sm mr-auto ml-auto"></div>
          </div>
          <div class="row pt-4">
              <div class="col-lg-8 offset-lg-2 text-left mb-5">
                  <div class="accordion" id="myAccordion">
                      <div id="headingOne">
                          <span class="fs-14 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus text-primary" aria-hidden="true"></i></button></span>
                            <br>
                      </div>
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
                          <div class="text-black text-left py-2">
                            <br>
                            <p class="fs-14">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                          </div>
                      </div>
                      <hr>
                  </div>
                  <div class="accordion" id="myAccordion">
                      <div id="headingTwo">
                          <span class="fs-14 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus text-primary" aria-hidden="true"></i></button>
                          </span>

                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAccordion">
                          <div class="text-black py-2">
                              <br>
                              <p class="fs-14">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                          </div>
                      </div>
                      <hr>
                  </div>
                  <div class="accordion" id="myAccordion">
                      <div id="headingThree">
                          <span class="fs-14 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus text-primary" aria-hidden="true"></i></button>
                          </span>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                          <div class="text-black py-2">
                              <br>
                              <p class="fs-14">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                          </div>
                      </div>
                      <hr>
                  </div>
                  <div class="accordion" id="myAccordion">
                      <div id="headingFour">
                          <span class="fs-14 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseFour"><i class="fa fa-plus text-primary" aria-hidden="true"></i></button>
                          </span>
                      </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#myAccordion">
                          <div class="text-black py-2">
                              <br>
                              <p class="fs-14">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                          </div>
                      </div>
                      <hr>
                  </div>
                  <div class="accordion" id="myAccordion">
                      <div id="headingFive">
                          <span class="fs-14 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseFive"><i class="fa fa-plus text-primary" aria-hidden="true"></i></button>
                          </span>
                      </div>
                      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#myAccordion">
                          <div class="text-black py-2">
                              <br>
                              <p class="fs-14">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                          </div>
                      </div>
                      <hr>
                  </div>
          </div>
      </div>
      <div class="text-center">
          <a href="{% url 'support:questions_list' %}" class="btn btn-primary-alt pl-4 pr-3">
             Help Center
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-arrow-thin-right-circle"><circle cx="12" cy="12" r="10" class="secondary"/><path class="primary" d="M14.59 13H7a1 1 0 0 1 0-2h7.59l-2.3-2.3a1 1 0 1 1 1.42-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.42-1.4l2.3-2.3z"/></svg>
          </a>
      </div>
  </section>

{% endblock %}
