packages:
  yum:
    make: [] 
    automake: [] 
    gcc: [] 
    gcc-c++: []
    libcurl-devel: []
    proj-devel: []
    geos-devel: [] 
    s3cmd: []

commands:
  01_install_geos:
    command: |
      sudo wget https://gdal-repo.s3.amazonaws.com/lib/geos-3.6.4.tar.gz
      sudo mkdir -p /usr/local/geos
      sudo tar -xvf geos-3.6.4.tar.gz -C /usr/local/geos
      sudo rm -f geos-3.6.4.tar.gz
    test: "[ ! -d /usr/local/geos ]"

  02_install_proj4:
    command: |
      sudo wget https://gdal-repo.s3.amazonaws.com/lib/proj4-5.2.0.tar.gz
      sudo mkdir -p /usr/local/proj4
      sudo tar -xvf proj4-5.2.0.tar.gz -C /usr/local/proj4
      sudo rm -f proj4-5.2.0.tar.gz
    test: "[ ! -d /usr/local/proj4 ]"

  03_install_gdal:
    command: |
      sudo wget https://gdal-repo.s3.amazonaws.com/lib/gdal-2.4.4.tar.gz
      sudo mkdir -p /usr/local/gdal
      sudo tar -xvf gdal-2.4.4.tar.gz -C /usr/local/gdal
      sudo rm -f gdal-2.4.4.tar.gz
    test: "[ ! -d /usr/local/gdal ]"

