packages:
  yum:
    git: []
    postgresql93-devel: []
    libjpeg-turbo-devel: [] 

commands:
  01_install_geos:
    command: |
      sudo wget https://elasticbeanstalk-us-east-1-040148529836.s3.amazonaws.com/gdal2/geos-3.4.2.tar.gz
      sudo mkdir -p /usr/local/geos
      sudo tar -xvf geos-3.4.2.tar.gz -C /usr/local/geos
      sudo rm -f geos-3.4.2.tar.gz
    test: "[ ! -d /usr/local/geos ]"

  02_install_proj4:
    command: |
      sudo wget https://elasticbeanstalk-us-east-1-040148529836.s3.amazonaws.com/gdal2/proj4-4.9.1.tar.gz
      sudo mkdir -p /usr/local/proj4
      sudo tar -xvf proj4-4.9.1.tar.gz -C /usr/local/proj4
      sudo rm -f proj4-4.9.1.tar.gz
    test: "[ ! -d /usr/local/proj4 ]"

  03_install_gdal:
    command: |
      sudo wget https://elasticbeanstalk-us-east-1-040148529836.s3.amazonaws.com/gdal2/gdal-1.11.2.tar.gz
      sudo mkdir -p /usr/local/gdal
      sudo tar -xvf gdal-1.11.2.tar.gz -C /usr/local/gdal
      sudo rm -f gdal-1.11.2.tar.gz
    test: "[ ! -d /usr/local/gdal ]"

