option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: mysite/mysite/wsgi.py
  aws:elasticbeanstalk:application:environment:
    PATH: /usr/local/gdal/bin:$PATH
    LD_LIBRARY_PATH: /usr/local/proj4/lib:/usr/local/gdal/lib:$LD_LIBRARY_PATH
    GDAL_DATA: /usr/local/gdal/share/gdal
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "mysite.settings.dev"
    "PYTHONPATH": "/opt/python/current/app/mysite:$PYTHONPATH"
