{% extends "base-minimal.html" %}
{% load static wagtailcore_tags widget_tweaks wagtailuserbar %}
{% load honeypot %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<style>
body {
  background-color: #fafafa;
}
.colors {
  color: #1a1a1a;
  text-decoration: underline;
  text-decoration-color: #3b8dff;
}

.colors:hover {
  color:  #3b8dff;
  text-decoration: underline;
  text-decoration-color: #3b8dff;
}

</style>


    <!-- Start Services Section -->

      <div class="container-fluid contactform py-5" >
        <div class="container">
          <div class="py-5 hide"></div>
          <div class="py-5 hide"></div>
              <div class="" style="max-width: 570px;">
                  <h1 >Hello,</h1>
                  <h2 class="py-1 pb-3"><b>Let’s <a class="colors" href="#project">start a project</a> together. <br>Say <a class="colors" href="mailto:hello@modwebservices.com">hello@modwebservices.com</a></b></h2>
 `9+
 65
 \][iut]`
              </div>
            <div class="py-5"></div>
            <div class="py-5"  id="project"></div>
          <form action="{% pageurl page %}" method="POST">
              {% csrf_token %}
              <div class="row">
                  <div class="col-md-12 col-sm-12">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                    {% endif %}
                    <h2 class="py-1 pb-3" style="font-size: 28.5px; font-weight: 500;">New Business Inquiries!</h2><br>
                    <h5 class="pb-3">Complete the form below and we will be in touch.</h5><br>
                    {% render_honeypot_field "phonenumber" %}
                  </div>

                  {% for field in form.visible_fields %}
                  <div class="col-md-6 col-sm-12">
                    <div class="form-group pt-3">
                      {{ field.label_tag }}
                      {% render_field field class+="form-control" %}
                    </div>
                  </div>
                  {% endfor %}
                </div>
                <div class="pull-center">
                  <button type="submit" class="btn btn-primary-round py-3 mt-3" style="width: 10rem;">Let's Go</button>
                </div>
          </form>
        </div>
      </div>
      <!-- End Services Section -->
{% endblock %}
