{% extends "base.html" %}
{% load static %}
{% load  %}


{% block body_class %}template-homepage{% endblock %}

{% block extrastyle %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock extrastyle %}

{% block content %}

  <section class="hero">
        <div class="text">
            <h1>Tools to grow your search traffic, research your competitors and monitor your niche</h1>
            <p>Ahrefs helps you learn why your competitors rank so high and <br>what you need to do to outrank them.</p>
            <div class="hide">
              <a class="btn btn-secondary-round" href="{% url 'contact-page' %}">Start a project</a>
            </div>
            <div class="unhide">
              <a class="btn btn-secondary-round px-5" href="{% url 'contact-page' %}">Start a project</a>
            </div>

        </div>
        <div id="carouselExampleIndicators" class="carousel slide mt-5 hide" data-ride="carousel" data-aos="fade-up">
          <div class="carousel-inner ">
            <div class="carousel-item active text-center ">
              <img class="img-responsive my-4 shadow-3" src="{% static 'img/headers/real_picture.jpg' %}" alt="TODO">
            </div>
            <div class="carousel-item text-center">
              <img class="img-responsive my-4 shadow-3" src="{% static 'img/headers/real_picture.jpg' %}" alt="TODO">
            </div>
            <div class="carousel-item text-center">
              <img class="img-responsive my-4 shadow-3" src="{% static 'img/headers/real_picture.jpg' %}" alt="TODO">
            </div>
          </div>
          <a class="carousel-control-prev hide" style="opacity: 1; width: 30%;" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <div class="card-icon-circle" >
              <span class="fa fa-chevron-left text-primary" aria-hidden="true"></span>
            </div>
          </a>
          <a class="carousel-control-next hide" style="opacity: 1; width: 30%;" href="#carouselExampleIndicators" role="button" data-slide="next">
            <div class="card-icon-circle">
              <span class="fa fa-chevron-right text-primary" aria-hidden="true"></span>
            </div>
          </a>
        </div>
  </section>

  <!-- ****** Picture Gallery ******* -->

  <section class="section-md container">

      <div class="row">
          <div class="col-lg-6">
            <img class="img-responsive shadow-3" data-aos="fade-up" src="{% static 'img/headers/real_picture.jpg' %}" width="100%" alt="TODO">
          </div>
          <div class="col-lg-6">
              <div class="px-1" data-aos="fade-up">
                <h3><span style="font-size: 4rem; font-weight: 600;">01.</span>
                  <br>
                  <span style="font-size: 2rem; font-weight: 600;">If You Can Dream It, We Can Plan & Create It</span>
                </h3>
                <div class="hr-primary-gradient-sm" ></div>
                <p class="py-4 mb-0">No two projects are ever the same. That’s why we personally discuss your needs with you one-on-one via email, video chat, or over the phone to determine exactly what you want to accomplish and how we can help. Once we properly assess your needs, we develop a customized plan of action and get to work.
                <br><br>Taking a leap. Without knowing how to fly, can be costly & deadly. We want to see you soar. We'll set you up with our tidy, convenient, and super easy-to-use project management software. This is where we’ll share style inspiration, mind maps, questionnaires and any curated content.
                This is a collaboration, after all, and we care about protecting the purity of your vision.
                </p>
              </div>
          </div>
      </div>
  </section>

  <section class="section-light-md text-left" style="border-top: solid 1px #ddd; border-bottom: solid 1px #ddd">
    <div class="container">
      <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
              <div class="px-1">
                <h3><span style="font-size: 4rem; font-weight: 600;">02.</span>
                  <br>
                  <span style="font-size: 2rem; font-weight: 600;">Your Brand, Our Process</span>
                </h3>
                <div class="hr-primary-gradient-sm" data-aos="fade-right"></div>
                <p class="py-4 mb-0">We’re here to reflect your vision that you think about day in and day out. We begin to translate your vision - in style. You’ll review and approve a base concept, and than we can work through the rest. After-all, thats why you're working with the experts.
                <br><br>The future is extremely visual, and the design of your site is the first impression they’ll have of your business. In fact, most visitors decide whether they like or dislike something within five seconds of seeing it.
                <br><br>With that in mind, it's important to have a professional and attractive design that conveys the right message.</p>
              </div>
          </div>
          <div class="col-lg-6" data-aos="fade-down">
            <img class="img-responsive shadow-3" src="{% static 'img/headers/real_picture.jpg' %}" width="100%" alt="TODO">
          </div>
      </div>
    </div>
  </section>

  <section class="section-md container">
      <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <img class="img-responsive shadow-3" src="{% static 'img/headers/real_picture.jpg' %}" width="100%" alt="TODO">
          </div>
          <div class="col-lg-6" data-aos="fade-up">
              <div class="px-1">
                <h3><span style="font-size: 4rem; font-weight: 600;">03.</span>
                  <br>
                  <span style="font-size: 2rem; font-weight: 600;">Test, Tweak & Deploy</span>
                </h3>
                <div class="hr-primary-gradient-sm"></div>
                <p class="py-4 mb-0">Your visitors expect an easy to navigate, memorable and impressionable experience when they visit your website.
                <br><br>Even the best of websites can be rendered useless with a few broken links and typos. That is why we test every link, examine the copywriting with a fine tooth comb and split-test the opt-in pages. We simply want your website to be perfect.
                <br><br>Once we have tested everything and made the necessary adjustments it's ready to go live. You are now ready to deliver your business, product, or service to the world and with the push of a button it will be LIVE on the world wide web.
                You can be confident that your project will deliver.</p>
              </div>
          </div>
      </div>
  </section>

  <!-- ****** End Picture Gallery ******* -->

  <section class="section-image-grey-md ">
    <div class="container text-left" data-aos="fade-up">
      <h3 class="fs-30 fw-6">Designed By Landscapes <br> For Landscapers</h3>
      <div class="hr-primary-gradient-sm" ></div>
      <div class="py-3"></div>
          <div class="row my-5">
              <div class="col-sm-4 my-3" target="_blank" data-aos="fade-up" data-aos-duration="1500">
                <div class="text-center">
                  <!-- Create an icon wrapped by the fa-stack class -->
                  <span class="fa-stack mb-2">
                      <!-- The icon that will wrap the number -->
                      <span class="fa fa-circle fa-stack-2x text-primary"></span>
                      <!-- a strong element with the custom content, in this case a number -->
                      <strong class="fa-stack-1x text-light" style=" font-family: Arial; font-size: 15px; ">
                          1
                      </strong>
                  </span>
                </div>
                <a href="{{ object.website_url }}" >
                  <div class="card shadow-2 card-border">
                    <img class="card-img-top" src="{% static 'img/headers/real_picture.jpg' %}" alt="webdesign project thumbnail">
                  </div>
                </a>
              </div>
              <div class="col-sm-4 my-3" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1500">
                <div class="text-center">
                  <!-- Create an icon wrapped by the fa-stack class -->
                  <span class="fa-stack mb-2">
                      <!-- The icon that will wrap the number -->
                      <span class="fa fa-circle fa-stack-2x text-primary"></span>
                      <!-- a strong element with the custom content, in this case a number -->
                      <strong class="fa-stack-1x text-light" style=" font-family: Arial; font-size: 15px; ">
                          2
                      </strong>
                  </span>
                </div>
                <a href="{{ object.website_url }}" target="_blank" >
                  <div class="card shadow-2 card-border">
                    <img class="card-img-top" src="{% static 'img/headers/real_picture.jpg' %}" alt="webdesign project thumbnail">
                  </div>
                </a>
              </div>
              <div class="col-sm-4 my-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1500">
                <div class="text-center">
                  <!-- Create an icon wrapped by the fa-stack class -->
                  <span class="fa-stack mb-2">
                      <!-- The icon that will wrap the number -->
                      <span class="fa fa-circle fa-stack-2x text-primary"></span>
                      <!-- a strong element with the custom content, in this case a number -->
                      <strong class="fa-stack-1x text-light" style=" font-family: Arial; font-size: 15px; ">
                          3
                      </strong>
                  </span>
                </div>
                <a href="{{ object.website_url }}" target="_blank" >
                  <div class="card shadow-2 card-border">
                    <img class="card-img-top" src="{% static 'img/headers/real_picture.jpg' %}" alt="webdesign project thumbnail">
                  </div>
                </a>
              </div>
        </div>
        <div class="py-5"></div>
        <div class="text-center">
          <div class="text-left">
              <h4 class="mt-4">"I'm getting at least one contact a day. Today a person called and wanted fall clean up, lawn service mext summer and spring clean. Easy money, starting to realize how beneficial this website could be."</h4>
                <div class="row">
                  <div class="col-lg-1">
                      <img class="img-responsive img-circle  mt-2" data-aos="fade-in" src="{% static 'img/profile_jacob.png' %}" width="70px"  alt="TODO">
                  </div>
                  <div class="col-lg-11 pull-left">
                    <h4 class="fs-14 mb-0 mt-3 ">Jacob Gaft - Owner, Lexington Landscapes LLC</h4>
                    <span class="text-primary fs-14">September 11, 2019, 6:09 p.m.</span>
                  </div>
                </div>
            </div>
          <div class="text-center" style="display: none;">
            <a class="btn btn-primary-round fs-20" href="{% url 'contact-page' %}">View Additional Projects</a>
          </div>
        </div>
    </div>
  </section>


    <section class="section-image-grey-2-md ">
      <div class="container" data-aos="fade-up">
        <h2 class="fw-6">Why PrintRender?</h2>
        <p>Print Render is a Verfied Google Business Partner</p>
        <div class="hr-primary-gradient-sm" data-aos="fade-right"></div>
        <br>
        <div class="row">
          <div class="col-lg-6 my-3" data-aos="fade-up" >
            <div class="card stripe-primary">
              <div class="card-header">
                <h2>Multiple Revisions <span class="pull-right text-primary"><i data-feather="rotate-cw"></i></span></h2>
              </div>
              <div class="card-body ">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            </div>
          </div>
          <div class="col-lg-6 my-3" data-aos="fade-up" data-aos-delay="100">
            <div class="card stripe-primary">
              <div class="card-header">
                <h2>Experience Designers<span class="pull-right text-primary"><i data-feather="pen-tool"></i></span></h2>
              </div>
              <div class="card-body ">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            </div>
          </div>
          <div class="col-lg-6 my-3" data-aos="fade-up" data-aos-delay="200">
            <div class="card stripe-primary">
              <div class="card-header">
                <h2>3 Day Turn Around <span class="pull-right text-primary"><i data-feather="clock"></i></span></h2>
              </div>
              <div class="card-body ">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            </div>
          </div>
          <div class="col-lg-6 my-3" data-aos="fade-up" data-aos-delay="300">
            <div class="card stripe-primary">
              <div class="card-header">
                <h2>Industry Trusted<span class="pull-right text-primary"><i data-feather="heart"></i></span></h2>
              </div>
              <div class="card-body ">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ****** Logo Section ******* -->

    <section class="section-accent-xs shadow-3">
        <div class="container">
              <div class="text-center row">
                  <div class="col-lg-3 px-4">
                    <img class="img-responsive" src="{% static 'img/django_logo.svg' %}" width="160px" height="100px" alt="TODO">
                  </div>
                  <div class="col-lg-3 px-4">
                    <img class="img-responsive" src="{% static 'img/python_logo.svg' %}" width="160px" height="100px" alt="TODO">
                  </div>
                  <div class="col-lg-3 px-4">
                    <img class="img-responsive" src="{% static 'img/do_logo.svg' %}" width="220px" height="100px" alt="TODO">
                  </div>
                  <div class="col-lg-3 px-4">
                    <img class="img-responsive" src="{% static 'img/stripe_logo.svg' %}" width="160px" height="100px" alt="TODO">
                  </div>
            </div>
        </div>
    </section>

    <!-- ****** End Logo Section ******* -->

    <section class="section-darker-md">
        <div class="container" data-aos="zoom-in">
              <div class="text-center">
                <h3 class="text-white"><span class="fs-24" >
                  <span class="fw-6 fs-60 hide" style="line-height: 8rem;" >More Business Guaranteed.</span> <span class="fw-6 fs-40 unhide" style="line-height: 4rem;">10x More Business</span> <br>
                  <span class="fs-20">By Using Our Web Based Systems, Google Adwords, Analytics, Distribution & Influencer Marketing Strategies</span>
                </h3>
              <div class="hide">
                  <a class="btn btn-success-round text-white fs-22 mt-5 px-5 py-4" style="line-height: 1.5rem;" href="{% url 'contact-page' %}">Take My Proposals To The Next Level</a>
              </div>
              <div class="unhide">
                  <a class="btn btn-success-round text-white fs-18 mt-5 px-5 py-4" style="line-height: 1rem;" href="{% url 'contact-page' %}">Take My Proposals <br>To The Next Level</a>
              </div>
            </div>
        </div>
    </section>


      <!-- ****** Logo Section ******* -->

      <section class="section-alt-md" style="display: none;">
          <div class="container">
                <div class="row">
                  <div class="col-lg-12 px-5 mb-4">
                    <h2 class="text-white fw-6 fs-34">Services</h2>
                    <div class="hr-primary-gradient-sm" data-aos="fade-right"></div>
                  </div>

                    <div class="col-lg-6 px-5 py-4">
                      <div class="">
                        <i class="material-icons text-gradient" style="font-size: 5em;">devices</i>
                        <h5 class="text-uppercase text-primary-light ls-3 fw-6 pt-2">Web Applcations</h5>
                        <br>
                      </div>
                      <div class="text-left">
                        <span class="fw-5 text-left">We specialize in building high performance and scalable web applications and websites using Django Python Web Framework. Learn more about Django <a target="_blank" href="https://www.djangoproject.com/">here</a>.
                        </span>
                      </div>
                      <div class="mt-3">
                        <a href="#" class="py-1 fw-6" style="border-bottom: solid 2px #3ddb93; display: none;">
                          Learn more
                        </a>
                      </div>
                      <div class="unhide my-5" style="height: 1px; width: 100%; background-color: #bbb;"></div>
                    </div>
                    <div class="col-lg-6 px-5 py-4">
                      <div class="">
                        <i class="material-icons text-gradient"  style="font-size: 5em;">shopping_cart</i>
                        <h5 class="text-uppercase text-primary-light ls-3 fw-6 pt-2">E-Commerce</h5>
                        <br>
                      </div>
                      <div class="text-left">
                        <span class="fw-5 text-left">Our skilled team of developers will create, manage, and deliver a top-performing unqie E-Commerce site for your business.</span>
                      </div>
                      <div class="mt-3">
                        <a href="#" class="py-1 fw-6" style="border-bottom: solid 2px #3ddb93; display: none;">
                          Learn more
                        </a>
                      </div>
                      <div class="unhide my-5" style="height: 1px; width: 100%; background-color: #bbb;"></div>
                    </div>
                    <div class="col-lg-6 px-5 py-4">
                      <div class="">
                        <i class="material-icons text-gradient" style="font-size: 5em;">signal_cellular_alt</i>
                        <h5 class="text-uppercase text-primary-light ls-3 fw-6 pt-2">PPC Advertising</h5>
                        <br>
                      </div>
                      <div class="text-left">
                        <span class="fw-5 text-left">We work with organizations who are serious about taking their online marketing and conversion ratings to the next level.</span>
                      </div>
                      <div class="mt-3">
                        <a href="#" class="py-1 fw-6" style="border-bottom: solid 2px #3ddb93; display: none;">
                          Learn more
                        </a>
                      </div>
                      <div class="unhide my-5" style="height: 1px; width: 100%; background-color: #bbb;"></div>
                    </div>
                    <div class="col-lg-6 px-5 py-4">
                      <div class="">
                        <i class="material-icons text-gradient" style="font-size: 5em;">location_searching</i>
                        <h5 class="text-uppercase text-primary-light ls-4 fw-6 pt-2">AI Marketing</h5>
                        <br>
                      </div>
                      <div class="text-left">
                        <span class="fw-5 text-left ">
                         Our goal is to maximize conversions while decreasing labor times and costs, by analyzing trends and data.
                         </span>
                      </div>
                      <div class="mt-3">
                        <a href="#" class="py-1 fw-6" style="border-bottom: solid 2px #3ddb93; display: none;">
                          Learn more
                        </a>
                      </div>
                    </div>
              </div>
          </div>
      </section>

      <!-- ****** End Logo Section ******* -->


<section class="section-accent-md">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <img class="img-responsive" src="{% static 'img/udraw/udraw_1.svg' %}" width="100%" height="100%" alt="TODO">
        </div>
        <div class="col-lg-6"  >
            <div class="px-1">
              <h3>
                <span class="text-white" style="font-size: 2rem; font-weight: 600;">
                Stop Trying To Do Everything!</span>
              </h3>
              <div class="hr-primary-gradient-sm" data-aos="fade-right"></div>
              <p class="py-4 mb-0 text-white">The truth is that if you are building a complicated thing, you should involve experts. This goes for everything: a kitchen renovation, a space shuttle – and, YES – designing the experience of a website or app.
              <br><br>Experts such as ourselves recognise how to build effective and easy-to-use digital products. We know how to avoid Owner & customer frustration and avoid the need for expensive redesigns.
              <br><br>When working with us you'll no longer feel uncertain about whether you're using the right approach when it comes to your technology. You won't have to guess because you'll have a valid way to test and optimize your marketing, sales, and business processes.
              <br>
              </p>
              <div class="hide">
                <a class="btn btn-primary-round fs-18 mt-4 px-5 py-3" style="line-height: 1.25rem;" href="{% url 'contact-page' %}">Schedule Phone Consultation</a>
              </div>
              <div class="unhide text-center">
                <a class="btn btn-primary-round fs-14 mt-4 px-4 py-3" style="line-height: 1.25rem;" href="{% url 'contact-page' %}">Schedule Phone Consultation</a>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>

<section class="section-md text-left">
  <div class="container">
    <div class="row">
        <div class="col-lg-6" data-aos="fade-right">
            <div class="px-1">
              <h3>
                <span style="font-size: 2rem; font-weight: 600;">We Eat, Sleep, Breath This</span>
              </h3>
              <div class="hr-primary-gradient-sm" data-aos="fade-right"></div>
              <p class="py-4 mb-0">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, retargeting pixels, etc...
              <br>We love what we do. So, If you are ready to power up your project, we are ready to take the wheel! Our business growth specialists are dedicated to getting you results.
              <br>A well thought out business strategy combined with a gorgeously designed funnel / website can 10x the sales for your business. If you are struggling to stand out from the crowd online - than your in the right place.</p>
            </div>
        </div>
        <div class="col-lg-6">
          <img class="img-responsive" src="{% static 'img/udraw/udraw_2.svg' %}" width="100%" height="100%" alt="TODO">
        </div>
    </div>
  </div>
</section>

<section class="section-sm text-left">
    <div class="container" data-aos="fade-up">
        <div class="text-center mb-5">
            <h3 class="fs-36 fw-6">
              FAQs
            </h3>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1 text-center mb-5">
                <div class="accordion" id="myAccordion">
                    <div id="headingOne">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
                          <br>
                        <hr>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingTwo">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                        <hr>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingThree">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                        <hr>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingFour">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseFour"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                        <hr>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingFive">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseFive"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                        <hr>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#myAccordion">
                            <div class="col-lg-10 offset-lg-1 text-center mb-5">
                  <h3 class="fs-36 fw-6">
                    FAQs
                  </h3>
              </div>
              <div class="accordion" id="myAccordion">
                  <div id="headingOne">
                      <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                        <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
                        <br>
                      <hr>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
                      <div class="text-black py-2">
                          <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                          <br>
                      </div>
                  </div>
              </div>
              <div class="accordion" id="myAccordion">
                  <div id="headingTwo">
                      <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                        <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus" aria-hidden="true"></i></button>
                      </span>
                      <hr>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAccordion">
                      <div class="text-black py-2">
                          <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                            <br>
                      </div>
                  </div>
              </div>
              <div class="accordion" id="myAccordion">
                  <div id="headingThree">
                      <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                        <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus" aria-hidden="true"></i></button>
                      </span>
                      <hr>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                      <div class="text-black py-2">
                          <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                            <br>
                      </div>
                  </div>
              </div>
              <div class="accordion" id="myAccordion">
                  <div id="headingFour">
                      <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                        <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseFour"><i class="fa fa-plus" aria-hidden="true"></i></button>
                      </span>
                      <hr>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#myAccordion">
                      <div class="text-black py-2">
                          <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                            <br>
                      </div>
                  </div>
              </div>
              <div class="accordion" id="myAccordion">
                  <div id="headingFive">
                      <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                        <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseFive"><i class="fa fa-plus" aria-hidden="true"></i></button>
                      </span>
                      <hr>
                  </div>
                  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#myAccordion">
                      <div class="text-black py-2">
                          <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                            <br>
                      </div>
                  </div>
              </div>
              <div class="accordion" id="myAccordion">
                  <div id="headingSix">
                      <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                        <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseSix"><i class="fa fa-plus" aria-hidden="true"></i></button>
                      </span>
                      <hr>
                  </div>
                  <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#myAccordion">
                      <div class="text-black py-2">
                          <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                            <br>
                      </div>
                  </div>
              </div><div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingSix">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseSix"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                        <hr>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<section class=" p-0 m-0" style="display: none;">
    <div class="container-fluid text-center fs-45">
        <div class="row">
            <div class="col-lg-3 social-media-boxes">
                <i class="fa fa-facebook " aria-hidden="true"></i>
            </div>
            <div class="col-lg-3 social-media-boxes">
                <i class="fa fa-behance text-white " aria-hidden="true"></i>
            </div>
            <div class="col-lg-3 social-media-boxes">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
            </div>
            <div class="col-lg-3 social-media-boxes">
                <i class="fa fa-instagram " aria-hidden="true"></i>
            </div>
        </div>
    </div>
</section>

{% block banner %}
  {% include "components/html/banner.html" %}
{% endblock banner %}

{% endblock %}

{% block extrajs %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1300,
  });
</script>
{% endblock extrajs %}
