{% extends "base-minimal.html" %}
{% load static %}


{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_styles %}
<style>
  .nav-link {
    color: #fff;
  }

  .nav-link:hover {
    border: 0;
  }

  .navbar-brand {
    color: #fff;
  }

  .btn-outline-navbar {
    color: #fff ;
    border: solid 2px #fff ;
  }

  .btn-outline-navbar:hover {
    color: #fff ;
    border: solid 2px #fff ;
  }

.services-page {
  color: #fff !important;
}
</style>

{% endblock extra_styles %}


{% block content %}

  <section class="section-hero-img text-shadow-1" style="border-bottom: solid 1px #ddd">
        <div class="text">
            <h1 class="pb-0 fs-12 text-white">Services</h1>
            <p class="text-white">We have a complete range of services to make your digital project impactful</p>
        </div>
  </section>


  <!-- ****** Logo Section ******* -->

  <section class="section-lg">
      <div class="container">
            <div class="row">
              <div class="col-lg-6 px-4 mb-5">
                  <h2 class="fw-6 fs-34">{{ page.firstheader }}</h2>
                  <div class="bg-primary" style="height: 5px; width: 130px;"></div>
                      <p class="mt-4">{{ page.firstbody }}</p>
                  <div class="hide">
                      <a class="btn btn-primary-round text-white mt-4" href="{% slugurl 'contact' %}">Start a Project</span></a>
                  </div>
                  <div class="unhide">
                      <a class="btn btn-primary-round text-white mt-4"  href="{% slugurl 'contact' %}">Start a Project</a>
                  </div>
              </div>
              <div class="col-lg-6 px-4">
                  <div class="card shadow-2">
                      <div class="card-body">
                        <img class="img-responsive" src="{% static 'img/logo/django-logo-negative2.svg' %}" width="60%" alt="TODO">
                        <div class="bg-primary" style="height: 5px; width: 130px;"></div>
                            <p class="mt-4">Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers,
                              it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-12 mt-4 px-4">
                <h5>Django allows us to implement the following projects:</h5>
                <br>
              </div>
              <div class="col-lg-6 px-4">

                  <ul class="list-unstyled fs-16">
                    <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> Web Application Development</li>
                    <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> Content Management Systems (CMS)</li>
                    <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> E-Commerce Solutions</li>
                    <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> User Management</li>
                    <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> RESTfull API development with Django Rest Framework</li>
                    <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> Google Adwords & Analytics Integration</li>
                  </ul>
              </div>
              <div class="col-lg-6 px-4">
                <ul class="list-unstyled fs-16">
                  <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> Payment Gateway Integration (i.e. Stripe, PayPal)</li>
                  <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> Social Login and Authentication</li>
                  <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> Database Management (PostgreSQL)</li>
                  <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> Schedule Periodic Python Tasks with Celery</li>
                  <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> Search Engine Optimization (SEO)</li>
                  <li><i class="fa fa-chevron-right text-primary" aria-hidden="true"></i> Dynamic SiteMap Implementation</li>
                </ul>
              </div>
          </div>
      </div>
  </section>

  <!-- ****** End Logo Section ******* -->

  <section class="section-hero-img-2" style="border-bottom: solid 1px #ddd;">
    <div class="text">
        <h3 class="pb-0 text-white text-shadow-1 fs-36">Google Adwords</h3>
    </div>
  </section>

  <!-- ****** Picture Gallery ******* -->

  <section class="section-secondary-lg">
      <div class="container text-left">
          <div class="row">
              <div class="col-lg-6  mb-5">
                <h3 class="fw-6 fs-34">Pay-Per-Click Advertising for Lead Generation</h3>
                <div class="bg-success" style="height: 5px; width: 130px;"></div>
                    <p class="mt-4">{{ page.secondbody }}</p>
                    <p class="mt-4">{{ page.secondbody_2 }}</p>
                <div class="hide">
                    <a class="btn btn-success-round text-white mt-4 "  href="{% slugurl 'pay-per-click-ads' %}">Learn more about Google Adwords PPC</span></a>
                </div>
                <div class="unhide">
                    <a class="btn btn-success-round text-white mt-4 "  href="{% slugurl 'pay-per-click-ads' %}">Take My Business <br>To The Next Level</a>
                </div>
              </div>
              <div class="offset-lg-1"></div>
              <div class="col-lg-5 order-1 order-sm-2" >
                  <img class="img-responsive" src="{% static 'img/stripe_integration2.svg' %}" width="100%" height="100%" alt="TODO">
              </div>
          </div>
      </div>
  </section>

  <section class="section-hero-img-3" style="border-bottom: solid 1px #ddd;">
    <div class="text">
        <h3 class="pb-0 text-white text-shadow-1 fs-36">E-Commerce Development</h3>
    </div>
  </section>

  <section class="section-secondary-lg">
      <div class="container">
            <div class="row">
              <div class="col-lg-6 px-4 mb-5">
                  <h3 class="fw-6 fs-34">{{ page.thirdheader}}</h3>
                  <div class="bg-primary" style="height: 5px; width: 130px;"></div>
                      <p class="mt-4">{{ page.thirdbody }}</p>
                      <p class="mt-4">{{ page.thirdbody_2 }}</p>
                  <div class="hide">
                      <a class="btn btn-primary-round text-white mt-4"  href="{% slugurl 'contact' %}">Try Our E-Commerce Demo</span></a>
                  </div>
                  <div class="unhide">
                      <a class="btn btn-primary-round text-white mt-4" href="{% slugurl 'contact' %}">Try Demo</a>
                  </div>
              </div>
              <div class="col-lg-6 px-4">
                  <img class="img-responsive" src="{% static 'img/stripe_integration.svg' %}" width="93%" height="93%" alt="E-commerce store development and design">
                  <div class="text-center">
                    <div class="">
                      <img src="{% static 'img/1.png' %}" alt="Credit Card Payment Icon" width="36px">
                      <img src="{% static 'img/2.png' %}" alt="Credit Card Payment Icon" width="36px">
                      <img src="{% static 'img/14.png' %}" alt="Credit Card Payment Icon" width="36px">
                      <img src="{% static 'img/22.png' %}" alt="Credit Card Payment Icon" width="36px">
                      <img src="{% static 'img/10.png' %}" alt="Credit Card Payment Icon" width="36px">
                      <img src="{% static 'img/16.png' %}" alt="Credit Card Payment Icon" width="36px">
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

  <section class="section-hero-img-4" style="border-bottom: solid 1px #ddd; display: none;">
    <div class="text">
        <h3 class="pb-0 text-white text-shadow-1 fs-36">AI Marketing</h3>
    </div>
  </section>

  <section class="section-secondary-lg" style="display: none;">
      <div class="container text-left">
          <div class="row">
              <div class="col-lg-6 mb-5 ">
                <h3 class="fw-6 fs-34">{{ page.fourthheader }}</h3>
                <div class="bg-alt" style="height: 5px; width: 130px;"></div>
                    <p class="mt-4">{{ page.fourthbody }}</p>
                <div class="hide">
                    <a class="btn btn-alt-round text-white mt-4"  href="{% slugurl 'contact' %}">Learn More</span></a>
                </div>
                <div class="unhide">
                    <a class="btn btn-alt-round text-white mt-4"  href="{% slugurl 'contact' %}">Take My Business <br>To The Next Level</a>
                </div>
              </div>

              <div class="col-lg-6 mb-5" >
                  <img class="img-responsive" src="{% static 'img/ai_vector.svg' %}" width="100%" height="100%" alt="TODO">
              </div>
          </div>
      </div>
  </section>

  <section class="section-lg" >
      <div class="container">
          <div class="row" style="border-bottom: solid 1px #ccc">
              <div class="col-lg-12 text-center">
                <h3 class="fw-7 fs-40 mb-5">Other Services</h3>
              </div>
              <div class="col-lg-6 p-5">
                  <div class="card card-border shadow-2">
                      <div class="card-body p-4 text-center">
                        <span class="circle-success"><i class="fa fa-wrench fs-46 my-3" aria-hidden="true"></i></span> <br><br>
                        <h3 class="fw-6 fs-34">Support and Maintenance</h3>
                        <p class="text-muted mt-4"></p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 p-5" style="border-left: 1px solid #ccc">
                  <div class="card card-border shadow-2">
                      <div class="card-body p-4 text-center">
                        <span class="circle-success"><i class="fa fa-server fs-46 my-3" aria-hidden="true"></i></span> <br><br>
                        <h3 class="fw-6 fs-30">Web Application <br> Server Hosting</h3>
                        <p class="text-muted mt-4"></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row" style="display: none;">
              <div class="col-lg-6 p-5" >
                  <div class="card card-border shadow-2">
                      <div class="card-body p-4">
                          <span class="circle-success"><i class="fa fa-search fs-46 my-3" aria-hidden="true"></i></span> <br><br>
                          <h3 class="fw-6 fs-30">Search Engine Optimization</h3>
                          <p class=text-muted "mt-4"></p>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 p-5" style="border-left: 1px solid #ccc">
                  <div class="card card-border shadow-2">
                      <div class="card-body p-4">
                          <span class="circle-success"><i class="fa fa-briefcase fs-46 my-3" aria-hidden="true"></i></span> <br><br>
                          <h3 class="fw-6 fs-34">Web Consulting</h3>
                          <p class="text-muted mt-4"></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="text-center mt-4">
            <p class="text-muted">Django is a registered trademark of Django Software Foundation (DSF) released under the Creative Commons Attribution-ShareAlike 3.0 unported License.</p>
          </div>
      </div>
  </section>



{% endblock %}


{% block extrajs %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1300,
  });
</script>
{% endblock extrajs %}
