{% load account %}{% user_display user as user_display %}{% load i18n %}{% autoescape off %}

<div style="background-color: #f3f3f3;
  font-family: Roboto, sans-serif !important;">
  <div style="  height: 100%;
    padding: 0;
    margin: 40px 0 0 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: flex-start;
    justify-content: center;">

    <div style="width: auto;">

      <div style="  background-color: #fff;
        padding: 3rem;
        max-width: 500px;
        height: 34rem;
        margin: 15px;
        line-height: 20px;
        color: #3a3a3a;
        font-size: 1em;
        text-align: left;">
        <div style=" text-align: center; font-family: Arial, Sans-serif !important;">{% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
        <h1>Mod Technologies</h1> <br>
        <h3>Password Reset</h3><br>
        </div>
        <hr>
        <br>
        <br>
        <p>
        You're receiving this e-mail because you or someone else has requested a password for your user account.
        It can be safely ignored if you did not request a password reset. Click the link below to reset your password.
        {% endblocktrans %}{% endautoescape %}
        <br>
        <br>
        <a href="{{ password_reset_url }}" style="background-color: #3a75c1; /* Green */
        border: none;
        color: white;
        padding: 12px 32px;
        border-radius: 3px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;">Reset Password</a>
        <br>
        <br>
        <br>
        {% if username %}{% blocktrans %}In case you forgot, your username is {{ username }}.{% endblocktrans %}
        <br>
        <br>
        <a href="https://www.Modtechnologies.io/contact/" style="color: #3a75c1;">Contact Us</a> | <a href="https://www.Modtechnologies.io/terms-page/" style="color: #3a75c1;">Terms and Conditions</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
