.autocomplete-suggestions {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	border-top: none;
	background: #FFF;
	cursor: default;
	padding: 0;
	width: 100% !important;
	overflow: auto;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	position: fixed;
	left: 0% !important;
	border-radius: 0;
	margin: 11px 0rem;
	margin-right: 2rem;
}

.autocomplete-suggestion {
	padding: 1rem 2.5rem;
	white-space: nowrap;
	overflow: hidden;
	width: 100% !important;
	border-bottom: 1px solid #ddd;
}

.autocomplete-no-suggestion {
	padding: 4px 5px;
}

.autocomplete-selected {
	background: $color-purple-200;
 }

.autocomplete-suggestions strong {
	font-weight: bold; color: #000;
}

.autocomplete-group {
	padding: 0px;
}

.autocomplete-group strong {
	font-weight: bold;
	font-size: 18px;
	color: #000;
	display: block;
	border-bottom: none;
}
