
/* BANNER */
.banner {
    position: relative;
    background-size: cover;  /* take width of view port, fits element inside of box */
    background-position: center;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

    background-color: #3a75c1;
    color: #fff;
  }


.btn-action-invert {
background: #e0e0e0;
color: #3a3a3a;
box-shadow: 0 2px 4px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.23);
}
.btn-action-invert:hover {
background: #fff;
color: #3a3a3a;
box-shadow: 0 5px 11px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}
.btn-action-invert:active {
  background: #ccc;
  color: #3a3a3a;
  box-shadow: 0 5px 11px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
}
.btn-action-invert:focus {
background: #ccc;
color: #3a3a3a;
}

/* BANNER END */
