
/* Used in Course List */
.hero-200 {
    /* Sizing */

    height: 65vh;

    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /* Text styles */
    text-align: center;

    /* Background styles */
    background-image: url(/static/img/hero3.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-200 h1 {
    /* Text styles */
    font-size: 3.5em;
    color: white;

    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}
.hero-200 p {
    /* Text styles */
    font-size: 1.25em;

    color: white;

    /* Margins */
    margin-top: 0;
    margin-bottom: 2em;
}


@media screen and (min-width: 992px) {
  .hero-200 .text {
    position: absolute;
    left: 15%;
    top: 45%;
    animation: moveInTop 1.5s;
    animation-fill-mode: forwards;
  }
}
@media screen and (max-width: 992px) {
  .hero-200 .text {
    position: relative;
    margin: auto;
    padding-top: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    animation: moveInTop 1.5s;
    animation-fill-mode: forwards;
  }
}
