@page {
  size: a4 portrait;
  margin: 2.5cm 1.5cm;

  @frame footer_name {
    -pdf-frame-content: footer_content;
    bottom: 0;
    margin-left: 0;
    margin-right: 0;
    height: 1cm;
  }
}
#footer_content {
  color: #666;
  font-size: 10pt;
  text-align: center;
}
h1 {
  text-align: center;
}
