{% load static %}

{% block recommendedOffers %}

<div class="card card-border shadow-2">
    <div class="card-header">
        <div class="text-center">
            <div class="text-uppercase text-muted fw-5">Recommended Offers</div>
        </div>
    </div>
    <div class="card-body p-3 py-1 border-bottom" >
        <span class="fs-10 fw-6">Tide Cleaners Michigan</span>
        <p class="fs-14 fw-6 text-primary mb-1">50% OFF Your First Order at Tide Cleaners</p>
    </div>
    <div class="card-body p-3">
        <span class="fs-10 fw-6">Tide Cleaners Michigan</span>
        <p class="fs-14 fw-6 text-primary">50% OFF Your First Order at Tide Cleaners</p>
    </div>
</div>

{% endblock recommendedOffers %}
