{% extends "base.html" %}
{% load static %}
{% load  %}

{% block content %}

<div class="section-lg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-lg-3 my-5">
                <div class="card card-custom">
                    <img src="https://source.unsplash.com/random" alt="Random">
                    <div class="card-body-custom">
                        <h2>Body</h2>
                        <p>This is some supporting text for quick descriptions</p>
                    </div>
                    <div class="card-footer-custom">
                        <h2>Footer</h2>
                        <div class="icons">
                            <p>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                / 20 Reviews
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}