{% extends "base-alt.html" %}
{% load honeypot %}
{% load static %}
{% load crispy_forms_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom-form.css' %}">
{% endblock extra_css %}

{% block content %}

  <!-- **** Contact Form lg ***** -->
<div class="container">

    <section class="section-sm">
        <div class="text mb-5">
           <h2 class="fw-6">Customer support</h2>
          <div class="hr-primary-sm"></div>
        </div>
      <div class="card ">
          <div class="card-header text-primary p-3">
            <h2><strong>Contact Form</strong></h2>
            <span class="fs-14 text-muted">We will respond with 24 hours of your request.
            </span>
          </div>
          <form class="card-body" action="{% url 'contact-page' %}" method="POST">
              {% csrf_token %}
              {% render_honeypot_field "phonenumber" %}
              <div class="row">
                  <div class="col-md-12 col-sm-12">
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                          {% for error in form.non_field_errors %}
                            {{ error }}
                          {% endfor %}
                        </div>
                    {% endif %}

                  </div>
                  {% crispy form %}

                  {{ form.media }}

                  {% if form.errors %}
                      {% for field in form %}
                          {% for error in field.errors %}
                              <p class="text-primary"> {{ error }} </p>
                          {% endfor %}
                      {% endfor %}
                  {% endif %}
                  <div class="px-4 pull-center">
                    <button value="Submit" type="submit" class="btn btn-primary-alt btn-block mt-3">Submit</button>
                  </div>
              </div>

          </form>
      </div>
  </section>
</div>
  <!-- **** End Contact Form lg ***** -->

  <section class="section-sm text-left">
      <div class="container" data-aos="fade-up">
          <div class="text mb-5">
             <h2 class="fw-6 hide">Frequently Asked Questions</h2>
            <div class="hr-primary-sm"></div>
          </div>
          <div class="row pt-4">
              <div class="col-lg-8 offset-lg-2 text-center mb-5">
                  <div class="accordion" id="myAccordion">
                      <div id="headingOne">
                          <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
                            <br>
                          <hr>
                      </div>
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
                          <div class="text-black py-2">
                              <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                          </div>
                      </div>
                  </div>
                  <div class="accordion" id="myAccordion">
                      <div id="headingTwo">
                          <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          </span>
                          <hr>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAccordion">
                          <div class="text-black py-2">
                              <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                                <br>
                          </div>
                      </div>
                  </div>
                  <div class="accordion" id="myAccordion">
                      <div id="headingThree">
                          <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          </span>
                          <hr>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                          <div class="text-black py-2">
                              <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                                <br>
                          </div>
                      </div>
                  </div>
                  <div class="accordion" id="myAccordion">
                      <div id="headingFour">
                          <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseFour"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          </span>
                          <hr>
                      </div>
                      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#myAccordion">
                          <div class="text-black py-2">
                              <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                                <br>
                          </div>
                      </div>
                  </div>
                  <div class="accordion" id="myAccordion">
                      <div id="headingFive">
                          <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseFive"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          </span>
                          <hr>
                      </div>
                      <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#myAccordion">
                              <div class="col-lg-10 offset-lg-1 text-center mb-5">
                    <h3 class="fs-36 fw-6">
                      FAQs
                    </h3>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingOne">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseOne"><i class="fa fa-plus" aria-hidden="true"></i></button></span>
                          <br>
                        <hr>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                            <br>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingTwo">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseTwo"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                        <hr>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingThree">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseThree"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                        <hr>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingFour">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseFour"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                        <hr>
                    </div>
                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingFive">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseFive"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                        <hr>
                    </div>
                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                        </div>
                    </div>
                </div>
                <div class="accordion" id="myAccordion">
                    <div id="headingSix">
                        <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                          <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseSix"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </span>
                        <hr>
                    </div>
                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#myAccordion">
                        <div class="text-black py-2">
                            <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                              <br>
                        </div>
                    </div>
                </div><div class="text-black py-2">
                              <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                                <br>
                          </div>
                      </div>
                  </div>
                  <div class="accordion" id="myAccordion">
                      <div id="headingSix">
                          <span class="fs-16 fw-6">Although we make it look easy, there is a LOT that happens behind the scenes with programming
                            <button type="button" class="pull-right btn-information-dropdown collapsed pt-1" data-toggle="collapse" data-target="#collapseSix"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          </span>
                          <hr>
                      </div>
                      <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#myAccordion">
                          <div class="text-black py-2">
                              <p class="fs-16">Although we make it look easy, there is a LOT that happens behind the scenes with programming, designing/building squeeze pages, ads, opt-in forms, tracking numbers, managing your campaign, </p>
                                <br>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
      </div>
  </section>

{% endblock %}
