{% extends "base.html" %}
{% load static %}
{% load  %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock extra_styles %}

{% block content %}

  <section class="hero container">
        <div class="text text-center" >
            <h1 class="text-shadow-1 ls-1" data-aos="fade-in" data-aos-delay="400"></h1>
            <h3 class="fs-18 fw-7 text-light text-shadow-1" data-aos="fade-in" data-aos-delay="400"></h3>
            <div class="search-form">
                <div class="search-form-background-hero">
                    <form class="search-form-container-hero" action="/find/" method="get" >
                        <div class="ml-2">
                            <div class="icon-addon addon-lg">
                                <input type="text" class="font-italic" placeholder="Search for Coupons & Merchants" name="q" id="q" autocomplete="off">
                                <div id="selction-ajax"></div>
                            </div>
                        </div>
                    </form>
                    <div class="search-icon"><i class="fa fa-search fs-20" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
  </section>

  <!-- ****** Picture Gallery ******* -->


  <section class="section container mt-2" data-aos="fade-up" data-aos-delay="400">
    <div class="container">
      <div class="row">
            {% for offer in offer_list %}
                {% block offer %}
                  {% include "components/offer.html" %}
                {% endblock offer %}
            {% endfor %}
        </div>

        <div class="text-center">
            <a href="" class="btn btn-primary-alt px-5">
                Load More Offers
            </a>
        </div>
    </section>
{% endblock %}

{% block extrajs %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1300,
  });
</script>
{% endblock extrajs %}
