{% extends "base.html" %}
{% load static %}
{% load  %}


{% block body_class %}template-homepage{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock extra_styles %}

{% block content %}

  <section class="hero container">
    
        <div class="text text-center" >
            <h1 class="text-shadow-1 ls-1" ></h1>
            <h3 class="fs-18 fw-7 text-light text-shadow-1" data-aos="fade-in" data-aos-delay="400"></h3>

            <div class="search-form">
                <div class="search-form-background-hero">
                    <form class="search-form-container-hero" action="/find/" method="get" >
                        <div class="ml-2">
                            <div class="icon-addon addon-lg">
                                <input type="text" class="font-italic" placeholder="Search for Coupons & Merchants" name="q" id="q" autocomplete="off">
                                <div id="selction-ajax"></div>
                            </div>
                        </div>
                    </form>
                    <div class="search-icon"><i class="fa fa-search fs-20" aria-hidden="true"></i></div>
                </div>
            </div>
        </div>
  </section>

  <!-- ****** Picture Gallery ******* -->

  <section class="section container mt-3" >
    <div class="container">
      <div class="row">
          <!-- Category Image Carousel -->
          <div class="col-lg-3 mb-3 text-center">
              <img class="card-img-top card-effects border-radius-200 shadow-2" style="width: 90%;" src="{% static 'img/home_improvement.jpg' %}" alt="User Uploaded images">
              <h6 class="img-secondary-text">Deals for your home</h6>
              <h3 class="img-header-text">Home Improvement</h3>
          </div>

          <div class="col-lg-3 mb-3 text-center">
              <img class="card-img-top card-effects border-radius-200 shadow-2" style="width: 90%;" src="{% static 'img/food_ad.jpg' %}" alt="User Uploaded images">
              <h6 class="img-secondary-text">Deals for your home</h6>
              <h3 class="img-header-text">Home Improvement</h3>
          </div>

          <div class="col-lg-3 mb-3 text-center">
              <img class="card-img-top card-effects border-radius-200 shadow-2" style="width: 90%;" src="{% static 'img/travel_ad.jpg' %}" alt="User Uploaded images">
              <h6 class="img-secondary-text">Deals for your home</h6>
              <h3 class="img-header-text">Home Improvement</h3>
          </div>

          <div class="col-lg-3 mb-3 text-center">
              <img class="card-img-top card-effects border-radius-200 shadow-2" style="width: 90%;" src="{% static 'img/vehicle_ad.jpg' %}" alt="User Uploaded images">
              <h6 class="img-secondary-text">Deals for your home</h6>
              <h3 class="img-header-text">Home Improvement</h3>
          </div>



        <div class="col-lg-3 mb-4">
            <div class="card card-border shadow-2 mb-3">
                <div class="card-header">
                    <div class="text-center">
                        <div class="text-uppercase text-muted fw-5">Categories</div>
                    </div>
                </div>
                <div class="card-body p-3 py-1 border-bottom" >
                    <div class="row">
                        <div class="col-lg-4" style="padding: 0.35rem;padding-right: 1rem;padding-left: 1rem;">
                            <a href="/category/all/">
                                <div class="card-icon-circle">
                                    <i class="fa fa-tags" aria-hidden="true"></i>
                                </div>
                                <div class="text-center">
                                    <span class="fs-12 fw-5 text-dark">All</span>
                                </div>
                            </a>
                        </div>
                        <!-- Row One -->
                        <div class="col-lg-4" style="padding: 0.35rem; padding-right: 1rem;padding-left: 1rem;">
                            <a href="/coupons/category/VEHICLES">
                                <div class="card-icon-circle">
                                    <i class="fa fa-car" aria-hidden="true"></i>
                                </div>
                                <div class="text-center">
                                    <span class="fs-12 fw-5 text-dark">Vehicles</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4" style="padding: 0.35rem;padding-right: 1rem;padding-left: 1rem;">
                            <a href="#">
                                <div class="card-icon-circle">
                                    <i class="fa fa-cutlery" aria-hidden="true"></i>
                                </div>
                                <div class="text-center">
                                    <span class="fs-12 fw-5 text-dark">Food</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4" style="padding: 0.35rem;padding-right: 1rem;padding-left: 1rem;">
                            <a href="#">
                                <div class="card-icon-circle">
                                    <i class="fa fa-scissors" aria-hidden="true"></i>
                                </div>
                                <div class="text-center">
                                    <span class="fs-12 fw-5 text-dark">Beauty</span>
                                </div>
                            </a>
                        </div>

                        <!-- Row two -->
                        <div class="col-lg-4" style="padding: 0.35rem; padding-right: 1rem;padding-left: 1rem;">
                            <a href="#">
                                <div class="card-icon-circle">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </div>
                                <div class="text-center">
                                    <span class="fs-12 fw-5 text-dark">Home</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4" style="padding: 0.35rem;padding-right: 1rem;padding-left: 1rem;">
                            <a href="#">
                                <div class="card-icon-circle">
                                    <i class="fa fa-bicycle" aria-hidden="true"></i>
                                </div>
                                <div class="text-center">
                                    <span class="fs-12 fw-5 text-dark">Outdoors</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4" style="padding: 0.35rem;padding-right: 1rem;padding-left: 1rem;">
                            <a href="#">
                                <div class="card-icon-circle">
                                    <i class="fa fa-headphones" aria-hidden="true"></i>
                                </div>
                                <div class="text-center">
                                    <span class="fs-12 fw-5 text-dark">Electronics</span>
                                </div>
                            </a>
                        </div>

                        <!-- Row Three -->
                        <div class="col-lg-4" style="padding: 0.35rem; padding-right: 1rem;padding-left: 1rem;">
                            <a href="#">
                                <div class="card-icon-circle">
                                    <i class="fa fa-plane" aria-hidden="true"></i>
                                </div>
                                <div class="text-center">
                                    <span class="fs-12 fw-5 text-dark">Travel</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4" style="padding: 0.35rem;padding-right: 1rem;padding-left: 1rem;">
                            <a href="#">
                                <div class="card-icon-circle">
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                </div>
                                <div class="text-center">
                                    <span class="fs-12 fw-5 text-dark">Groceries</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


            {% for object in address_qs %}
            <div class="col-lg-3 col-md-6 text-center border-radius-300 mb-5" data-aos="fade-up" data-aos-delay="0">
                <div class="card card-border card-effects border-radius-300 shadow-2">
                    <a href="{{ object.get_absolute_url }}">
                        <img class="card-img-top" style="width: 100%;" src="media/{{ object.offer.get_first_active.image }}" alt="User Uploaded images">
                    </a>

                    <div class="card-body px-3 py-2">
                        <div class=" text-left ">
                            <h3 class="fw-6 fs-14 mb-3">{{ object.offer.get_first_active.merchant.business_name }}</h3>
                            <h4 class="fw-6 fs-16 mb-3">
                                {{ object.offer.get_first_active.title }}
                            </h4>
                            <div class="mb-3">
                                <a href="
                                 %}" class="fs-12">{{ object.offer.get_first_active.merchant.category.get_name_display }}</a><span class="text-secondary fs-12"> / </span><a href="" class="fs-12">{{ object.offer.get_first_active.merchant.subcategory }}</a>
                            </div>
                            <div class="fw-5 fs-14 mb-2">Good until <span class="text-secondary fw-4">{{ object.offer.get_first_active.end_date }}</span></div>
                            <a class="btn btn-primary-inverted btn-block" href="{% url 'portal:merchant_detail' object.state object.city object.offer.first.merchant.category object.offer.first.merchant.subcategory object.offer.first.merchant.business_name object.offer.first.merchant.ref_code  %}">View Additional Deals ({{ object.offer.all.count}})</a>
                        </div>
                    </div>
                      <div class="coupon-bottom-button-container">
                          <a class="coupon-button">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 icon-heart"><circle cx="12" cy="12" r="10" class="primary"/><path class="secondary" d="M12.88 8.88a3 3 0 1 1 4.24 4.24l-4.41 4.42a1 1 0 0 1-1.42 0l-4.41-4.42a3 3 0 1 1 4.24-4.24l.88.88.88-.88z"/></svg>
                              <br>
                              <span class="fs-14 fw-5 text-primary">Save</span>
                          </a>
                          <a class="coupon-button">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 icon-print"><path class="secondary" d="M5 8h14a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5c0-1.1.9-2 2-2zm1 2a1 1 0 0 0 0 2h2a1 1 0 0 0 0-2H6z"/><path class="primary" d="M6 14h12v6a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1v-6zm0-6V4a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v4H6z"/></svg>
                              <br>
                              <span class="fs-14 fw-5 text-primary">Print</span>
                          </a>
                          <a class="coupon-button">
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 icon-external-window"><path class="primary" d="M12 8a1 1 0 0 1-1 1H5v10h10v-6a1 1 0 0 1 2 0v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9c0-1.1.9-2 2-2h6a1 1 0 0 1 1 1z"/><path class="secondary" d="M19 6.41L8.7 16.71a1 1 0 1 1-1.4-1.42L17.58 5H14a1 1 0 0 1 0-2h6a1 1 0 0 1 1 1v6a1 1 0 0 1-2 0V6.41z"/></svg>
                              <br>
                              <span class="fs-14 fw-5 text-primary">Share</span>
                          </a>
                      </div>

                </div>
            </div>
            {% endfor %}

        </div>
        <div class="text-center">
            <a href="" class="btn btn-primary-alt px-5">
                Load More Offers
            </a>
        </div>
    </section>
{% endblock %}

{% block extrajs %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1300,
  });
</script>
{% endblock extrajs %}
