{% extends "base.html" %}
{% load static %}
{% load location_extra %}

{% block body_class %} Shop Businesses and Services on the Gegoo{% endblock %}

{% block extra_styles %}
<!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
{% endblock extra_styles %}

{% block content %}

{% block category_nav %}
  {% include "portal/category_nav.html" %}
{% endblock category_nav %}



<!-- VIDEO SECTION  Meeting your Landscaping Needs !-->
<div class="section mt-3 pt-0 container px-3">
    <h3 class="section-header text-dark mb-3">Featured Service</h3>
    <div class="row">
        <div class="col-lg-8 col-12">
            <div class="video-container">
                <div class="volume-button">
                    <button id="Unmutebutton">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-volume-mute"><path class="fill-white" d="M6.59 16H3a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h3.59l4.7-4.7A1 1 0 0 1 13 4v16a1 1 0 0 1-1.7.7L6.58 16z"/><path class="fill-white" d="M17.09 12l-1.8-1.8a1 1 0 1 1 1.42-1.4l1.79 1.79 1.8-1.8a1 1 0 0 1 1.4 1.42L19.92 12l1.8 1.8a1 1 0 0 1-1.42 1.4l-1.79-1.79-1.8 1.8a1 1 0 0 1-1.4-1.42L17.08 12z"/></svg>
                    </button>
                    <button id="Mutebutton" style="display: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-volume-up"><path class="fill-white" d="M6.59 16H3a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h3.59l4.7-4.7A1 1 0 0 1 13 4v16a1 1 0 0 1-1.7.7L6.58 16z"/><path class="fill-white" d="M17.66 6.34a1 1 0 0 1 1.41-1.41 10 10 0 0 1 0 14.14 1 1 0 0 1-1.41-1.41 8 8 0 0 0 0-11.32zm-2.83 2.83a1 1 0 1 1 1.41-1.41 6 6 0 0 1 0 8.48 1 1 0 0 1-1.41-1.41 4 4 0 0 0 0-5.66z"/></svg>
                    </button>
                </div>
                <video autoplay muted poster="" class="fillWidth border-radius-100" id="video">
                    <source src="" type="video/mp4" alt="Gegoo Promotional Video" id="video_container"/>
                    Your browser does not support the video tag. Upgrade your browser.
                </video>
            </div>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card title-container border-radius-100">
                <div class="row">
                    <div class="col-4">
                        <img src="{% static 'img/dominos.jpg' %}" alt="">
                    </div>
                    <div class="col-8">
                        <h3 class="text-white fw-6 fs-20 fw-6" id="video_title">{{ data.store_1 }}</h3>
                        <h4 class="text-white fw-4 fs-14" id="video_location">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4  icon-location-pin"><path class="fill-white" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path class="fill-white" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z"/></svg>
                            {{ data.location_1 }}
                        </h4>
                        <a href="" class="text-white fs-14">Visit Store</a>
                    </div>
                    <div class="col-lg-12 mt-3">
                      <div class="card shadow-1 bg-gray-200">
                          <div class="card-body py-3">
                            <h3 class="subheader text-dark text-center">
                                Use Code: <span class="fw-6" id="video_coupon">{{ data.coupon_code_1 }}</span>
                            </h3>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="bg-white card-border stripe-primary shadow-5 mt-3">
                <div class="card-body">
                    <h3 class="header text-primary">
                        <span class="text-gray-700">Gegoo</span> Coupons
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 icon-tag"><path class="fill-primary" d="M2.59 13.41A1.98 1.98 0 0 1 2 12V7a5 5 0 0 1 5-5h4.99c.53 0 1.04.2 1.42.59l8 8a2 2 0 0 1 0 2.82l-8 8a2 2 0 0 1-2.82 0l-8-8zM7 9a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/><path class="fill-gray-300" d="M12 18l6-6-4-4-6 6.01L12 18z"/></svg>
                    </h3>
                    <p class="fs-16 text-gray-700">Redeem the Gegoo code on your next purchase from this store and receive a promotional reward.</p>
                </div>
            </div>
            <div class="bg-white card-border stripe-primary shadow-5 mt-3 hide">
                <div class="card-body">
                    <h3 class="header text-primary">
                        <span class="text-gray-700">Gegoo</span> Rewards
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 icon-currency-dollar"><circle cx="12" cy="12" r="10" class="fill-gray-300"/><path class="fill-primary" d="M13 7.12v3.96c2.25.36 4 1.93 4 3.92 0 2-1.75 3.56-4 3.92V19a1 1 0 0 1-2 0v-.08a4.82 4.82 0 0 1-3.67-2.49 1 1 0 0 1 1.8-.85c.29.6.98 1.09 1.87 1.3v-3.96C8.75 12.56 7 11 7 9c0-2 1.75-3.56 4-3.92V5a1 1 0 0 1 2 0v.08a4.81 4.81 0 0 1 3.68 2.5 1 1 0 0 1-1.81.85c-.28-.6-.98-1.1-1.87-1.31zm-2 3.76V7.12C9.81 7.4 9 8.18 9 9c0 .82.81 1.6 2 1.88zm2 2.24v3.76c1.19-.28 2-1.06 2-1.88 0-.82-.81-1.6-2-1.88z"/></svg>
                    </h3>
                    <p class="fs-16 text-gray-700">Redeem the Gegoo code on your next purchase from this store and receive a promotional reward.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- VIDEO END !-->



<section class="section mt-3 pt-0">
    <div class="container">
        <h3 class="section-header text-dark mb-3">Services Located in {{ city }}, {{ state }}
            <!-- desktop -->
            <span class="hide">
                {% if not request.user.is_authenticated %}
                    <a class="fs-14 fw-4 btn btn-primary-alt px-2 py-2 pull-right" href="{% url 'account_login' %}">
                      Edit Location
                    </a>
                {% else %}
                    <a class="fs-14 fw-4 btn btn-primary-alt px-3 py-2 pull-right" href="{% url 'users:user_location' %}">
                      Edit Location
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4  icon-location-pin"><path class="fill-white" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path class="fill-white" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z"/></svg>
                    </a>
                {% endif %}
            </span>
            <!-- mobile -->
            <span class="unhide">
                {% if not request.user.is_authenticated %}
                    <a class="fs-14 fw-4 px-2 py-2 unhide" href="{% url 'account_login' %}">
                      Edit Location
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4  icon-location-pin"><path class="fill-white" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path class="fill-white" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z"/></svg>
                    </a>
                {% else %}
                    <a class="fs-14 fw-4 px-3 py-2 unhide" href="{% url 'users:user_location' %}">
                      Edit Location
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4  icon-location-pin"><path class="fill-white" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path class="fill-white" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z"/></svg>
                    </a>
                {% endif %}
            </span>
        </h3>
        <div class="row">
            {% for object in store_nearby %}
                <div class="col-lg-3 col-md-6 col-sm-6 text-center border-radius-300 mb-4 px-m-na-3">
                    <div class="card">
                        <a class="" href="{{ object.get_consumer_absolute_url }}">
                            <img class="img-fluid border-radius-top-100" style="max-height: 200px;" src="{{ AwsBucketMediaURL }}{{ object.logo }}" alt="User Uploaded images">
                        </a>
                        <div class="card-body py-1 px-3">
                            <div class=" text-left mt-2">
                                <a href="{{ object.get_consumer_absolute_url }}" class="fw-6 text-primary fs-18 mb-1">{{ object.business_name }}</a>
                                <br>
                                <i class="material-icons star-yellow fs-16" style="">
                                    {% for i in object.rating_average_round %}
                                    star
                                    {% endfor %}
                                    {% for i in object.rating_average_round_inverted %}
                                    star_border
                                    {% endfor %}
                                </i>
                                <br>
                                <!-- <span class="fs-12 text-gray-700">{{ object.category.get_name_display }} <span class="text-purple-500 px-1">&#8226;</span> {{ object.subcategory.name }}</span> -->
                                    {% for object in object.rating_average.ratingsystem %}
                                        testimonial
                                    {% endfor %}
                                <p class="fw-4 text-gray-800 fs-16 fw-6 pt-2">
                                    {{ object.slogan|truncatewords:8 }}
                                </p>
                                <div class="fs-14 mt-3 mb-2">
                                    <span class="text-gray-700 fw-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 icon-location-pin"><path class="fill-purple-500" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path class="fill-purple-500" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z"/></svg>
                                        {{ object.distance.mi|dividebyth }} Miles Away
                                    </span>
                                </div>
                                <!-- url 'portal:merchant_detail' object.state object.city object.offer.first.merchant.category object.offer.first.merchant.subcategory object.offer.first.merchant.business_name object.offer.first.merchant.ref_code -->
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>


<section class="section-gray-70-sm border-top ">
    <div class="container">
        <h3 class="section-header text-dark">Featured Services</h3>
        <br>
        <div class="row">
            {% for object in store_nearby %}
                <div class="col-xl-6 col-md-6 col-sm-6 col-xs-12 px-m-na-3">
                    <div class="card card-border card-effects mb-4">
                        <div class="row">
                            <div class="col-lg-4 ">
                                <a href="{{ object.get_consumer_absolute_url }}">
                                    <img class="img-fluid" src="{{ AwsBucketMediaURL }}{{ object.logo }}" alt="User Uploaded images">
                                </a>
                            </div>
                            <div class="col-lg-8 ">
                                <div class="flex-container-vertical">
                                    <div class="card-body flex-box py-4 px-4">
                                        <h3 class="section-header mb-2">{{ object.business_name }}
                                            <a class="text-gray-700" href="">
                                                <i class="material-icons pull-right">
                                                share
                                                </i>
                                            </a>
                                        </h3>
                                        <i class="material-icons star-yellow fs-16" style="">
                                            {% for i in object.rating_average_round %}
                                            star
                                            {% endfor %}
                                            {% for i in object.rating_average_round_inverted %}
                                            star_border
                                            {% endfor %}
                                        </i>
                                        <h4 class="mt-3 fw-4 fs-16 text-gray-700">
                                            {{ object.slogan|truncatewords:16 }}
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="card-footer">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="text-center fs-20 pt-2">
                                                <a href="#TODO" class="text-primary fw-6">{{ object.code_coupon }}</a>
                                            </div>
                                        </div>
                                        <div class="col-12 unhide py-1"></div>
                                        <div class="col-lg-4">
                                            <div class="text-center fs-16 pt-3">
                                                <span class="text-gray-600 fw-4">
                                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-location-pin"><path class="fill-primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path class="fill-primary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z"/></svg>
                                                    {{ object.distance.mi|dividebyth }} Miles Away
                                                </span>
                                            </div>
                                        </div>
                                        <div class="col-12 unhide py-1"></div>
                                        <div class="col-lg-4">
                                            <a href="{{ object.get_consumer_absolute_url }}" class="btn btn-primary-alt btn-block">View Store</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="section-gray-70-sm pt-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-center my-4 pr-4">
                    <h3 class="section-header mb-4">
                        GEGOO Rewards
                    </h3>
                    <p class="fs-14 text-gray-700">Earn points and gift cards by using GEGOO code with one of listed merchants.
                    <a href="#TODO">Learn More</a></p>
                </div>
            </div>
            <div class="col-lg-1 border-right">
            </div>
            <div class="col-12 unhide">
                <hr>
            </div>
            <div class="offset-lg-1"></div>
            <div class="col-lg-5">
                <div class="text-center my-4 pr-4">
                    <h3 class="section-header mb-4">
                        Location
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 mb-1 icon-location-pin"><path class="fill-primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path class="fill-primary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z"/></svg>
                    </h3>
                    <p class="fs-14 text-gray-700">Services and Businesses are shown based on your location.
                    <a href="#TODO">Click here</a> to change location.</p>
                </div>
            </div>
        </div>
    </div>
</section>

{% block email_section %}
    {% include "components/html/email_section.html" %}
{% endblock email_section %}

{% endblock %}

{% block extrajs %}

<script type="text/javascript">
    $(document).ready(function(){
        var data = {{ data|safe }}
        var video_container = $('#video_container')
        console.log(data)
        $('#video_container').attr('src' , data.video_url_1)
        $('#video')[0].load()
        var x = 1;

        $('#video').on('ended',function(){
            x++;
            if (x == 2) {
                $('#video_container').attr('src' , data.video_url_2)
                $('#video')[0].load()
                $('video_title')
                $("#video_title").text(
                  data.store_2
                )
                $("#video_coupon").text(
                  data.coupon_code_2
                )
                $("#video_location").text(
                  data.location_2
                )
                console.log(x)
            }
            if (x == 3) {
                $('#video_container').attr('src' , data.video_url_3)
                $('#video')[0].load()
                $("#video_title").text(
                  data.store_3
                )
                console.log(x)
            }
            if (x == 4) {
                $('#video_container').attr('src' , data.video_url_4)
                $('#video')[0].load()
                $("#video_title").text(
                  data.store_4
                )
                console.log(x)
            }
            if (x == 5) {
                $('#video_container').attr('src' , data.video_url_5)
                $('#video')[0].load()
                $("#video_title").text(
                  data.store_3
                )
                console.log(x)
            }
            if (x == 6) {
                $('#video_container').attr('src' , data.video_url_5)
                $('#video')[0].load()
                console.log(x)
            }
        });
// $("img#itemDetail").attr('src' , $("img#itemDetail").attr('src') + detailUrl);
    });
</script>

{% endblock extrajs %}
