Django==2.0.8
django-modelcluster==4.2
django-taggit==0.23.0
django-treebeard==4.3
djangorestframework==3.8.2
gunicorn==19.9.0
Pillow==5.2.0
psycopg2==2.7.5
psycopg2-binary==2.7.5
requests==2.19.1
# Storing Variables - Not sure if this is being used
django-environ==0.4.5
# User authentication
django-allauth==0.36.0
# Forms
django-crispy-forms==1.7.2


# Compress Assets With Django Compressor

#this install may fail, so you will need to run the following three commands beforehand..

#pip install rcssmin --install-option="--without-c-extensions"
#pip install rjsmin --install-option="--without-c-extensions"
#pip install django-compressor --upgrade

#https://github.com/django-compressor/django-compressor
django-compressor==2.3

# libsass for scss to css
#django-libsass==0.7
#libsass==0.12.3


# Permission System https://github.com/brack3t/django-braces/tree/v1.4.0
django-braces==1.13.0

# Honeypot
django-honeypot==0.7.0

# Instagram APP https://github.com/marcopompili/django-instagram
django-instagram==0.3.0

# Ckeditor https://django-ckeditor.readthedocs.io/en/latest/
django-ckeditor==5.7.1

# Phone Numbers https://github.com/stefanfoulis/django-phonenumber-field
django-phonenumber-field==3.0.01
phonenumbers==8.10.20

#Debug Toolbar
django-debug-toolbar==1.11

#Chat
#channels==2.3.0

# Payment Procesing
stripe==2.36.1

django-countries==5.3.3

#Elastic Search with Haystack
elasticsearch==5.5.3
django-haystack==2.8.1

#ImportExport
django-import-export==1.2.0
