{% load i18n %}

<div id="CookielawBanner">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 pt-3">
                <p style="font-size: 13px;">
                    By continuing to browse this website, you agree to the use of cookies, allowing us to perform traffic statistics while improving the quality of this website. To learn more, please consult our Cookie Policy and our Privacy Policy.
                </p>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-sm btn-primary pull-right mt-3 mr-3" href="javascript:Cookielaw.createCookielawCookie();"><span style="font-size: 14px;">{% trans "Got it!" %}</span></a>
            </div>
        </div>
    </div>
</div>
