{% load static %}

{% block account_navbar %}

<div class="col-lg-2 mb-4">
    <ul class="component-list-100">
        <li><a class="{% if request.path == '/accounts/password/change/' %} active {% endif %}" href="{% url 'account_change_password' %}">Change Password</a></li>
        <li><a class="{% if request.path == '/accounts/email/' %} active {% endif %}" href="{% url 'account_email' %}">Change Email</a></li>
        <li><a class="{% if request.path == '/dashboard/location/' %} active {% endif %}" href="{% url 'users:user_location'%}">Change Location</a></li>
    </ul>
</div>

{% endblock account_navbar %}
