{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta http-equiv="Expires" content="30">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/stemlogo2.png' %}">
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!-- Fonts -->
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'css/font.css' %}" />
        {# Global stylesheets #}
        <!-- Form Colors -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/docs.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/docs.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/button.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style-alt.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/hero-300.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/stripe.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/waves.css' %}">

        <!-- Material Design for Bootstrap fonts and icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Material+Icons">
    </head>




{% block content %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    {% block inner %}{% endblock inner %}
  </div>
</div>
{% endblock content %}

{% block footer %}
  <!-- No Footer for account/base.html -->
{% endblock footer %}

</html>

{# Global javascript #}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>

<script src="{% static 'js/docs.min.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChmLHKBW5VXZsv5Am2kkAy4HOYqd6vd0k&callback=initMap"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>

<!-- stripe !-->
<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static 'js/charge.js' %}"></script>

<!-- Waves Effect !-->
<script type="text/javascript" src="{% static 'js/button-wave-effect.js' %}"></script>
