{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% trans "Confirm E-mail Address" %}

{% block inner %}
<div class="section-md vertical-container">
    <div class="vertical-alignment mr-auto ml-auto text-center p-4"  style="max-width: 800px;">
            <div class="card shadow-2 card-border">
                <div class="card-body py-4"  style="background-color: #f9fafb;">
                    <h5><strong>{% trans "Confirm E-mail Address" %}</strong></h5>
                  {% if confirmation %}
                  {% user_display confirmation.email_address.user as user_display %}
                  <p class="text-secondary fs-14">{% blocktrans with confirmation.email_address.email as email %}Welcome to Mod Technologies {{ user_display }}, please confirm your email address{% endblocktrans %}</p>
                </div>
                <div class="card-footer text-center ">
                  <form method="post" class="text-center" action="{% url 'account_confirm_email' confirmation.key %}">
                  {% csrf_token %}
                      <button class="btn btn-primary-alt btn-block"  type="submit">{% trans 'Confirm E-mail' %}</button>
                  </form>
                </div>
            </div>
            {% else %}
            {% url 'account_email' as email_url %}
            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
            {% endif %}
    </div>
</div>
{% endblock %}
