{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<!-- Body Start -->
<section class="section container">
        {% if user.is_merchant == False %}

            {% block component %}
              {% include "users/user/user_profile_nav.html" %}
            {% endblock component %}

        {% else %}

            <h2 class="section-header unhide">Settings</h2>
            <span class="fs-14 text-muted unhide">Welcome Back, {{ user|title }}!</span>

            {% block desktop_nav %}
              {% include "users/merchant/merchant_profile_nav.html" %}
            {% endblock desktop_nav %}


        {% endif %}
        <div class="mt-3 hide"></div>
        <div class="row mt-3">
            {% block account_navbar %}
              {% include "account/account_nav.html" %}
            {% endblock account_navbar %}
            <div class="offset-lg-1"></div>
            <div class="col-lg-6 ">
              <div class="card shadow-2 stripe-primary-top card-border">
                  <div class="card-body">
                      <h3 class="header text-center text-uppercase fw-5 mb-4">{% trans "Change Password" %}</h3>
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-primary-alt mt-4 btn-block" type="submit" name="action">{% trans "Change Password" %}</button>
                    </form>
                  </div>
              </div>
            </div>
            <div class="offset-lg-3"></div>
        </div>
</section>
{% endblock %}
