{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}


<div class="section-lg vertical-container">
    <div class="card vertical-alignment" style="max-width: 700px;">
        <div class="card-header pt-4">
            <h5><strong>{% trans "Password Reset" %}</strong></h5>
        </div>
        <div class="card-body pt-4 px-4"  style="background-color: #f9fafb;">
            {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
            {% endif %}
            <p class="mb-4 fs-14">{% trans "Forgotten your password? <br> Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="text-center pt-3">
                    <input class="btn btn-primary-alt " style="padding-top: 0.6rem; padding-bottom: 0.6rem;" type="submit" value="{% trans 'Reset My Password' %}" />
                </div>

            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}
