{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
<style>

#stripeBtnLabel {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  font-variant: normal;
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  display: block;
}

#stripeBtn {
  border: none;
  border-radius: 4px;
  outline: none;
  text-decoration: none;
  color: #fff;
  background: #32325d;
  white-space: nowrap;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  border-radius: 4px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.025em;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
  float: left;
  width: 100%
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
  background-color: #43458b;
}

.stripe-form {
  padding: 5px 30px;
}

#card-errors {
  height: 20px;
  padding: 4px 0;
  color: #fa755a;
}

.stripe-form-row {
  width: 100%;
  float: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.current-card-form {
  display: none;
}

</style>
{% endblock extra_styles %}

{% block content %}


  <main>
    <section class="section-sm">
      <div class="container">
          <div class="card-border-success px-5 py-4">
            <h2 class="text-success fw-7"><i class="fa fa-check fs-28" aria-hidden="true"></i> Thank you, your order has been placed.</h2>
            An email confirmation has been sent to you. You can view your tracking information <a href="#">here.</a>
            <br>
            <br>
            <span class="fs-18 fw-7">Order Number: {{ object.ref_code }}  </span>
          </div>
          <div class="py-5">
            <h3 class="fw-7 fs-16">
              Related to Items You've Viewed
            </h3>
            <div class="card-border p-2" style="background-color: #fafafa;">
              <span class=" text-muted fs-16">
                Customers who viewed this also viewed
              </span>
            </div>
            <div class="row">
              {% for object in advert_list %}
              <div class="col-lg-3 text-center">
                  <a href="{{ object.get_absolute_url }}">
                    <img class="card-img-top p-4" style="width: 100%;" src="/media/{{ object.image }}" alt="User Uploaded images">
                    <div class="text-center text-uppercase mt-4">
                      <h3 class="fs-14">{{ object.title }}</h3>
                      <span class="text-muted fs-14 ">${{ object.price }}</span>
                    </div>
                  </a>
              </div>
              {% endfor %}
            </div>

          </div>



      </div>
    </section>
  </main>

{% endblock content %}

{% block extrajs %}
<!-- Loading Screen -->
<script type="text/javascript" src="{% static 'js/loader.js' %}"></script>


{% endblock extrajs %}



{% block jquery %}

{% endblock jquery %}
