{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <main>
    <section class="section-md">
        <div class="container">
            <div class="card card-border shadow-2">
                <div class="card-header">
                    <span class="fs-14 text-muted">Request Refund</span>
                    <h2 class="fw-6 hide">Order #: {{ order.ref_code }}</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="pt-3">
                            <button type='submit' class='btn btn-primary-alt'>Request Refund</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
  </main>

{% endblock content %}
