{% load static %}

{% block mobile_nav %}
<div class="row unhide">
    <div class="col-lg-12 mb-4">
        <h1 class="header mb-2">My Profile</h1>
        <span class="fs-14 text-secondary">Welcome Back, {{ user|title }}!</span>
        <br>
    </div>
    {% for emailaddress in user.emailaddress_set.all %}
    <div class="col-lg-12">
         {% if emailaddress.verified %}
        {% else %}
        <span class="text-dark fs-16 ">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mr-1 icon-close-circle"><circle cx="12" cy="12" r="10" class="fill-red-300"/><path class="fill-red-700" d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"/></svg>
            Unverified Email
        </span>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endblock mobile_nav %}
