{% extends "base.html" %}
{% load static %}


{% block title %}Dashboard | {{ SITE_NAME }}{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock extra_styles %}

{% block content %}


<!-- Body Start -->
<section class="section container">
      {% block component %}
        {% include "users/user/user_profile_nav.html" %}
      {% endblock component %}
        <div class="row mt-2">
            <div class="col-lg-12 mb-4">
                <div class="card shadow-2  unhide">
                    <div class="card-body">
                        <h2 class="fw-6">My Account</h2>
                        <span class="fs-14 text-muted">Welcome Back, {{ user }}!</span>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
            {% for object in address_qs %}
                    <div class="col-lg-3 col-md-6 col-sm-6 text-center border-radius-300 mb-5" >
                        <div class="">
                            <a href="{{ object.get_absolute_url }}">
                                <img class="img-fluid" style="width: 100%;" src="media/{{ object.logo }}" alt="User Uploaded images">
                            </a>
                            <div class="py-1">
                                <div class=" text-left mt-2">
                                    <h3 class="fw-6 text-dark fs-18 mb-1">{{ object.business_name }}</h3>
                                    <i class="material-icons star-yellow fs-18" style="">star star star star star </i>
                                    <h4 class="fw-4 fs-14">
                                        {{ object.get_first_active.title|truncatewords:8 }}
                                    </h4>
                                    <div class="fw-5 fs-14 mt-2 mb-2">
                                        <span class="text-gray-600 fw-4">{{ object.city.name }}, {{ object.city.region.name }}</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 mb-1 icon-location-pin"><path class="fill-primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path class="fill-primary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z"/></svg>
                                    </div>
                                    <!-- url 'portal:merchant_detail' object.state object.city object.offer.first.merchant.category object.offer.first.merchant.subcategory object.offer.first.merchant.business_name object.offer.first.merchant.ref_code -->
                                </div>
                            </div>

                        </div>
                    </div>

            {% empty %}
            <div class="col-lg-6 offset-3 text-center py-4">
                Oops, you have not favorited any active offers yet or the offers have expired. <br> <a href="/">Click here</a> to view offers.
            </div>
            {% endfor %}
      </div>
      <div class="py-5 hide"></div><div class="py-5 hide"></div>
</section>

{% endblock content %}
{% block extrajs %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1300,
  });
</script>
{% endblock extrajs %}
