{% load static %}

{% block component %}
<h2 class="fw-6 hide mb-2">My Profile</h2>
<span class="fs-14 hide text-secondary">Welcome Back, {{ user }}!</span>
<div class="profile-nav hide mt-4">
    <ul class="list-unstyled">
        <li>
        <a href="{% url 'users:userPage' %}" class="{% if '/dashboard/' == request.path %} profile-link-active {% else %} profile-link {% endif %}">Dashboard</a>
        </li>
      <li>
        <a href="{% url 'users:user_favorites' %}" class="{% if 'favorite' in request.path %} profile-link-active {% else %} profile-link {% endif %}">My Favorites</a>
      </li>
      <li class="list-inline-item">
        <a href=" {% url 'users:user_merchants' %}" class="{% if 'merchant' in request.path %} profile-link-active {% else %} profile-link {% endif %}">My Merchants</a>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'users:user_location' %}" class="{% if '/location/' in request.path %} profile-link-active {% else %} profile-link {% endif %}">My Location</a>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'users:user_rewards' %}" class="{% if 'rewards' in request.path %} profile-link-active {% else %} profile-link {% endif %}">My Rewards</a>
      </li>
      <li class="list-inline-item">
        <a href="{% url 'account_set_password' %}" class="{% if 'accounts' in request.path %} profile-link-active {% else %} profile-link {% endif %}">Settings</a>
      </li>
    </ul>
</div>

{% endblock component %}
