{% extends "base.html" %}
{% load static %}


{% block title %}Dashboard | {{ SITE_NAME }}{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
{% endblock extra_styles %}


{% block content %}

<!-- Body Start -->
<section class="section container">

    {% block component %}
      {% include "users/user/user_profile_nav.html" %}
    {% endblock component %}

    {% block mobile_nav %}
      {% include "users/user/user_profile_mobile_nav.html" %}
    {% endblock mobile_nav %}

        <div class="row mt-5">
            {% for object in object.connections.all %}
            <div class="col-lg-3 col-md-6 col-sm-6 text-center border-radius-300 mb-4 px-m-na-3">
                <div class="card">
                    <a class="" href="{{ object.get_consumer_absolute_url }}">
                        <img class="img-fluid border-radius-top-100" style="max-height: 200px;" src="{{ AwsBucketMediaURL }}{{ object.logo }}" alt="User Uploaded images">
                    </a>
                    <div class="card-body py-1 px-3">
                        <div class=" text-left mt-2">
                            <a href="{{ object.get_consumer_absolute_url }}" class="fw-6 text-primary fs-18 mb-1">{{ object.business_name }}</a>
                            <br>
                            {% for i in object.rating_average_round %}
                              <span class="fa fa-star star-yellow fs-16"></span>
                              {% endfor %}
                              {% for i in object.rating_average_round_inverted %}
                              <span class="fa fa-star-o star-yellow fs-16"></span>
                            {% endfor %}
                            <br>
                            <!-- <span class="fs-12 text-gray-700">{{ object.category.get_name_display }} <span class="text-purple-500 px-1">&#8226;</span> {{ object.subcategory.name }}</span> -->
                                {% for object in object.rating_average.ratingsystem %}
                                    testimonial
                                {% endfor %}
                            <p class="fw-4 text-gray-800 fs-16 fw-6 pt-2 pb-2">
                                {{ object.slogan|truncatewords:8 }}
                            </p>
                            <!-- url 'portal:merchant_detail' object.state object.city object.offer.first.merchant.category object.offer.first.merchant.subcategory object.offer.first.merchant.business_name object.offer.first.merchant.ref_code -->
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-lg-6 offset-lg-3 text-center py-5 my-5">
                Oops, you have not favorited any active offers yet or the offers have expired. <br> <a href="/">Click here</a> to view offers.
            </div>
            {% endfor %}
      </div>
      <div class="py-5 hide"></div><div class="py-5 hide"></div>
</section>

{% endblock content %}
{% block extrajs %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1300,
  });
</script>
{% endblock extrajs %}
