{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card-body">
                    <h2 class="section-header">Edit Store</h2>
                    <p class="fs-14">Editing your store and saving the changes will require your store to be reapproved by the Gegoo staff.</p>
                    <hr>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            {% crispy form form.helper %}
                            <div class="col-lg-12">
                                <input type="submit" name="Save" value="Save Changes" class="btn btn-primary btn btn-primary-alt btn-block mt-3 pull-right" id="submit-id-save">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
