{% extends 'base.html' %}

{% block content %}
<div class="section-md">
    <div class="container">

        {% if subscription.subscription_status == 'active' %}
            {% if request.user.merchant_profile.stores == 1 %}
            <div class="row mb-1">
                <div class="col-lg-6 offset-3">
                    <div class="message alert-danger text-left stripe-red-700 mb-4 shadow-2" style="background-color: rgba(197, 48, 47, 0.2) !important;">
                        <div class="p-4 flex-container">
                            <div class="flex-icon">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-2 icon-important"><path class="primary" d="M12 2a10 10 0 1 1 0 20 10 10 0 0 1 0-20z"/><path class="fill-red-700" d="M12 18a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm1-5.9c-.13 1.2-1.88 1.2-2 0l-.5-5a1 1 0 0 1 1-1.1h1a1 1 0 0 1 1 1.1l-.5 5z"/></svg>
                            </div>
                            <div class="flex-box text-dark fs-16">
                                Your current store count is {{ request.user.merchant_profile.stores }}. Your subscription will be canceled if you delete this store!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endif %}


        <div class="row">
            <div class="col-lg-6 offset-3">
                <div class="card">
                    <div class="card-body">
                        <h2 class="display-5 fw-5">Delete Store</h2>
                        <span class="text-secondary fs-14">You are about to permanetly delete {{ object.business_name }}.</span>
                    </div>
                    <div class="card-footer">
                        <div class="text-right">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <a class="btn btn-tertiary mr-2" href="{% url 'users:merchant_store_list'%}">Cancel</a>
                                <button class="btn btn-danger-alt mr-2" type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
