{% extends "base-alt.html" %}
{% load static %}


{% block title %} {{ request.user }} - {{ object.business_name }} Page {% endblock %}

{% block extra_styles %}

{% endblock extra_styles %}


{% block content %}


<!-- Body Start -->
<section class="section-sm container">
    <div class="row">
        <div class="col-lg-6 text-left">
            <h1>{{ object.business_name }} Storefront</h1>
            <p>You can edit the content contained to better appeal to your customer base</p>
            <h1></h1>
        </div>
        <div class="col-lg-6 text-right">
            <a href="#" class="text-white btn btn-primary-alt gradient-primary py-2 fw-6 fs-24 mb-2 text-decoration-none">
                <span class="">USE CODE:</span> {% if object.code_coupon != NONE %}{{ object.code_coupon }}{% endif %}
            </a>
        </div>
        <div class="col-lg-3 mt-3">
            <div class="card shadow-2">
                <div class="card-body p-0">
                    <img class="img-fluid p-0" style="width: 100%;" src="{{ AwsBucketURL }}{{ object.logo }}" alt="Coupon Image Banner">
                </div>
                <div class="card-body border-top">
                    <h2 class="header text-dark">{{ object.business_name }}</h2>
                    {% if object.testimonial.exists %}
                    <i class="material-icons star-yellow fs-18" style="">
                        {% if object.rating_average <= 1 %} star star_border star_border star_border star_border
                        {% elif object.rating_average <= 2 %} star star star_border star_border star_border
                        {% elif object.rating_average <= 3 %} star star star star_border star_border
                        {% elif object.rating_average <= 4 %} star star star star star_border
                        {% elif object.rating_average <= 5 %} star star star star star {% endif %}
                    </i>
                    <span class="text-secondary fs-12">
                        ({{ object.get_total_testimonials }})
                    </span>
                    {% endif %}
                    <div class="fw-5 fs-14 mt-3">
                        <span class="fw-4">{{ object.city }}, {{ object.state }}</span>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 mb-1 icon-location-pin"><path class="fill-primary" d="M5.64 16.36a9 9 0 1 1 12.72 0l-5.65 5.66a1 1 0 0 1-1.42 0l-5.65-5.66zM12 13a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path class="fill-primary" d="M12 1a9 9 0 0 1 6.36 15.36l-5.65 5.66a1 1 0 0 1-.71.3V13a3 3 0 0 0 0-6V1z"/></svg>
                        <br>
                        <br>
                        <a href="tel:{{ object.phone_number }}" class="text-primary">{{ object.phone_number.as_e164 }} </a>
                        <a href="" class="text-primary">Write a Review</a>
                    </div>
                </div>
                <div class="card-body border-top">
                    <h3 class="header">About</h3>
                        <div class="text-left fs-14 text-secondary">
                        {{ object.description }}
                    </div>
                </div>
                {% if object.street_address %}
                <div class="card-body border-top">
                    <h3 class="header">Location</h3>
                    <address class="fs-14">
                        {{ object.street_address }}<br>
                        {{ object.city }}, {{ object.state }} {{ object.zip }} <br>
                        United States
                    </address>
                </div>
                {% endif %}
                {% if related_objects %}
                <div class="card-body border-top">
                    <h3 class="header">Related Shops</h3>
                    <ul class="list-unstyled ">
                        {% for object in related_objects %}
                        <li class="fs-14"><a href="{{ object.get_absolute_url }}">{{ object.business_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="offset-lg-1"></div>
        <div class="col-lg-8 mt-3">
            <div class="p-0 shadow-2">
                <video  style="display: block; margin: auto;" width="100%" controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen poster="{{ object.banner }}">
    				<source src="{{ AwsBucketURL }}{{ object.merchant.videofile.file }}" type="video/mp4"> Sorry, your browser doesn't support embedded videos.
				</video>
            </div>

            <div class="mt-3">
                <div class="merchant-bottom-button-container hide">
                    <!-- <div class="merchant-button merchant-button-active" id="ViewServicesBtn">
                        <span>Services</span>
                    </div> -->
                    <div class="merchant-button merchant-button-active" id="ViewOffersBtn">
                        <span>Offers</span>
                    </div>
                    {% if object.testimonial.exists %}
                    <div class="merchant-button" id="LearnMoreBtn">
                        <span>Reviews</span>
                    </div>
                    {% else %}
                    {% endif %}
                    <div class="merchant-button" id="DownloadContentBtn">
                        <span>Download</span>
                    </div>
                </div>
                <!-- View Services -->
                <!-- <div id="ViewServices">
                    <div class="card shadow-2 mt-3">
                        <div class="card-body p-0">
                            <div class="border-bottom px-3 py-3">
                                <div class="text-left">
                                    <h4 class="fw-4 fs-16 mb-0">
                                        {{ object.title }}
                                        <span class="text-primary fs-14 fw-6 pull-right">$49.99</span>
                                    </h4>
                                </div>
                            </div>
                            <div class="border-bottom px-3 py-3">
                                <div class="text-left">
                                    <h4 class="fw-4 fs-16 mb-0">
                                        {{ object.title }}
                                        <span class="text-primary fs-14 fw-6 pull-right">$49.99</span>
                                    </h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- View Offers -->

                <div class="card">
                    {% for offer in offers %}
                    <div class="card-body">
                        <h1>{{ offer.title }}</h1>
                        <h1>Store - {{ object.pk }}</h1>
                        <h1>Offer - {{ offer.pk }}</h1>
                        <a href="" value="add" data="{{ object.pk }}" data-catid="{{ offer.pk }}" class="offerBtn btn btn-primary" action_type="add">Add</a>
                    </div>              
                    {% endfor %}
                </div>
                <div id="ViewOffers">
                    {% for added_offer in added_offers %}
                        <div class="card card-border shadow-2 mt-3">
                            <div class="row">
                                <div class="col-lg-3 border-right pr-0">
                                    <div class="text-center vertical-container" style="height: 100%;">
                                        <div class="vertical-alignment">
                                            <h3 class="header text-primary pb-3 ">{{ added_offer.title }}</h3>
                                            <h4 class="text-secondary fs-12">Offer</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 pl-0">
                                    <div class="flex-container-vertical">
                                        <div class="card-body flex-box py-4 px-4">
                                            <h3 class="section-header text-darken mb-2">{{ added_offer.business_name }}
                                                <a class="text-gray-700" href="">
                                                    <i class="material-icons pull-right">
                                                    share
                                                    </i>
                                                </a>
                                            </h3>
                                            <h4 class="mt-3 fw-4 fs-16 text-gray-700">
                                                {{ added_offer.description|truncatewords:16 }}
                                            </h4>
                                        </div>
                                        <div class="flex-footer">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="ml-3 fs-16 mt-3">
                                                            <a href="#TODO" class="text-gray-600 fw-4">Favorite</a>
                                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mb-1 icon-heart"><circle cx="12" cy="12" r="10" class="fill-purple-100"/><path class="secondary" d="M12.88 8.88a3 3 0 1 1 4.24 4.24l-4.41 4.42a1 1 0 0 1-1.42 0l-4.41-4.42a3 3 0 1 1 4.24-4.24l.88.88.88-.88z"/></svg>
                                                        </div>
                                                    </div>
                                                    <div class="offset-2"></div>
                                                    <div class="col-lg-4">
                                                        <a href="#" class="btn btn-primary-alt btn-block">Get Code</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Reviews -->
                <div id="LearnMore">
                    {% for object in object.testimonial.all %}
                    <div class="card card-border shadow-2 mt-3">
                        <div class="flex-container-vertical">
                            <div class="card-body py-4 px-4">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h3 class="subheader">{{ object.title}}</h3>
                                        <p class="mt-3 fw-4 fs-16 text-gray-700">
                                            {{ object.review|truncatewords:16 }}
                                        </p>
                                    </div>
                                    <div class="col-lg-4">
                                        <i class="material-icons star-yellow fs-18 pull-right" style="">
                                            {% if object.rating == 1 %} star star_border star_border star_border star_border {% endif %}
                                            {% if object.rating == 2 %} star star star_border star_border star_border {% endif %}
                                            {% if object.rating == 3 %} star star star star_border star_border {% endif %}
                                            {% if object.rating == 4 %} star star star star star_border {% endif %}
                                            {% if object.rating == 5 %} star star star star star {% endif %}
                                        </i>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-footer">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="fs-14 text-secondary text-left">
                                                <span>Written by: {{ object.author }}</span> <br>
                                            </div>
                                        </div>
                                        <div class="offset-4"></div>
                                        <div class="col-lg-4">
                                            <div class="fs-14 text-secondary pull-right">
                                                <span class="fs-14 text-secondary fw-4">{{ object.created_at }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>

                <!-- Download Content -->
                <!-- <div class="text-center" id="DownloadContent">
                    <div class="card shadow-2 mt-3">
                        <div class="card-body">
                            <h3 class="header mb-3">Content Available for Download</h3>
                            <a href="#" class="btn btn-primary-alt mr-auto ml-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-6 icon-cloud-download"><path class="primary" d="M15 15v-3a3 3 0 0 0-6 0v3H6a4 4 0 0 1-.99-7.88 5.5 5.5 0 0 1 10.86-.82A4.49 4.49 0 0 1 22 10.5a4.5 4.5 0 0 1-4.5 4.5H15z"/><path class="primary" d="M11 18.59V12a1 1 0 0 1 2 0v6.59l1.3-1.3a1 1 0 0 1 1.4 1.42l-3 3a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l1.3 1.3z"/></svg>
                                Download {{ object.downloadable_content_title }}
                            </a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block jquery %}

var retrievedObject = localStorage.getItem('class');

if(retrievedObject){
    $('.offerBtn').addClass(retrievedObject)
};

var retrievedObjectText = localStorage.getItem('button_text');

if(retrievedObjectText){
    $('.offerBtn').text(retrievedObjectText)
};

  $(".offerBtn").click(function (event) {
    event.preventDefault();

    var this_ = $(this);
    var store_pk = this_.attr('data');
    var offer_pk = this_.attr('data-catid');
    var action_type = this_.attr('action_type');

    $.ajax({
      type: "POST",
      url: "{% url 'portal:offer_change_connections' %}",
      data: {
        store_pk: store_pk,
        offer_pk: offer_pk,
        action: action_type,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function (data) {

        if (this_.text() == 'Add') {
            this_.text('Remove');
            localStorage.setItem('button_text', this_.text());
            this_.attr({
                'action_type': 'remove', 
            });

            this_.removeClass('offerBtn btn btn-primary').addClass('offerBtn btn btn-danger');
            localStorage.setItem('class', 'offerBtn btn btn-danger');
        } else {
            this_.text('Add');
            localStorage.setItem('button_text', this_.text());
            this_.attr({
                'action_type': 'add',
            });
            localStorage.setItem('button_action', this_.attr('action_type'));

            this_.removeClass('offerBtn btn btn-danger').addClass('offerBtn btn btn-primary');
            localStorage.setItem('class', 'offerBtn btn btn-primary');
        }
        console.log(data)
      }
    });
    return false;
  });
{% endblock jquery %}

{% block extrajs %}

<script type="text/javascript">
$(document).ready(function() {

    var view_offers = $('#ViewOffers');
    var view_services = $('#ViewServices');
    var download_content = $('#DownloadContent');
    var learn_more = $('#LearnMore');


    download_content.hide()
    learn_more.hide()



    $('#ViewServicesBtn').on('click', function() {
      view_offers.hide()
      view_services.show()
      download_content.hide()
      learn_more.hide()

      $('#DownloadContentBtn').removeClass('merchant-button-active')
      $('#LearnMoreBtn').removeClass('merchant-button-active')
      $('#ViewServicesBtn').addClass('merchant-button-active')
      $('#ViewOffersBtn').removeClass('merchant-button-active')

    })

    $('#ViewOffersBtn').on('click', function() {
      view_offers.show()
      view_services.hide()
      download_content.hide()
      learn_more.hide()

      $('#DownloadContentBtn').removeClass('merchant-button-active')
      $('#LearnMoreBtn').removeClass('merchant-button-active')
      $('#ViewOffersBtn').addClass('merchant-button-active')
      $('#ViewServicesBtn').removeClass('merchant-button-active')

    })

    $('#DownloadContentBtn').on('click', function() {
      view_offers.hide()
      view_services.hide()
      download_content.show()
      learn_more.hide()

      $('#DownloadContentBtn').addClass('merchant-button-active')
      $('#LearnMoreBtn').removeClass('merchant-button-active')
      $('#ViewOffersBtn').removeClass('merchant-button-active')
      $('#ViewServicesBtn').removeClass('merchant-button-active')
    })

    $('#LearnMoreBtn').on('click', function() {
      view_offers.hide()
      download_content.hide()
      view_services.hide()
      learn_more.show()

      $('#DownloadContentBtn').removeClass('merchant-button-active')
      $('#LearnMoreBtn').addClass('merchant-button-active')
      $('#ViewOffersBtn').removeClass('merchant-button-active')
      $('#ViewServicesBtn').removeClass('merchant-button-active')
    })
});
</script>
{% endblock extrajs %}
