{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="card shadow-2">
                    <div class="card-body">
                        <h2 class="section-header">Create a Store</h2>
                        <p class="fs-14">Own a business? Fill out the following information for one of your locations.</p>
                        <hr>
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                {% crispy form %}
                                {{ form|crispy }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
