{% extends "base-alt.html" %}
{% load staticfiles %}

{% block title %}Admin Panel{% endblock title %}
{% block extra_head %}{% endblock extra_head %}
<!-- TODO: Add a alert message if trailer is overdue -->

{% block content %}
<div class="container h100">
    <div class="py-5"></div>
    <div class="container mt-5">
      <h2 class="text-muted text-center">Admin Panel</h2>
      <hr>
    </div>
    <div class="container" >
      <div class="row ">
        <div class="col-lg-4 text-center p-5" >
          <a href="http://127.0.0.1:8000/admin/users/">
          <h1><i class="fa fa-3x fa-users" aria-hidden="true"></i></h1>
          <p class="text-primary mt-3"><strong>Users</strong></p></a>
        </div>
        <div class="col-lg-4 text-center p-5">
          <a href="{% url 'memberships:subscription_list' %}">
          <h1><i class="fa fa-3x fa-clock-o" aria-hidden="true"></i></h1>
          <p class="text-primary mt-3"><strong>Subscriptions</strong></p></a>
        </div>
        <div class="col-lg-4 text-center p-5">
          <a href="{% url 'memberships:transaction_list' %}">
          <h1><i class="fa fa-3x fa-exchange" aria-hidden="true"></i></h1>
          <p class="text-primary mt-3"><strong>Transactions</strong></p></a>
        </div>
        <div class="col-lg-4 text-center p-5">
          <a href="{% url 'memberships:course_panel' %}">
          <h1><i class="fa fa-3x fa-edit" aria-hidden="true"></i></h1>
          <p class="text-primary mt-3"><strong>Edit Courses</strong></p></a>
        </div>
        <div class="col-lg-4 text-center p-5">
          <a href="{% url 'memberships:lesson_panel' %}">
          <h1><i class="fa fa-3x fa-edit" aria-hidden="true"></i></h1>
          <p class="text-primary mt-3"><strong>Edit Lessons</strong></p></a>
        </div>
        <div class="col-lg-4 text-center p-5">
          <a href="{% url 'memberships:membership_list' %}">
          <h1><i class="fa fa-3x fa-edit" aria-hidden="true"></i></h1>
          <p class="text-primary mt-3"><strong>Edit Memberships</strong></p></a>
        </div>
        <div class="col-lg-4 text-center p-5">
          <a href="https://dashboard.stripe.com">
          <h1><i class="fa fa-3x fa-cc-stripe" aria-hidden="true"></i></h1>
          <p class="text-primary mt-3"><strong>Stripe Dashboard</strong></p></a>
        </div>
      </div>
    </div>

</div>
  <div class="py-5"></div><div class="py-5"></div>
{% endblock content %}
