{% extends "base-alt.html" %}
{% load staticfiles %}

{% block title %}Lesson Panel{% endblock title %}
{% block extra_head %}{% endblock extra_head %}
<!-- TODO: Add a alert message if trailer is overdue -->

{% block content %}
<div class="py-5"></div>
  <div class="container view mt-5 h100">
    <div class="card">
      <div class="card-header px-4">
        <h3 class="mt-2">Lesson Editor <a class="btn btn-primary bg-primary shadow pull-right pr-4 pl-3" role="button" href="{% url 'portal:lesson_create' %}"><i class="fa fa-plus mr-2" aria-hidden="true"></i> New Lesson</a></h3>
        <p class="text-muted mt-3">This page will allow you to create, edit, and delete lessons.</p>
      </div>
      <div class="card-body table-responsive">
        <table class="table table-striped text-center" style="">
          <thead >
            <tr>
              <th scope="col" class="text-primary pull-left">LESSON NAME</th>
              <th scope="col"><span class="text-primary pull-left">PARENT COURSE</span></th>
              <th scope="col"><span class="text-primary pull-left">ORDERING ID</span></th>
              <th scope="col"><span class="text-primary pull-left">EDIT</span></th>
              <th scope="col"><span class="text-primary pull-left">DELETE</span></th>
            </tr>
          </thead>
          <tbody>
              {% if object_list %}
                {% for lesson in object_list %}
                <tr class="text-left">
                  <td  class="text-dark">{{ lesson.title }}</td>
                  <td  class="text-dark">{{ lesson.course }}</td>
                  <td  class="text-dark">{{ lesson.ordering_id }}</td>
                  <td  class="text-dark "><a href="{% url 'portal:lesson_update' lesson.pk %}">Edit</a></td>
                  <td  class="text-dark "><a href="{% url 'portal:lesson_delete' lesson.pk %}">Delete</a></td>
                </tr>
                {% endfor %}
                {% else %}
                    <p>There are no lessons in the database.</p>
            {% endif %}
            </tr>
          </tbody>
        </table>
<style>
.link-padding {
  padding-top: 0.58rem;
  padding-bottom: 0.58rem;
}

.disabled-padding {
  padding-top: 1.1rem;
  padding-bottom: 1rem;
  padding-left: .6rem;
  padding-right: .6rem;
}

</style>
      {% if is_paginated %}
        <ul class="pagination pull-right mr-4 mt-3">
          {% if page_obj.has_previous %}
            <li class="page-item link-padding"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
          {% else %}
            <li class="page-item disabled "><span><i class="disabled-padding fa fa-chevron-left" aria-hidden="true"></i></span></li>
          {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="page-item active link-padding"><span class="link-padding page-link" >{{ i }} <span class="sr-only">(current)</span></span></li>
            {% else %}
              <li class="page-item link-padding"><a class="link-padding page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            <li class="page-item"><a class="disabled-padding page-link" href="?page={{ page_obj.next_page_number }}"><i class=" fa fa-chevron-right" aria-hidden="true"></i></a></li>
          {% else %}
            <li class="page-item disabled"><span><i class="disabled-padding fa fa-chevron-right" aria-hidden="true"></i></span></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
    </div>
    <div class="py-4"></div>
    <a class="btn btn-primary bg-primary shadow pr-4 pl-3" role="button" href="{% url 'memberships:admin_panel' %}"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> Admin Panel</a>
    <div class="py-5"></div>
</div>


{% endblock content %}
