{% extends 'base-minimal.html' %}
{% load staticfiles %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %} Monthly Subscription Plans for Stemletics LLC | Video Courses{% endblock title %}
{% block extra_head %}{% endblock extra_head %}
<!-- TODO: Add a alert message if trailer is overdue -->
{% block content %}

<style>
body {
  background-color: #fafafa;
}

.special-card {
width: 100%;
border: 1px solid #f1f1f1;
box-shadow: 0 6px 6px rgba(0,0,0,0.07), 0 6px 6px rgba(0,0,0,0.07);
}

.special-card h4 {
  color: #4caf50;
}

.special-card p {
  color: #4caf50;
}

.regular-card {
  width: 100%;
  border: 1px solid #f1f1f1;
  box-shadow: none;
}

.regular-card h4 {
  color: #3a75c1;
}

.regular-card p {
  color: #3a75c1;
}


table.table tbody tr td,
table.table thead tr th,
table.table thead {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
}
th {
  font-size: 14px;
}
tr {
   line-height: 50px;
   min-height: 25px;
   height: 25px;
}

.btn-action-alt {
  width: 12rem;
  height: 50px;
}


.btn-action {
  width: 12rem;
  height: 50px;
}

</style>


<div class="section-card-parent">
    <div class="container-fluid section-card-overlay-top" style="border-bottom: 1px solid #d4d4d4;">
      <div class="pt-5 hide"></div>
        <div class="container text-center mb-5">
            <h1 class="text-dark mt-5 hide fw-5">Bring Customers to your Website</h1>
            <h1 class="jumbo-dark mt-5 unhide fw-6" style="font-size: 1.75rem;">Bring Clients to your Website</h1>
            <br>
            <p class="lead">Websites are only as good as their <span class="fw-6">user experience</span>, <span class="fw-6">search engine optimization</span>, and <span class="fw-6">advertising algorithms</span></p>
        </div>
        <div class="container text-center card-overlayed">
            <div class="row">
              {% for object in membership_list %}
                <div class="col-lg-4 mb-5">
                    <div class="card card-effects shadow-4 mt-4 {% if object.special == True %} special-card {% else %} regular-card {% endif %}">
                        <div class="card-body">
                            <h4 class="py-3" style="font-weight: 500;">{{ object.membership_type }}</h4>
                            <p class="pb-3" style="font-weight: 500;"><span class="text-dark" style="font-size: 3rem; ">${{ object.price }}</span><span class="text-dark">/ </span><span class="">Month</span> <br>
                            <span class="text-muted" style="font-weight: 400;">Cancel at anytime</span></p>
                            <hr>
                            <h5 class="py-2 text-dark">
                              {{ object.description }}
                            </h5>
                            <hr>
                            <h4 class="py-3" style="font-weight: 500;">Plan Benefits</h4>
                            <p class="text-dark">
                              {% for object in object.all_benefits %}
                                  <span class="py-3">{{ object.name }}</span><br>
                              {% endfor %}
                            </p>
                            <div class="py-3"></div>
                            {% if request.user.is_authenticated %}
                  						<form method="POST" action="{% url 'memberships:select' %}">
                  							{% csrf_token %}
                  								{% if object.membership_type != current_membership %}
                                  	<button class="btn {% if object.special == True %} btn-action-alt {% else %} btn-action {% endif %}">Select</button>
                  								{% else %}
                                    <a style="padding-top: .85rem; padding-bottom: .85rem; border-radius: 5px;" class="btn btn-action-disabled">Purchased</a>
                  								{% endif %}
                  							<input type="hidden" name="membership_type" value="{{ object.membership_type }}">
                  						</form>
                            {% else %}
                                    <a href="{% url 'account_login' %}" class="btn mb-4 {% if object.special == True %} btn-action-alt {% else %} btn-action {% endif %}">Select</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <p class="text-muted " style="font-size: 14px;">Your membership will renew automatically every month. You may cancel your membership at any time from your member dashboard.</p>
        </div>
    </div>
    <div class="container-fluid section-card-overlay-bottom">
      <div class="container text-center">
          <div class="py-5"></div><div class="py-3"></div> <div class="py-5 hide"></div>
          </div>
        </div>
    </div>
</div>
<section class="section-white-md ">
  <div class="container text-center my-5">
      <h2 class="jumbo-dark mt-5">Need help with a project?</h2>
      <p>Mod Technologies specializes in building transformative software based web applications and websites. <br>No matter the obstacles, let's build something together! </p>
      <div class="text-center pt-3">
        <a class="btn btn-primary-round px-5" role="button" href="{% slugurl 'contact' %}">Start a Project</a>
      </div>
  </div>
</section>

<section class="section-alt-sm shadow-2">
  <div class="text-center" id="faq">
    <h2 class="fs-50 fw-7 text-light" style="font-size: 36px;"><strong>Join hundreds of business owners</strong></h2>
  </div>
</section>

<div class="container">
  <div class="py-5"></div>
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h2 class="text-dark py-5 text-center" style="font-size: 36px"><strong>Frequently Asked Questions</strong></h2>
            <div class="text-left">
                <h3 class="pt-5 pb-2">
                    Will I have a say in the graphic design process?
                </h3>
                <p class="lead text-muted">
                  Of course, our team of trained frontend and backend developers will work with you every step of the way to ensure that you are happy with your design.
                  We will have frequent in person and over the phone meetings to share the progress of our work as each milestone progresses before the final design is completed.
                </p>
                <h3 class="pt-5 pb-2">
                    What Payment Options to do you offer?
                </h3>
                <p class="text-muted lead">
                  Our websites offer three methods of payment: <a target="_blank" class="text-primary" href="https://stripe.com/">Stripe</a>, <a target="_blank" class="text-primary" href="paypal.com">Paypal</a>, and <a target="_blank" class="text-primary" href="https://bitpay.com/">Bitpay</a>.
                  These providers are industry leading in security, reliablity, and support.
                  These providers handle all of the credit card and transaction information on the frontend and encrypt the credit card information as soon as it is submitted.
                  This maximizes security for your customers and your business.
                </p>
                <h3 class="pt-5 pb-2">
                    Where do you host your servers?
                </h3>
                <p class="text-muted lead">
                  Your website will be hosted on Amazon Web Services, an industry leader in this space, that can easily scale to thousands of users for affordable prices if necessary.
                </p>
                <h3 class="pt-5 pb-2">
                    Do you accept every client?
                </h3>
                <p class="text-muted lead">
                  Absolutely not, there are times that a client is simply not a good fit for our business model. Mod Technology creates extensive and high quality frontend and backend systems for
                  medium sized companies that are willing to put in the teamwork and effort to help us help them.
                  Creating a customer driven, value add website requires a lot of input, information, and product knowledge from the client.
                </p>

                <h3 class="pt-5 pb-2">
                    Do you use WordPress?
                </h3>
                <p class="text-muted lead">
                  No, we use a high-end web application framework called Django - which runs on Python 3.0. Django was created in 2005 by the Django Software Foundation.
                  Django is extremely scalable and is used by Instragram.com, BitBucket.com, Curse.com, and many other leading technology companies.
                  With the correct configuration and support Django can handle over 50,000 users a day, is extremely secure, and ridiculously fast. <br>For more information visit <a target="_blank" class="text-primary" href="https://www.djangoproject.com/">djangoproject.com</a>
                </p>
            </div>
        </div>
        <div class="col-lg-8 offset-lg-2 py-5 text-center">
            <h2 class="text-dark" style="font-size: 36px"><strong>Need help with your project?</strong></h2>
            <div class="hide">
              <a class="btn btn-success-round px-5 mt-5 mx-2" role="button" href="{% slugurl 'contact' %}">Schedule Consultation</a>
            </div>
            <div class="unhide">
              <a class="btn btn-success-round px-5 mt-5 mx-2" role="button" href="{% slugurl 'contact' %}">Schedule Consultation</a>
            </div>
        </div>
    </div>
</div>
<div class="py-4 hide"></div>
<div class="py-5 hide"></div>
<div class="body-light"></div>

{% endblock content %}
