{% extends 'base-alt.html' %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block title %} Checkout for Monthly Subscription Plans | Video Courses{% endblock title %}


{% block script %}
<script type="text/javascript">

// ============ STRIPE PAYMENT PROCESSING JS =========== //

var stripe = Stripe('{{ publishKey }}');
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
var style = {
  base: {
    // Add your base input styles here. For example:
    fontSize: '16px',
    color: "#32325d",
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

//3 Create a token or display an error when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
  }

</script>
{% endblock script %}

{% block jquery %}
// Create a token or display an error when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

{% endblock jquery %}

{% block extra_jQuery %}
<script>
$(document).ready$(function(){

    $( '.informationDropdown' ).each( function( index, value ){

        $( value ).data( 'height', $( this ).height() );
        $( value ).css( {height: 30} );
    });

    $( '.informationDropdown .information' ).click( function(){

        if( $( this ).data( 'expanded' ) ){

          $( this ).parent().animate( {height: 30} );
          $( this ).data( 'expanded', false );
        }else{

          $( this ).parent( ).animate( {height: $( this ).parent().data( 'height' )} );
          $( this ).data( 'expanded', true );
        }
    });
});
</script>

{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stripe.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">
{% endblock %}

{% block content %}

<style>
table.table tbody tr td,
table.table thead tr th,
table.table thead {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
}
.informationDropdown {
  border: 1px solid black;
  margin: 20px;
  overflow: hidden;
  padding: 10px;
}
</style>


  <div class="container mt-5" >
    <div class="row">
    <div class="col-lg-8 ">
      <div class="px-0">
        <h1><strong>Your Order</strong></h1>
      </div>
      <div class="py-3 px-0 mt-5">
          <div class="row">
            <div class="col-lg-8 <py></py>-4 px-0">
              <p class="text-left ml-3"><span  style="font-size: 1.4em; margin-bottom: 2rem;">{{ selected_membership }} Subscription</span><br>
              <div class="accordion" id="myAccordion">
                  <div id="headingThree">
                      <button type="button" class="text-left btn-information-dropdown collapsed" data-toggle="collapse" data-target="#collapseThree">view whats included <i class="fa fa-info-circle" aria-hidden="true"></i></button>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#myAccordion">
                      <div class="px-3">
                          <p>{{ selected_membership.description }}</p>
                      </div>
                  </div>
              </div>
                            </p>
            </div>
            <div class="col-lg-4 p-4 hide">
              <p class="text-center ml-3"><span  style="font-size: 1.4em; margin-bottom: 2rem;">${{ selected_membership.price }}/mo</span><br>
              </p>
            </div>
        </div>
        <hr class="hide">
      </div>
    </div>
    <div class="offset-lg-1"></div>
    <div class="col-lg-3 p-0">
      <div class=" p-4 m-1" style="border: 1px solid #ccc;">
        <h2  ><strong>Summary</strong></h2><br>
        <div class="py-1">
          <span>Subtotal</span>
          <span class="float-right">${{ selected_membership.price }}</span>
        </div>
        <hr>
        <div class="py-1">
          <span class="fw-6">Total</span>
          <span class="fw-6 float-right">${{ selected_membership.price }}</span>
        </div>
        <p class="text-secondary fs-12">This purchase is a recurring monthly subscription from the date of purchase.</p>
        <form action="." method="POST" id="">{% csrf_token %}
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ publishKey }}"
            data-amount="{{ selected_membership.stripe_total }}"
            data-name="{{ SITE_NAME }}"
            data-description="{{ selected_membership }} Monthly Subscription"
            data-image="{% static 'img/logo/logo.jpeg' %}"
            data-locale="auto"
            data-zip-code="true">PROCEED TO CHECKOUT
          </script>
          <script>
            // Hide default stripe button, be careful there if you
            // have more than 1 button of that class
            document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
          </script>
          <button type="submit" class="btn btn-primary-alt">Order Now</button>
        </form>
      </div>

      <div class="text-center">
        <div class="mt-3 mb-5">
          <img src="{% static 'img/1.png' %}" alt="Credit Card Payment Icon" width="36px">
          <img src="{% static 'img/2.png' %}" alt="Credit Card Payment Icon" width="36px">
          <img src="{% static 'img/14.png' %}" alt="Credit Card Payment Icon" width="36px">
          <img src="{% static 'img/22.png' %}" alt="Credit Card Payment Icon" width="36px">
          <img src="{% static 'img/10.png' %}" alt="Credit Card Payment Icon" width="36px">
          <img src="{% static 'img/16.png' %}" alt="Credit Card Payment Icon" width="36px">
        </div>
        <i class="fa fa-lock text-success" aria-hidden="true"></i>
        <strong><span class="text-success">SSL</span> SECURED PAYMENT</strong>
        <br>
        <span class="text-muted" style="font-size: 14px;">Your information is protected by 256-bit SSL encryption</span>
      </div>
    </div>
  </div>




  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-4"></div>
{% endblock %}


{% block scripts %}
  {{ block.super }}
  <script>
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
  </script>
{% endblock scripts %}
