{% extends 'base-alt.html' %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block title %}Course List{% endblock %}

<style>

body {
  background-color: #e2e7ee; #f3f6fa
}
</style>

{% block content %}

<section class="hero" style="background-image: url(/static/img/stemletics_hero.jpg); height: 60vh; background-attachment: scroll;">
 <div class="hero-inner">
   <div class="text moveInTop" style="top: 45%;"><h1>Stemletic Courses</h1>
     <p>Start Dribbling Today.</p>
	 </div>
</section>

<!--
<section>
<div class="card" style="height: 8vh;">
  <div class="container">
  	<div class="row"><!--
  		<div class="col-lg-4 py-4 text-left">
  			<h4>Extensive <i class="fa fa-book ml-2" aria-hidden="true"></i></h4>
  		</div>
  		<div class="col-lg-4 p-4  text-center">
  			<h4>Engaging <i class="fa fa-bullhorn ml-2" aria-hidden="true"></i></h4>
  		</div>
  		<div class="col-lg-4 py-4  text-right">
  			<h4>Effective <i class="fa fa-graduation-cap ml-2" aria-hidden="true"></i></h4>
  		</div>
  	</div>
  </div>
</div>
</section>
!-->
<div class="py-4"></div>

<section>
	<div class="container">
      <div class="row mb-3">
    	    <div class="col-sm-6 ">
              <h4>
                  <span class="text-muted">Student Courses</span>
              </h4>
          </div>
          <div class="col-sm-6">
              <div id="imaginary_container">
                  <div class="input-group stylish-input-group">
                      <input type="text" class="form-control"  placeholder="Search" >
                      <span class="input-group-addon">
                          <button type="submit" class="">
                              <i class="fa fa-search" aria-hidden="true"></i>
                          </button>
                      </span>
                  </div>
              </div>
          </div>
      </div>


    <hr>
	  <div class="row">
			{% for object in paid_list %}
	    <div class="col-lg-3 mb-5">
	        <div class="card card-effects" style="width: 100%; border: 0; box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);">
    	        <a href="{{ object.get_absolute_url }}" class="card-full-link"  style="text-decoration: none;">
        	        <img class="" src="{% static 'img/pic7.png' %}" style="width:100%;" alt="Card image">
        	        <div class="card-body py-1" style="overflow-y: auto; background-color: #fff;">
        	          <h5 class="card-text pt-3">{{ object.title }}</h5>
        	          <p class="card-text text-muted py-0 ">{{ object.card_description }}</p>
                    <p>
                        {% if object.rating_average == None %} <i class="fa fa-lg fa-star text-light" aria-hidden="true"></i><i class="fa fa-lg fa-star text-light" aria-hidden="true"></i><i class="fa fa-lg fa-star text-light" aria-hidden="true"></i><i class="fa fa-lg fa-star text-light" aria-hidden="true"></i><i class="fa fa-lg fa-star text-light" aria-hidden="true"></i>
                        {% elif object.rating_average <= 1.5 %} <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i><i class="fa fa-lg fa-star text-light" aria-hidden="true"></i><i class="fa fa-star text-light fa-lg" aria-hidden="true"></i><i class="fa fa-star text-light fa-lg" aria-hidden="true"></i><i class="fa fa-star text-light fa-lg" aria-hidden="true"></i>
                        {% elif object.rating_average <= 2.5 %} <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg " aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg" aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg" aria-hidden="true"></i>
                        {% elif object.rating_average <= 3.5 %} <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg" aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg" aria-hidden="true"></i>
                        {% elif object.rating_average <= 4.5 %} <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg" aria-hidden="true"></i>
                        {% elif object.rating_average <= 5 %} <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star  fa-lg star-yellow" aria-hidden="true"></i>
                        {% endif %}
                        <span class="text-muted">({% if object.rating_average == None %}0{% else %}{{ object.rating_average }}{% endif %})</span>
                    </p>
        	        </div>
    	        </a>
	        </div>
	    </div>
			{% endfor %}
	  </div>
    <div class="mb-3"><h4><span class="text-muted">Free Courses</span></h4></div>
    <hr>
	  <div class="row">
			{% for object in free_list %}
	    <div class="col-lg-3 mb-5">
	        <div class="card" style="width: 100%; border: 0; box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);">
    	        <a href="{{ object.get_absolute_url }}" class="card-full-link"  style="text-decoration: none;">
        	        <img class="" src="{% static 'img/pic7.png' %}" style="width:100%;" alt="Card image">
        	        <div class="card-body py-1" style="overflow-y: auto; background-color: #fff;">
        	          <h5 class="card-text pt-3">{{ object.title }}</h5>
        	          <p class="card-text text-muted py-0 ">{{ object.card_description }}</p>
                    <p>
                        {% if object.rating_average == None %} <i class="fa fa-lg fa-star text-light" aria-hidden="true"></i><i class="fa fa-lg fa-star text-light" aria-hidden="true"></i><i class="fa fa-lg fa-star text-light" aria-hidden="true"></i><i class="fa fa-lg fa-star text-light" aria-hidden="true"></i><i class="fa fa-lg fa-star text-light" aria-hidden="true"></i>
                        {% elif object.rating_average <= 1.5 %} <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i><i class="fa fa-lg fa-star text-light" aria-hidden="true"></i><i class="fa fa-star text-light fa-lg" aria-hidden="true"></i><i class="fa fa-star text-light fa-lg" aria-hidden="true"></i><i class="fa fa-star text-light fa-lg" aria-hidden="true"></i>
                        {% elif object.rating_average <= 2.5 %} <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg " aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg" aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg" aria-hidden="true"></i>
                        {% elif object.rating_average <= 3.5 %} <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg" aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg" aria-hidden="true"></i>
                        {% elif object.rating_average <= 4.5 %} <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star text-light fa-lg" aria-hidden="true"></i>
                        {% elif object.rating_average <= 5 %} <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star fa-lg star-yellow" aria-hidden="true"></i> <i class="fa fa-star  fa-lg star-yellow" aria-hidden="true"></i>
                        {% endif %}
                        <span class="text-muted">({% if object.rating_average == None %}0{% else %}{{ object.rating_average }}{% endif %})</span>
                    </p>
        	        </div>
    	        </a>
	        </div>
	    </div>
			{% endfor %}
	  </div>
	</div>
</section>

<div class="py-4"></div>
<div class="py-4"></div>
<div class="py-4"></div>

<section>
	<div class="container-fluid" style="padding-top: 7px; background-image: linear-gradient(45deg, #2ac399, #3a75c1);"></div>
	<div class="container-fluid section-md-secondary">
		<h1>Enter the Court today!</h1>
		<br>
		<p>Purchase a membership today and jumpstart your future.</p>
		<br>
		<p><a class="btn btn-light shadow px-4" role="button" href="{% url 'memberships:select' %}">Memberships</a></p>
	</div>
</section>

<div style="margin-bottom: 24rem;"></div>
{% endblock %}
