{% extends "base-alt.html" %}
{% load crispy_forms_tags %}

{% block title %}Couse Form{% endblock %}

{% block content %}
<div class="py-5"></div>
<div class="container mb-5" style="height: 130rem">
  <div class="row">
    <div class="offset-lg-2 col-lg-8">
      <div class="card">
        <div class="card-header bg-light px-5">
          <h5 class="pt-3">Edit Membership</h5>
          <p class="text-muted ">Edit the form below.</p>
        </div>
        <div class="card-body px-5 py-4">

      <form action="" method="post">
        {% csrf_token %}
        <table>
        {{ form|crispy }}
        </table>
        <input class="btn btn-primary bg-primary shadow px-4 my-3 pull-right" style="width: 100%;" type="submit" value="Submit">
      </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
