{% extends 'base-alt.html' %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block title %} Checkout for Monthly Subscription Plans | Video Courses{% endblock title %}


{% block script %}
<script type="text/javascript">
var stripe = Stripe('{{ publishKey }}');
var elements = stripe.elements();

// Custom styling can be passed to options when creating an Element.
var style = {
  base: {
    // Add your base input styles here. For example:
    fontSize: '16px',
    color: "#32325d",
  }
};

// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');

card.addEventListener('change', function(event) {
  var displayError = document.getElementById('card-errors');
  if (event.error) {
    displayError.textContent = event.error.message;
  } else {
    displayError.textContent = '';
  }
});

//3 Create a token or display an error when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

  // Submit the form
  form.submit();
  }

</script>
{% endblock script %}

{% block jquery %}
// Create a token or display an error when the form is submitted.
var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();

  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
    }
  });
});
{% endblock jquery %}

{% block extra_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/stripe.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/store.css' %}">
{% endblock %}

{% block content %}

<style>
table.table tbody tr td,
table.table thead tr th,
table.table thead {
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cecece;
  border-top: 1px solid #cecece;
}

</style>



<section>
  <div class="container-fluid section-sm-secondary" style="margin-top: 60px;">
      <div class="container text-box">
          <p><a href="{% slugurl 'home' %}"><i class="text-light fa fa-home" aria-hidden="true"></i></a> / <a class="text-light" href="{% url 'memberships:select' %}">Subscriptions</a> / Shopping Cart</p>
          <h2>Shopping Cart</h2>
      </div>
  </div>
</section>
  <div class="container">
    <div class="row">
    <div class="col-lg-8">
      <p class="lead" style="font-size: 2rem;">Your Order</p>
      <div class="card p-3 mt-5" style=" border-style: solid; border-width: 1px; border-color: #ccc;">
          <div class="row">
            <div class="col-lg-8 p-4">
              <p class="text-left ml-3"><span  style="font-size: 1.4em; margin-bottom: 2rem;">{{ selected_membership }} Subscription</span><br>

            </div>
            <div class="col-lg-4  p-4">
              <p class="text-center ml-3"><span  style="font-size: 1.4em; margin-bottom: 2rem;">${{ selected_membership.price }}</span><br>
              </p>
            </div>
        </div>
      </div>
    </div>
    <div class="offset-lg-1"></div>
    <div class="col-lg-3">
      <p class="lead" style="font-size: 2rem;">Total</p><br>
      <p style="font-size: 1.8em;"><strong>${{ selected_membership.price }}</strong></p>
      <p class="text-secondary">This purchase is a recurring monthly subscription.</p>
      <form action="." method="POST" id="">{% csrf_token %}
        <script
          src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ publishKey }}"
          data-amount="{{ selected_membership.stripe_total }}"
          data-name="ModTechnologies.io"
          data-description="{{ selected_membership }} Monthly Subscription"
          data-image="{% static 'img/logo_5.svg' %}"
          data-locale="auto"
          data-zip-code="true">PROCEED TO CHECKOUT
        </script>
        <script>
          // Hide default stripe button, be careful there if you
          // have more than 1 button of that class
          document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
        </script>
        <button type="submit" class="btn btn-primary bg-primary shadow px-2">Order Now</button>
      </form>
    </div>
  </div>


<div class="py-5"></div>
<div class="text-right"><i class="fa fa-lock text-success" aria-hidden="true"></i> <strong><span class="text-success">SSL</span> SECURED PAYMENT</strong><br>
<span class="text-muted" style="font-size: 14px;">Your information is protected by 256-bit SSL encryption</span>
</div>
  <hr>
  </div>


  <div class="py-5"></div>
  <div class="py-5"></div>
  <div class="py-4"></div>
{% endblock %}
{% block scripts %}
  {{ block.super }}
  <script>
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
  </script>
{% endblock scripts %}
