{% extends 'base-alt.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <h1>Trending Stores</h1>
                    <div class="card-group">
                    {% for trending_store in trending_stores %}
                        <div class="card faq-card">
                            <div class="card-body">
                                <div class="card-title">
                                    <a class="card-link" href="{{ trending_store.get_consumer_absolute_url }}">
                                        <h3>{{ trending_store.business_name }}</h3>
                                        <h3>{{ trending_store.merchant }}</h3>
                                    </a>
                                </div>
                                <p class="card-text">{{ trending_store.description }}</p>
                                
                                    <a href="" value="add" data-catid="{{ trending_store.pk }}" class="followBtn btn btn-primary" action_type="add">Follow</a>

                                </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1>All Stores</h1>
                    {% for store in store_list %}
                    <div class="card faq-card">
                        <div class="card-body">
                            <div class="card-title">
                                <a class="card-link" href="{{ store.get_consumer_absolute_url }}">
                                    <h3>{{ store.business_name }}</h3>
                                    <h3>{{ store.merchant }}</h3>
                                </a>
                            </div>
                            <p class="card-text">{{ store.description }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 

{% block jquery %}
  $(".followBtn").click(function (event) {
    event.preventDefault();

    var this_ = $(this);
    var storepk = this_.attr('data-catid');
    var action_type = this_.attr('action_type');

    $.ajax({
      type: "POST",
      url: "{% url 'portal:store_change_connections' %}",
      data: {
        store_pk: storepk,
        action: action_type,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function (data) {

        if (this_.text() == 'Follow') {
            this_.text('Unfollow');
            this_.attr({
                'action_type': 'remove', 
                'class': 'followBtn btn btn-danger'
            })
        } else {
            this_.text('Follow');
            this_.attr({
                'action_type': 'add',
                'class': 'followBtn btn btn-primary'
            })
        }
        console.log(data)
      }
    });
    return false;
  });
{% endblock jquery %}