{% extends "base.html" %}
{% load static %}


{% block title %} {{ store.business_name }} store Front | Located in {{ store.city }}, {{ store.city.region}} {% endblock %}

{% block extra_styles %}

{% endblock extra_styles %}


{% block content %}
<!-- Body Start -->
<section class="section pb-5 pt-1 container">
    <div class="py-3 hide"></div>
    <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-6 col-12 text-left hide">
            <div class="fs-14">
                <!-- <span href="" class="text-dark">{{ store.state }}</span>
                <span class="text-secondary px-1">&#8226;</span>
                <span href="" class="text-dark">{{ store.city }}</span>
                <span class="text-secondary px-1">&#8226;</span> -->
                <a href="{{ store.category.get_absolute_url }}" class="text-primary">{{ store.category.get_name_display }}</a>
                <span class="text-secondary px-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 icon-cheveron-right-circle"><circle cx="12" cy="12" r="10" class="fill-transparent"/><path class="fill-gray-600" d="M10.3 8.7a1 1 0 0 1 1.4-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.4-1.4l3.29-3.3-3.3-3.3z"/></svg></span>
                <a href="{{ store.subcategory.get_absolute_url }}" class="text-primary">{{ store.subcategory }}</a>
                <span class="text-secondary px-1"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 icon-cheveron-right-circle"><circle cx="12" cy="12" r="10" class="fill-transparent"/><path class="fill-gray-600" d="M10.3 8.7a1 1 0 0 1 1.4-1.4l4 4a1 1 0 0 1 0 1.4l-4 4a1 1 0 0 1-1.4-1.4l3.29-3.3-3.3-3.3z"/></svg></span>
                <a href="" class="text-primary">{{ store.business_name }}</a>
                <div class="py-3 unhide"></div>
            </div>
        </div>
        <div class="offset-3"></div>
        <div class="col-xl-3 col-lg-3 col-md-12 col-12 text-left bg-purple-200 border-top border-bottom stripe-primary py-2">
            <div>
                <a href="#" class="text-primary fw-6 fs-24 mb-2 text-decoration-none ">
                    <span class="text-dark fs-14 fw-4">USE CODE:</span>
                    <br>{% if store.code_coupon != NONE %}{{ store.code_coupon }}{% endif %}
                </a>

            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-12 order-lg-1 order-md-1 order-2 mt-3" id="ViewInfo">
            <div class="card shadow-5">
                <div class="card-body p-0 hide">
                    <img class="img-fluid p-0" style="width: 100%; border-radius: 0.25rem 0.25rem 0 0;" src="{{ AwsBucketMediaURL }}{{ store.logo }}" alt="Coupon Image Banner">
                </div>
                <div class="card-body border-top">
                    <h2 class="header text-dark">{{ store.business_name }}</h2>
                    {% if store.testimonial.exists %}
                    <div class="flex-container-rating">
                        <div class="flex-box text-secondary fs-12 pr-1  pt-1">
                            {{ object.rating_average }}
                        </div>
                        <div class="flex-box pr-1">
                            {% for i in object.rating_average_round %}
                              <span class="fa fa-star star-yellow fs-16"></span>
                              {% endfor %}
                              {% for i in object.rating_average_round_inverted %}
                              <span class="fa fa-star-o star-yellow fs-16"></span>
                            {% endfor %}
                        </div>
                        <div class="flex-box text-secondary fs-12 pt-1">
                            ({{ object.get_total_testimonials }})
                        </div>
                    </div>
                    {% endif %}
                    <div class="fw-6 text-secondary fs-14 mt-1">
                        <span class="fw-4">{{ store.street_address }}, {{ store.city }}, {{ store.state }}, {{ store.zip }}</span>
                        <br>
                        <br>
                        <a href="tel:{{ store.phone_number }}" class="text-primary">{{ store.phone_number.as_e164 }} </a>

                        {% if store.website_url %}
                        <a href="{{ store.website_url }}" target="_blank" class="text-primary pull-right">Visit Website</a>
                        {% endif %}
                    </div>

                </div>
                <div class="card-body border-top">
                    <h3 class="header">About</h3>
                        <div class="text-left fs-14 text-secondary">
                        {{ store.description }}
                    </div>
                </div>
                <div class="card-body border-top">
                    <h3 class="header">Subscribe to {{ store.business_name}}</h3>
                    {% if authenticated == False %}
                        <a href="{% url 'account_login' %}" class="btn btn-primary-alt px-2 py-1 mt-3">
                            Subscribe
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 icon-heart"><circle cx="12" cy="12" r="10" class="primary"/><path class="secondary" d="M12.88 8.88a3 3 0 1 1 4.24 4.24l-4.41 4.42a1 1 0 0 1-1.42 0l-4.41-4.42a3 3 0 1 1 4.24-4.24l.88.88.88-.88z"/></svg>
                        </a>
                    {% else %}
                        {% if store in store_connection_user %}
                            <a href="" data-catid="{{ store.pk }}" class="followBtn btn btn-purple-600-alt px-2 py-1 mt-3 shadow-0" action_type="remove">
                                Subscribed
                            </a>
                        {% else %}
                            <a href="" data-catid="{{ store.pk }}" class="followBtn btn btn-primary-alt px-2 py-1 mt-3" action_type="add">
                                Subscribe
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 icon-heart"><circle cx="12" cy="12" r="10" class="primary"/><path class="secondary" d="M12.88 8.88a3 3 0 1 1 4.24 4.24l-4.41 4.42a1 1 0 0 1-1.42 0l-4.41-4.42a3 3 0 1 1 4.24-4.24l.88.88.88-.88z"/></svg>
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="card-body border-top">
                    <h3 class="header">Review Business</h3>
                    <a href="{% url 'users:merchant_testimonial_create' slug=store.slug %}" class="text-primary fs-14">Write a Review</a>
                </div>
                {% if related_stores %}
                <div class="card-body border-top">
                    <h3 class="header">Related Shops</h3>
                    <ul class="list-unstyled ">
                        {% for object in related_stores %}
                        <li class="fs-14"><a href="{{ object.get_absolute_url }}">{{ object.business_name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="offset-xl-1 order-1 "></div>
        <div class="col-lg-8 col-md-8 order-1 mt-3">
            <div class="p-0 shadow-2">
                <video class="border-radius-100" style="display: block; margin: auto;" width="100%" controls controlsList="nodownload" webkitallowfullscreen mozallowfullscreen allowfullscreen poster="{{ AwsBucketMediaURL }}{{ store.logo }}">
    				<source src="{{ AwsBucketMediaURL }}{{ store.videofile.file }}" type="video/mp4"> Sorry, your browser doesn't support embedded videos.
				</video>
            </div>

            <div class="mt-3">
                <div class="merchant-bottom-button-container hide">
                    <!-- <div class="merchant-button merchant-button-active" id="ViewServicesBtn">
                        <span>Services</span>
                    </div> -->
                    <div class="merchant-button merchant-button-active unhide" id="ViewInfoBtn">
                        <span>Info</span>
                    </div>

                    {% if store.storeoffer.exists %}
                    <div class="merchant-button merchant-button" id="ViewOffersBtn">
                        <span>Offers</span>
                    </div>
                    {% endif %}

                    {% if store.testimonial.exists %}
                    <div class="merchant-button" id="LearnMoreBtn">
                        <span>Reviews</span>
                    </div>
                    {% else %}
                    {% endif %}
                    <!-- <div class="merchant-button" id="DownloadContentBtn">
                        <span>Download</span>
                    </div> -->
                </div>

                <!-- View Offers -->
                <div id="ViewOffers">
                    {% for object in store.storeoffer.all %}
                        {% for offer in object.offers.all %}
                            <div class="card card-border shadow-5 mt-3">
                                <div class="row">
                                    <div class="col-3 col-sm-3 col-md-3 border-right pr-0">
                                        <div class="text-center vertical-container " style="height: 100%;">
                                            <div class="vertical-alignment">
                                                <h4 class="text-secondary fs-14">Good Until</h4>
                                                <h3 class="header text-primary pb-3 ">{{ offer.end_date }}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-9 col-sm-9 col-md-9 pl-0">
                                        <div class="flex-container-vertical">
                                            <div class="card-body flex-box py-1 px-4">
                                                <h3 class="section-header text-darken mt-3 mb-1">{{ offer.title }}
                                                    <a class="text-gray-700 hide" href="">
                                                        <i class="material-icons pull-right">
                                                        share
                                                        </i>
                                                    </a>
                                                </h3>
                                                <h4 class="mt-3 fw-4 fs-14 text-gray-700">
                                                    {{ offer.description|truncatewords:16 }}
                                                </h4>
                                            </div>
                                            <div class="flex-footer">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-lg-6">

                                                        </div>
                                                        <div class="offset-2"></div>
                                                        <div class="col-lg-4">
                                                            <div class="fs-16 mt-2 text-right">
                                                                <a href="#TODO" class="text-gray-600 fw-4">Favorite</a>
                                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 mb-1 icon-heart"><circle cx="12" cy="12" r="10" class="fill-purple-200"/><path class="secondary" d="M12.88 8.88a3 3 0 1 1 4.24 4.24l-4.41 4.42a1 1 0 0 1-1.42 0l-4.41-4.42a3 3 0 1 1 4.24-4.24l.88.88.88-.88z"/></svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <!-- Reviews -->
                <div id="LearnMore">
                    {% for object in object.testimonial.testimonials_capped %}
                    <div class="card card-border shadow-5 mt-3">
                        <div class="flex-container-vertical">
                            <div class="card-body py-4 px-4">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <h3 class="subheader">{{ object.title }}</h3>
                                        <p class="mt-3 fw-4 fs-16 text-gray-700">
                                            {{ object.review|truncatewords:16 }}
                                        </p>
                                    </div>
                                    <div class="col-lg-4">
                                            <div class=" pr-1" style="line-height: 5px;">
                                                <i class="material-icons star-yellow fs-18 pull-right" style="">
                                                    {% for i in object.range %}
                                                    star
                                                    {% endfor %}
                                                    {% for i in object.range_inverted %}
                                                    star_border
                                                    {% endfor %}
                                                </i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-footer">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="fs-14 text-secondary text-left">
                                                <span>By: {{ object.author }}</span> <br>
                                            </div>
                                        </div>
                                        <div class="offset-4"></div>
                                        <div class="col-lg-4">
                                            <div class="fs-14 text-secondary pull-right">
                                                <span class="fs-14 text-secondary fw-4">{{ object.created_at }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="py-3 text-center">
                        <a href="#TODO">View More</a>
                    </div>
                </div>

                <!-- Download Content -->
                <div class="text-center" id="DownloadContent">
                    <div class="card shadow-2 mt-3">
                        <div class="card-body">
                            <h3 class="header mb-3">Content Available for Download</h3>
                            <a href="#" class="btn btn-primary-alt mr-auto ml-auto">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-8 mr-6 icon-cloud-download"><path class="primary" d="M15 15v-3a3 3 0 0 0-6 0v3H6a4 4 0 0 1-.99-7.88 5.5 5.5 0 0 1 10.86-.82A4.49 4.49 0 0 1 22 10.5a4.5 4.5 0 0 1-4.5 4.5H15z"/><path class="primary" d="M11 18.59V12a1 1 0 0 1 2 0v6.59l1.3-1.3a1 1 0 0 1 1.4 1.42l-3 3a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l1.3 1.3z"/></svg>
                                Download {{ store.downloadable_content_title }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block extrajs %}

<script type="text/javascript">
$(document).ready(function() {

    var view_info = $('#ViewInfo');
    var view_offers = $('#ViewOffers');
    var view_services = $('#ViewServices');
    var download_content = $('#DownloadContent');
    var learn_more = $('#LearnMore');

    // Size of browser viewport.
    // var height = $(window).height()
    var width = $(window).width()

    view_offers.hide()
    download_content.hide()
    learn_more.hide()

    if (width >= 992) {
        $('#ViewOffersBtn').addClass('merchant-button-active')
        view_offers.show()
    }


    $('#ViewInfoBtn').on('click', function() {
      view_info.show()
      view_offers.hide()
      view_services.hide()
      download_content.hide()
      learn_more.hide()

      $('#ViewInfoBtn').addClass('merchant-button-active')
      $('#DownloadContentBtn').removeClass('merchant-button-active')
      $('#LearnMoreBtn').removeClass('merchant-button-active')
      $('#ViewServicesBtn').removeClass('merchant-button-active')
      $('#ViewOffersBtn').removeClass('merchant-button-active')

    })


    $('#ViewServicesBtn').on('click', function() {
      view_offers.hide()
      view_services.show()
      download_content.hide()
      learn_more.hide()

      $('#ViewInfoBtn').removeClass('merchant-button-active')
      $('#DownloadContentBtn').removeClass('merchant-button-active')
      $('#LearnMoreBtn').removeClass('merchant-button-active')
      $('#ViewServicesBtn').addClass('merchant-button-active')
      $('#ViewOffersBtn').removeClass('merchant-button-active')

    })

    $('#ViewOffersBtn').on('click', function() {
      view_offers.show()
      view_services.hide()
      download_content.hide()
      learn_more.hide()

      $('#ViewInfoBtn').removeClass('merchant-button-active')
      $('#DownloadContentBtn').removeClass('merchant-button-active')
      $('#LearnMoreBtn').removeClass('merchant-button-active')
      $('#ViewOffersBtn').addClass('merchant-button-active')
      $('#ViewServicesBtn').removeClass('merchant-button-active')

    })

    $('#DownloadContentBtn').on('click', function() {
      view_offers.hide()
      view_services.hide()
      download_content.show()
      learn_more.hide()

      $('#ViewInfoBtn').removeClass('merchant-button-active')
      $('#DownloadContentBtn').addClass('merchant-button-active')
      $('#LearnMoreBtn').removeClass('merchant-button-active')
      $('#ViewOffersBtn').removeClass('merchant-button-active')
      $('#ViewServicesBtn').removeClass('merchant-button-active')
    })

    $('#LearnMoreBtn').on('click', function() {
      view_offers.hide()
      download_content.hide()
      view_services.hide()
      learn_more.show()

      $('#ViewInfoBtn').removeClass('merchant-button-active')
      $('#DownloadContentBtn').removeClass('merchant-button-active')
      $('#LearnMoreBtn').addClass('merchant-button-active')
      $('#ViewOffersBtn').removeClass('merchant-button-active')
      $('#ViewServicesBtn').removeClass('merchant-button-active')
    })
});
</script>
{% endblock extrajs %}

{% block jquery %}
  $(".followBtn").click(function (event) {
    event.preventDefault();

    var this_ = $(this);
    var storepk = this_.attr('data-catid');
    var action_type = this_.attr('action_type');

    $.ajax({
      type: "POST",
      url: "{% url 'portal:store_change_connections' %}",
      data: {
        store_pk: storepk,
        action: action_type,
        csrfmiddlewaretoken: '{{ csrf_token }}',
      },
      success: function (data) {

        document.location.reload(true)
        console.log(data)

      }
    });
    return false;
  });
{% endblock jquery %}
