{% extends 'base-alt.html' %}
{% load static wagtailuserbar %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block title %} Payment Successful | Thank you | Stemletics LLC{% endblock title %}

{% block content %}
<div class="container mobile-margin" style="height: 100vh; min-height: 850px;">
    <div class="jumbotron text-center" style=" position: relative; background-color: #fafafa;">
        <div class="text-center img-responsive-md">
          <img src="{% static 'img/undraw_order_confirmed_1m3v.svg' %}" alt="">
          <h1>You've been upgraded to <br>
            <span style="font-weight: 600; color: #26c281; text-transform: uppercase; padding-top:2rem;";>{{ user_membership.membership }} Member!</span></h1>
          <p class="text-muted">An email with your transaction information.</p>
        </div>
        <div class="text-center">
            <a class="btn btn-success-alt shadow px-4 mt-4 mx-2" role="button" href="{% url 'portal:course_list' %}">Start Learning</a>
        </div>
  </div>
</div>
{% endblock content %}
