
.dots-container {
position: relative;
}
.hero--dots {
    position: absolute;
    left: -150px;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: 9;

    img {
      border: 0;
      max-width: 100%;
      vertical-align: middle;
      display: inline-block;
    }
}

.dots-cover {
  z-index: 2;
}
