
/*         FOOTER GHOST       */

footer {

    padding-top: 2%;
    background-color: $color-footer-background;

    //background-image: url(/static/img/headers/footer_wave_2.svg);
    //background-image: linear-gradient(60deg, $color-alt-light, $color-alt-lighter);

    /* clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 90%); */
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    position: relative;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  .bottom-bar {
    background-color: $color-black;
  }

  a:hover {
    color: $color-primary !important;
    text-decoration: none;
  }

  p {
    color: $color-footer-text;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    color: $color-footer-title;
  }

  .font-footer {
  color: $color-footer-text;
  font-size: .85rem;
  }

  .title-footer {
  color: $color-footer-title;
  letter-spacing: 2px;
  font-size: .9rem;
  font-weight: 500;
  }

@media screen and (max-width: 992px) {
  .text-align-responsive {
    text-align: center;
  }

  .text-align-right-responsive {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .text-align-responsive {
    text-align: left;
  }

  .text-align-right-responsive {
    text-align: right;
  }
}

}
.hr-footer-sm {
  border-bottom: 1px solid #323232;
  margin-top: .65rem !important;
  margin-bottom: .65rem !important;
}
.hr-footer-md {
  border-bottom: 1px solid $color-white;
  margin-top: .65rem !important;
  margin-bottom: .65rem !important;
}




  /* ## FOOTER 200  ## */

  .hr-footer-sm {
    border-bottom: 1px solid  $color-secondary;
    margin-top: .65rem !important;
    margin-bottom: .65rem !important;
  }
  .hr-footer-md {
    border-bottom: 1px solid $color-secondary;
    margin-top: .65rem !important;
    margin-bottom: .65rem !important;
  }
