/*  <**************************************************************************>
    <*****                          FORMS                                 *****>
    <**************************************************************************>
*/

input, input:-internal-autofill-selected, input:-webkit-autofill, select:-webkit-autofill {
    font-size: 1.1rem;
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
}
input[type=checkbox]:checked + label {
  color: #32325d;
  font-style: normal;
}

/*  <**************************************************************************>
    <*****                      FORM PLACEHOLDER                          *****>
    <**************************************************************************>
*/

::placeholder {
  color: $color-gray-900 !important;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-gray-900;
 }
 ::-moz-placeholder { /* Firefox 19+ */
     color: $color-gray-500;
 }
 :-ms-input-placeholder { /* IE 10+ */
     color: $color-gray-500;
 }
 :-moz-placeholder { /* Firefox 18- */
     color: $color-gray-500;
 }

 /*  <**************************************************************************>
     <*****                        AUTO FILL                               *****>
     <**************************************************************************>
 */

 :-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $color-gray-300 inset !important;
    font-size: 1.1rem !important;
 }

 :-webkit-autofill {
    -webkit-text-fill-color: $color-dark !important;
    font-size: 1.1rem !important;
 }


 /*  <**************************************************************************>
     <*****                   Generic Form Attributes                      *****>
     <**************************************************************************>
 */

// .form-control, .custom-file-control,
// .is-focused .form-control,
// .is-focused .custom-file-control {
//   background-image: linear-gradient(to top, $color-primary 2px, rgba(63, 81, 181, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px); }

.form-control:valid, .custom-file-control:valid {

    color: #3a3a3a !important;
}
// .form-control, .custom-file-control, .is-focused .form-control, .is-focused .custom-file-control {
//     background-image: linear-gradient(to top, $color-primary 2px, rgba(63, 81, 181, 0) 2px), linear-gradient(to top, #c6c7c8 1px, transparent 1px);
// }
.form-control::placeholder, .custom-file-control::placeholder {
  color: #c6c7c8;
  opacity: 1; }


.form-control .custom-file-control{
color: #3a3a3a;

}

.form-control:invalid {
color: #ff7f7f;

}

.form-control:focus, .custom-file-control:focus{
color: #3a3a3a;

}
// .form-control:invalid, .custom-file-control:invalid {
//     background-image: linear-gradient(to top, $color-primary 2px, rgba(213, 0, 0, 0) 2px), linear-gradient(to top, rgba(0, 0, 0, 0.26) 1px, transparent 1px);
// }

.form-control:valid, .custom-file-control:valid {

    color: #3a3a3a !important;
  }

.form-control::placeholder, .custom-file-control::placeholder {
  color: #c6c7c8;
  opacity: 1; }


/* Form Landing Page */


.form-landing {
  height: 100vh;

  .card {
    background-color: $color-white;
  }

  p {
    color: $color-text;
  }
}



    input[type=file]{
      background-color: $color-gray-200;
      border: none;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      width: 100%;
      color: $color-gray-700;
      border-radius: $border-radius-100;
      cursor: pointer;
    }


.waves-input-wrapper {
    display: block !important;
}


select {
    opacity: 1 !important;
}

select option {
    margin: 40px;
    background: #fff;
    color: $color-gray-700;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    border: 1px solid #ddd;

}
