body h2 {
  font-size: 1.5rem;
}

hr.hr-2 {
  border-top: 2px solid $color-primary;
  width: 30px;
  align-items: left;
}



  #myBtn {
      display: none; /* Hidden by default */
      position: fixed; /* Fixed/sticky position */
      bottom: 20px; /* Place the button at the bottom of the page */
      right: 30px; /* Place the button 30px from the right */
      z-index: 99; /* Make sure it does not overlap */
      border: 2px solid rgba(255, 255, 255, 0.9);
      outline: none; /* Remove outline */
      background-color: $color-primary; /* Set a background color */
      color: #fff; /* Text color */
      cursor: pointer; /* Add a mouse pointer on hover */
      line-height: 16px;
      padding:11px 15px 18px 15px;
      font-weight: 400;
      font-size: 8px;
      margin-bottom: 4px;
      cursor: pointer;
      outline: none;
      outline-offset: 0;
      text-align: center;
      text-decoration: none;
      border-radius: 50%; /* Rounded corners */
      font-size: 18px; /* Increase font size */
      box-shadow: 0 3px 6px rgba(0,0,0,0.22), 0 3px 6px rgba(0,0,0,0.26);
      opacity: .9;
      filter: alpha(opacity=70); /* For IE8 and earlier */
  }

  #myBtn:hover {
      background-color: $color-primary; /* Add a dark-grey background on hover */
  }


@media screen and (min-width: 992px) {
  .unhide {
    display: none;
  }
  .mobile-margin {
    margin-top: 100px;
  }
  .search {
    width: 350px;
  }
  .search-input {
    width: 350px;
  }
  .h100 {
    height: 100vh;
  }
  .message-resizer {
    width: 25rem;
  }
  .column-border {
    border-right: 1px solid #f1f1f1;
  }
  .contactform h1 {
    font-size: 65px;
    font-weight: 600;
  }

  .contactform h2 {
  font-size: 28.5px;
  font-weight: 500;
  }

  .contactform h5 {

  }

  .projectform h1 {
    font-size: 65px;
    font-weight: 600;
  }

  .projectform h2 {
  font-size: 28.5px;
  font-weight: 500;
  }

  .projectform h5 {
  font-size: 16px;
  font-weight: 500;
  }

  .img-responsive-sm img {
      width: 100%;
      max-width: 15rem;
      height: auto;
      display: block;
      margin: 0 auto;
  }
  .img-responsive-md img {
      max-width: 25rem;
      height: 80%;
      display: block;
      margin: 0 auto;
  }
  .img-shadow {
    img {
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, .2), 0 5px 11px 0 rgba(0, 0, 0, .15);
    }
  }
  /* UserPage Padding UL */
  .ul-padding-mobile {
    padding-inline-start: 0px;
  }
}
@media screen and (max-width: 1200px) {
  .search {
    width: 290px;
  }
  .search-input {
    width: 290px;
  }
  .contactform {
    height: 73vh;
    margin-top: 110px;
    background-color: #fafafa;
    background-repeat: no-repeat;
  }
}
@media screen and (max-width: 992px) {
  .hide {
    display: none;
  }
  .unhide {

  }

  .search {
    width: 100%;
    margin-top: 1rem;

  }
  .search-input {
  width: 95%;
  }
  .center {
  text-align: center;
  }
  .contactform {
    height: 135vh;
    margin-top: 110px;
    background-color: #fafafa;
    background-repeat: no-repeat;
    height: 110rem;
  }
  .contactform h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .contactform h2 {
  font-size: 16px;
  font-weight: 500;
  }

  .contactform h5 {
  font-size: 14px;
  font-weight: 500;
  }

  .projectform h1 {
    font-size: 30px;
    font-weight: 600;
  }

  .projectform h2 {
  font-size: 16px;
  font-weight: 500;
  }

  .projectform h5 {
  font-size: 22px;
  font-weight: 500;
  }

  .message-resizer {
    width: 15rem;
  }
  .column-border {
    border-right: none;
  }

  .img-responsive-sm img {
      width: 100%;
      max-width: 8rem;
      height: auto;
  }
  .img-responsive-md img {
      width: 100%;
      max-width: 20rem;
      height: auto;
  }

  /* UserPage Padding UL */
  .ul-padding-mobile {
    padding-inline-start: 20px;
  }
}

/* ********* Cards ********** */


.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 2px -2px rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: $border-radius !important;
  background-color: #fff !important;


  .card-footer {
    background-color: #fff;
  }
}

.card-effects {
  transition: transform 0.25s;
}
.card-effects::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
  content: '';
  opacity: 0;
  z-index: -1;
}
.card-effects:hover::after, .card__one:focus::after {
  opacity: 1;
}

.card-shadow {
  box-shadow: 0 5px 11px rgba(222,222,222,0.08), 0 10px 10px rgba(0,0,0,0.05)
}

.card-effects {
  transition: transform 0.25s;
}
.card-effects::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
  content: '';
  opacity: 0;
  z-index: -1;
}
.card-effects:hover::after, .card__one:focus::after {
  opacity: 1;
}

.card-border {
  border: solid 1px #ddd;

}


.card-graphic-middle {
  background-image: url(/static/img/card.svg);
  //background-image: linear-gradient(60deg, $color-alt-light, $color-alt-lighter);
  /* clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 90%); */
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.card-graphic-left {
  background-image: url(/static/img/card_left.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}

.card-graphic-right {
  background-image: url(/static/img/card_right.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}


/* ******** SHADOWS EFFECTS ********* */
.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 1px;
  border-color: #29303B;
}

.shadow-1 {
  -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.28), 0 4px 8px rgba(0,0,0,0.29) !important;
  box-shadow: 0 4px 8px rgba(0,0,0,0.28), 0 4px 8px rgba(0,0,0,0.29) !important;
}
.shadow-2 {
  -webkit-box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2) !important;
  box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2) !important;
}
.shadow-3 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)!important;
}

.shadow-4 {
  -webkit-box-shadow: 0 5px 10px rgba(154,160,185,.15), 0 15px 40px rgba(166,173,201,.3) !important;
  box-shadow: 0 5px 10px rgba(154,160,185,.15), 0 15px 40px rgba(166,173,201,.3) !important;
}
.shadow-0 {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.course-card-title {
  font-weight: 500;
  font-size: 1rem;
  color: #29303B;
}

.course-card-text {
  font-size: .8rem;
  color: #6c757d;
}

.h100 {

}


  @media screen and (min-width: 992px) {

    .star-yellow {
      color: #f3c840;
    }
    .service-spacer {
       padding-bottom: 6rem;
    }

  }

  @media screen and (max-width: 992px) {

    .star-yellow {
      color: #f3c840;
      font-size: 14px;
    }
    .service-spacer {
      padding-bottom: 0rem;
    }

  }



  .mini-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: flex-start;
  }

    .card-mini {
      display: inline;
      flex-direction: column;
      flex-flow: flex-start;
      padding: .1rem;
      margin: 0;

    }

    .card-mini .title {
      padding: 1rem 0 0 .5rem ;
      margin: 0;
      font-size: 16px;
      font-weight: 500;

    }
    .card-mini .paragraph {
      font-size: 12px;
      padding: .5rem 0 .5rem .5rem;
      margin: 0;
    }
    .card-mini img {
      font-size: 14px;
      padding: 0.75rem 0.5rem 0 0;
      margin: 0;
    }

    .card-mini .stars{
      font-size: 14px;
      padding-left: .5rem;

    }

    .card-mountains {
    background-image: url(/static/img/footer_glacier_10.3.svg);
    background-size: cover;
    background-position:  50px 100px;
    background-repeat: no-repeat;
    background-color: $color-alt;
    color: $color-secondary;

    }

    .center-card {
    position: relative !important;
    top: 30% !important;
    height: 98vh !important;

    }


    .jumbo-white {
      font-size: 2.4rem;
      font-weight: 800;
      color: #f1f1f1;
      padding-bottom: 1.75rem
    }
    .jumbo-dark {
      font-size: 2rem;
      font-weight: 800;
      color: #3a3a3a;
      padding-bottom: 1.75rem;
    }

    .jumbo-primary {
      font-size: 2.4rem;
      font-weight: 800;
      color: $color-primary-light;
    }

    .jumbo-success {
      font-size: 2.4rem;
      font-weight: 800;
      color: $color-success;
    }

    .jumbo-accent{
      font-size: 2.4rem;
      font-weight: 800;
      color: $color-accent;
    }

    .jumbo-secondary {
      font-size: 2.4rem;
      font-weight: 800;
      color: $color-secondary;
    }


.card-footer {
  background-color: $color-alt;
}



  .uniform-buttom-spacing-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: flex-start;
    justify-content: space-between;

  }
  .button-uniform {
    display: inline;
    flex-direction: column;
    flex-flow: flex-start;
    padding: .1rem;
    margin: 0;

  }

  .button-uniform-full-width {
    width:100%;
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
    display:block;
    text-align:center;

  }

  .invoice {
    margin-top: 2rem;
    display: inline;
    margin: 1.5rem 0 1rem 1rem;
    width: 100%;
    font-size: 1.3rem;
  }
  .invoice-card {
    background-color: #2a2a2a;
    color: #fff;
    padding: .3rem 1.5rem .3rem 1.5rem;
    border: 1px solid #2a2a2a;
    font-weight: 500;



  }
  .invoice-card-inverse {
    padding: .3rem 1rem .3rem 7rem;
    border: 1px solid #2a2a2a;
    font-weight: 500;
    width: 100%;
    margin: 0;
    font-size: 24;
  }

  .messages {

    z-index: 100;
    position: fixed;
    bottom: 0%;
    opacity: .95;
  }

  .vertical-align {
    padding-top: 8rem;
    padding-bottom: 8rem;
    vertical-align: middle;
  }


// ============== Payment Bread Crumb =========== //

.payment-crumb {
    height: 65px;
    margin-top: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;


    .font-size {
      font-size: 1rem;
      line-height: normal;
    }

    &-brand {
      padding: 1rem 3rem 1rem 0;
      margin-bottom: 0;
      order: 1;
      color: $color-text;
      flex-grow: 0;
      font-weight: 700;
      line-height: normal;
      font-size: 1.25rem

    }
    &-text {
      color: $color-text;

      order: 1;
      flex-grow: 0;
      padding: 0.75rem 1rem 1rem 1rem;
      line-height: normal;

    }
}

  .crumb-border {
    border-bottom: 1px solid #c1c1c1;
  }



  // ============== CUSTOM MESSAGES ================//

    .messages {
      z-index: 999;
      position: fixed;
      left: 0%;
      bottom: 0%;
      opacity: .95;
      background-color: transparent !important;
      color: $color-dark;
      font-family: Montserrat, sans-serif;
      font-size: .95em;
      font-weight: 600;
      padding: 1em 1em 1em 2em;
      z-index: 80;
      position: fixed;
      bottom: 0%;
      height: 3rem;
    }

    .alert {
      background-color: #fafafa;
      color: $color-dark;
      font-family: Montserrat, sans-serif;
      font-size: .95em;
      font-weight: 600;
      padding: 1em 1em 1em 2em;
      z-index: 999;
      position: fixed;
      left: 3%;
      bottom: 0%;
      -webkit-box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2) !important;
      box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2) !important;
    }

    .alert-success {
      border-left: 6px solid $color-success;
    }

    .alert-danger {
      border-left: 6px solid $color-danger;
    }

    .alert-info {
      border-left: 6px solid $color-info;
    }

    .message-shadow {
      -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.22), 0 3px 6px rgba(0,0,0,0.22) !important;
      box-shadow: 0 3px 6px rgba(0,0,0,0.22), 0 3px 6px rgba(0,0,0,0.22) !important;
    }

  // ============== CUSTOM MESSAGES END ================//


  .background-hover:hover {
    background-color: $color-primary;
    color: #fff;

    a {
      color: $color-alt;
    }
  }
.circle-success {
  border: solid 3px $color-success;
  border-radius: 50%;
  padding: 2.2rem 1rem 1.2rem 1rem;
  margin-bottom: 5rem;
}


// ======== hr =========== //


    .hr-primary {
      background-color: $color-primary;
      height:3px;
      width: 100%;
    }

    .hr-secondary {
      background-color: $color-secondary;
      height:3px;
      width: 100%;
    }

    .hr-accent {
      background-color: $color-accent;
      height:3px;
      width: 100%;
    }

    .hr-white {
      background-color: $color-white;
      height:3px;
      width: 100%;
    }


    .hr-primary-sm {
      background-color: $color-primary;
      height:4px;
      width: 8rem;
    }

    .hr-primary-md {
      background-color: $color-primary;
      height:4px;
      width: 8rem;
    }

    .hr-primary-lg {
      background-color: $color-primary;
      height: 3px;
      width: 15rem;
    }

    .hr-primary-gradient-sm, {
      background-image: -webkit-linear-gradient($color-primary-light, $color-primary-dark);
      background-image: -o-linear-gradient($color-primary-light, $color-primary-dark);
      background-image: linear-gradient($color-primary-light, $color-primary-dark);
      height: 4px;
      width: 9rem;
        }

    .hr-primary-gradient-md {
      background-image: -webkit-linear-gradient($color-primary-light, $color-primary-dark);
      background-image: -o-linear-gradient($color-primary-light, $color-primary-dark);
      background-image: linear-gradient($color-primary-light, $color-primary-dark);
      height: 4px;
      width: 20rem;
        }

    .hr-primary-gradient-xl {
      background-image: -webkit-linear-gradient($color-primary-light, $color-primary-dark);
      background-image: -o-linear-gradient($color-primary-light, $color-primary-dark);
      background-image: linear-gradient($color-primary-light, $color-primary-dark);
      height: 4px;
      width: 100%;
        }

    .hr-secondary-sm {
      background-color: $color-secondary;
      height: 4px;
      width: 7.5rem;
    }

    .hr-accent-sm {
      background-color: $color-accent;
      height: 4px;
      width: 7.5rem;
    }

    .hr-white-lg {
      background-color: white;
      height: 3px;
      width: 50%;
    }

    .hr-white-md {
      background-color: white;
      height: 3px;
      width: 8rem;
    }
