
  /*      HERO       */
@media screen and (min-width: 992px) {
    .hero {
        /* Sizing */
        margin-left: 13%;
        margin-right: 13%;
        border-radius: .3rem;// HACK:
        height: 600px;
        text-transform: capitalize;
        /* Flexbox stuff */
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;

        /* Text styles */
        /* Background styles */
        background: url(/static/img/headers/liberty.png);
        //back: ;ground-image: linear-gradient(60deg, $color-alt-light, $color-alt-lighter);
        background-color: $color-secondary;
        /* clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 90%); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;


        & .text {
          align-self: center;
          margin-right: auto;
          margin-left: auto;
          text-align: center;
          max-width: 60rem;
          padding-top: 18rem;
          padding-bottom: 10rem;
          width: 70%;
          hr {

          }
        }

        & h1 {
            font-size: 5rem;
            color: $color-white;
            font-weight: 800;
            margin-top: 0;
            margin-bottom: 2rem;
        }

        & h3 {
          margin-top: 2rem;
          color: $color-gray-400;
        }

        & p {
            /* Text styles */
            font-size: 1.2rem;
            color: $color-alt;
            margin-top: 0;
            margin-bottom: 2rem;
            font-weight: 500;
        }

        & .social-media {
          position: absolute;
          bottom: 1%;
          right: 1%;
          font-size: 2rem;
        }

        img {
          margin-top: 4rem;
          border-radius: $border-radius;
        }
    }
  }
@media screen and (max-width: 992px) {
    .hero {
        /* Sizing */
        height: 100vh;
        /* Flexbox stuff */
        display: flex;
        justify-content: center;
        align-items: center;
        /* Text styles */
        text-align: center;
        /* Background styles */
        /* background-image: url(/static/img/background_waves_6.svg); */
        background: url(/static/img/headers/wave.svg);
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        position: relative;

    .text {
      position: absolute;
      text-align: center;
      top: 17%;
      max-width: 40rem;
      padding: 0 10% 0 5%;
      color: $color-main;

    }

    h1 {
        /* Text styles */
        font-size: 2em;
        color: $color-main;
        /* Margins */
        opacity: .95;
        margin-top: 0;
        margin-bottom: 1em;

    }
    p {
        /* Text styles */
        font-size: 1.125em;
        color: $color-main;
        /* Margins */
        margin-top: 0;
        margin-bottom: 2.5em;

    }
  }
}
