
  /*      HERO       */
@media screen and (min-width: 992px) {
    .hero {
        /* Sizing */
        height:100vh;
        /* Flexbox stuff */
        display: flex;
        justify-content: center;
        align-items: center;
        /* Text styles */
        text-align: center;
        /* Background styles */
        /* background-image: url(/static/img/background_waves_6.svg); */
        background-image: linear-gradient(60deg, #5b00fa, #3b8dff);
        /* clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 90%); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

        .hero .text {
          position: absolute;
          margin-left: auto;
          top: 30%;
          max-width: 60rem;


          animation: moveInTop 1.5s;
          animation-fill-mode: forwards
        }

        .hero h1 {
            /* Text styles */
            font-size: 2.75em;
            color: white;
            /* Margins */
            opacity: .95;
            margin-top: 0;
            margin-bottom: 0.5em;
            padding-left: 10%;
            padding-right: 10%;
        }
        .hero p {
            /* Text styles */
            font-size: 1.8em;

            color: white;

            /* Margins */
            margin-top: 0;
            margin-bottom: 2em;
            padding-left: 4rem;
            padding-right: 4rem;
        }
    }
@media screen and (max-width: 992px) {
    .hero {
        /* Sizing */
        height: 100vh;
        /* Flexbox stuff */
        display: flex;
        justify-content: center;
        align-items: center;
        /* Text styles */
        text-align: center;
        /* Background styles */
        /* background-image: url(/static/img/background_waves_6.svg); */
        background-image: linear-gradient(40deg, #5b00fa, #3b8dff, #26c281);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;

    .text {
      position: absolute;

      top: 17%;
      max-width: 60rem;
      animation: moveInTop 1.5s;
      animation-fill-mode: forward;
      padding: 0 10% 0 10%;

    }

    h1 {
        /* Text styles */
        font-size: 2em;
        color: white;
        /* Margins */
        opacity: .95;
        margin-top: 0;
        margin-bottom: 0.5em;

    }
    p {
        /* Text styles */
        font-size: 1.1em;

        color: white;

        /* Margins */
        margin-top: 0;
        margin-bottom: 2em;

    }
  }
}
