/*  <**************************************************************************>
    <*****                    Refactoring UI Icons                        *****>
    <**************************************************************************>
*/


@media screen and (min-width: 992px) {

  .star-yellow {
    background: -webkit-linear-gradient(-90deg, #FFD700, #FFD700, $color-orange-400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .service-spacer {
     padding-bottom: 6rem;
  }

}

@media screen and (max-width: 992px) {

  .star-yellow {
    background: -webkit-linear-gradient(-90deg, #FFD700, #FFD700, $color-orange-400);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 14px;

  }
  .service-spacer {
    padding-bottom: 0rem;
  }

}

.primary {
  fill: $color-muted; }

.secondary {
      fill: $color-primary; }


  @each $color, $value in $colors {
    .fill-#{$color} {
      fill: $value;
    }
  }

  .fill-gradient-primary {
    fill: -webkit-linear-gradient($gradient-primary);
    fill: -o-linear-gradient($gradient-primary);
    fill: linear-gradient($gradient-primary);
  }

  .fill-transparent {
      fill: transparent;
  }

  .fa-facebook-square {
      color: #3b5998 !important;
  }

.w-4 {width: 1rem;}
.w-6 {width: 1.5rem;}
.w-8 {width: 2rem;}
.w-10 {width: 2.5rem;}
.w-12 {width: 3rem;}
.w-16 {width: 5rem;}
.w-316 {width: 4rem;}
