
  /*  <**************************************************************************>
      <*****                        Navbar Top                            *****>
      <**************************************************************************>
  */

.navbar-default {
    background-color: $color-navbar-alt-background;
    height: 80px;
    z-index: 2;
    border-bottom: 1px solid rgba(0, 0, 0, 0.16);

    .ul-spacing {
    height: 50px;
    }

    li.nav-item {
    height: 2rem;
    }

    li.nav-object {
    height: 1.5rem;
    }

    .nav-link-bold {
        color: $color-navbar-alt-text;
        font-weight: 700 !important;
        font-size: 1rem;
        line-height: 28px;
        margin-left: .85rem;
        margin-right: .85rem;
        text-transform: uppercase;
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        line-height: inherit;
    }

    .nav-link-bold:hover {
        color:  $color-navbar-alt-hover;
        text-decoration: none;
    }

    .nav-link {
        color: $color-navbar-alt-text;
        font-weight: 400;
        font-size: 1rem;
        line-height: 28px;
        margin-left: .85rem;
        margin-right: .85rem;
        text-transform: none;
        display: inline-block;
        padding-top: 0.3125rem;
        padding-bottom: 0.3125rem;
        margin-right: 1rem;
        line-height: inherit;

        &:hover,&:active,&:focus {
        color:  $color-navbar-alt-hover;
        }
    }


  .navbar-brand {
    color: $color-navbar-alt-text;
    font-weight: 500 !important;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-brand:hover {
    color: $color-navbar-alt-text !important;
  }

  .btn-outline-navbar {
    background-color: transparent !important;
    font-weight: 600 !important;
    border: 1px solid $color-navbar-alt-text !important;
    color:  $color-navbar-alt-text;

  &:hover, &:focus, &:active,  {
    background-color: $color-navbar-hover !important;
    color: #fff !important;
    border-color: $color-navbar-hover !important;
    }
  }

  .navbar {
    box-shadow: none;

  }
  .navbar .navbar-collapse {
    text-align: center;
    box-shadow: none;
  }

  .navigation__menu__button {
    background-color: transparent;
    height: 1.5rem;
    width: 4.5rem;
    z-index: 2000;
    box-shadow: 0;
    text-align: center;
    cursor: pointer;


    .navigation__icon {
      position: relative;
      margin-top: 1.65rem; }
      .navigation__icon, .navigation__icon::before, .navigation__icon::after {
        width: 1.5rem;
        height: 3px;
        background-color: $color-primary;
        display: inline-block; }
      .navigation__icon::before, .navigation__icon::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.1s; }
      .navigation__icon::before, .navigation__icon {
        top: -.6rem; }
      .navigation__icon::after {
        top: .56rem; }
    .navigation__button:hover .navigation__icon::before {
      top: -.56rem; }
    .navigation__button:hover .navigation__icon::after {
      top: .56rem; }



    .navigation__checkbox:checked + .navigation__button .navigation__icon {
        background-color: transparent; }

    .navigation__checkbox:checked + .navigation__button .navigation__icon::before {
        top: 0;
        transform: rotate(45deg);
        background-color: $color-white; }

    .navigation__checkbox:checked + .navigation__button .navigation__icon::after {
        top: 0;
        transform: rotate(-45deg);
        background-color: $color-white; }

    }

}


/*  <**************************************************************************>
    <*****                        Navbar Lower                            *****>
    <**************************************************************************>
*/

.navbar-lower  {
  background-color: $color-navbar-alt-background;
  height: 40px;
  z-index: 1;

  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  box-shadow: none;



  .ul-spacing {
    height: 30px;
  }


  .nav-link {
      color: $color-navbar-alt-text;
      font-weight: 500 !important;
      font-size: 0.8rem;
      line-height: 15px;
      margin-right: .85rem;
      text-transform: none;
  }

  .nav-link:hover {
      color:  $color-navbar-alt-hover;
  }


  li.nav-item {
    line-height: 10px;
  }


  .navbar {
    box-shadow: none;

  }
  .navbar .navbar-collapse {
    text-align: center;
    box-shadow: none;
  }


  .navbar-bottom-button-container {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      align-items: stretch;
      cursor: pointer; /* Add a mouse pointer on hover */

  }

  .navbar-bottom-button {
      padding: .5rem .2rem;
      flex-grow: 1;
      font-size: 14px;
      align-self: auto;
      text-align: center;
      font-weight: 500;

      color: $color-black;

      &:hover,&:active,&:focus,&:visited {
        color: $color-primary;
        border-bottom: 3px solid $color-primary;
        padding-bottom: .35rem;

          a {
              text-decoration: none;
          }
        }


  }

  .navbar-bottom-button-active {
      color: $color-primary;
      border-bottom: 5px solid $color-primary;

        a {
            text-decoration: none;
        }
  }

}
