


  /* CUSTOMER HAMBURGER */
  a.navbar-brand.scrolled {
      color: #424242 !important;
  }
  a.navbar-brand.scrolled:hover {
      color: $color-navbar-alt-hover !important;
  }


  .navbar-toggler {
    border: none;
    background: transparent !important;
  }

  .navbar-toggler:focus {
    outline: none;
    background: transparent !important;
  }


  .navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
  }

  .navbar-toggler.scrolled .icon-bar {
    background-color: #424242;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
  }

  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }

  .navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
  }

  .icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }

  .navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }

  .navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }

  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
  }

  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
  }

  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
  }



  @media (max-width:767px) {
    .navbar-nav {

    }
  }

  .navbar-default.scrolled {
    background-color: #fdfdfe !important;
    transition: background-color 200ms linear;
    color: $color-navbar-alt-text;
    z-index: 999;
    -webkit-box-shadow: 0 5px 10px rgba(154,160,185,.085), 0 15px 40px rgba(166,173,201,.25) !important;
    box-shadow: 0 5px 10px rgba(154,160,185,.085), 0 15px 40px rgba(166,173,201,.25) !important;
  }

/* ## NAVBAR BRAND ## */

.btn-outline-navbar {
  background-color: transparent !important;
  font-weight: 500 !important;
  font-size: 0.875rem;
  color: $color-navbar-alt-text !important;
  border: 2px solid $color-navbar-alt-text !important;
}


.btn-outline-navbar:hover {
  background-color: $color-navbar-alt-text !important;
  font-weight: 500 !important;
  font-size: 0.875rem;
  color: $color-navbar-alt-background-scrolled !important;
  border-color: $color-navbar-alt-text !important;
}


.btn-outline-navbar.scrolled:hover {
    color: $color-navbar-alt-background-scrolled !important;
    border-color: $color-navbar-alt-text !important;
}

  .navbar-brand {
    color: $color-navbar-alt-text;
  }
  .navbar-brand:hover {
    color: $color-navbar-alt-hover !important;
  }
  .navbar-brand.scrolled {
    color: $color-navbar-alt-text;
  }
  .navbar-brand {
    font-weight: 700 !important;
  }

/* ## NAVBAR LINK ## */

  .nav-link {
      color:  $color-navbar-alt-text;
      font-weight: 500 !important;
      font-size: 0.8rem;
  }
  .nav-link:hover {
      color: $color-navbar-alt-hover;
  }

  .nav-link.scrolled {
      color: $color-navbar-alt-text;
  }
  .nav-link.scrolled:hover {
      color: $color-navbar-alt-hover;
  }


/* ## CENTER COLLPASED LINKS ## */
  .navbar {
    box-shadow: none;

  }
  .navbar .navbar-collapse {
    text-align: center;
    box-shadow: none;
  }
