


  /* CUSTOMER HAMBURGER */
  a.navbar-brand.scrolled {
      color: #424242 !important;
  }
  a.navbar-brand.scrolled:hover {
      color: $color-navbar-alt-hover !important;
  }


  .navbar-toggler {
    border: none;
    background: transparent !important;
  }

  .navbar-toggler:focus {
    outline: none;
    background: transparent !important;
  }


  .navbar-toggler .icon-bar {
    background-color: #fff;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
  }

  .navbar-toggler.scrolled .icon-bar {
    background-color: #424242;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
  }

  .navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }

  .navbar-toggler .icon-bar+.icon-bar {
    margin-top: 4px;
  }

  .icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }

  .navbar-toggler:hover>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }

  .navbar-toggler:active>.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
  }

  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
  }

  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
  }

  .navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
  }



  @media (max-width:767px) {
    .navbar-nav {

    }
  }


  /* ################ NAVBAR TOP ################ */

.navbar-default {
  background-color: $color-navbar-alt-background;
  height: 75px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);


  .ul-spacing {
    height: 85px;

  }


  .nav-link-bold {
      color: $color-navbar-alt-text;
      font-weight: 700 !important;
      font-size: 1rem;
      line-height: 28px;
      margin-left: .85rem;
      margin-right: .85rem;
      text-transform: uppercase;
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      line-height: inherit;
  }

  .nav-link-bold:hover {
      color:  $color-navbar-alt-hover;
      text-decoration: none;
  }

  .nav-link {
      color: $color-navbar-alt-text;
      font-weight: 400 !important;
      font-size: 0.8rem;
      line-height: 28px;
      margin-left: .85rem;
      margin-right: .85rem;
      text-transform: uppercase;
      display: inline-block;
      padding-top: 0.3125rem;
      padding-bottom: 0.3125rem;
      margin-right: 1rem;
      line-height: inherit;
  }

  .nav-link:hover {
      color:  $color-navbar-alt-hover;
  }

  li.nav-item {
    height: 1.5rem;
  }

  li.nav-object {
    height: 2rem;
  }


  .navbar-brand {
    color: $color-navbar-alt-text;
    font-weight: 500 !important;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-brand:hover {
    color: $color-navbar-alt-text !important;
  }

  .btn-outline-navbar {
    background-color: transparent !important;
    font-weight: 600 !important;
    border: 1px solid $color-navbar-alt-text !important;
    color:  $color-navbar-alt-text;

  &:hover, &:focus, &:active,  {
    background-color: $color-navbar-hover !important;
    color: #fff !important;
    border-color: $color-navbar-hover !important;
    }
  }

  .navbar {
    box-shadow: none;

  }
  .navbar .navbar-collapse {
    text-align: center;
    box-shadow: none;
  }



}




// ======= NAVBAR LOWER ========== //

.navbar-lower  {
  background-color: $color-navbar-alt-background;
  height: 40px;
  z-index: 1;

  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
  box-shadow: none;



  .ul-spacing {
    height: 30px;
  }


  .nav-link {
      color: $color-navbar-alt-text;
      font-weight: 500 !important;
      font-size: 0.8rem;
      line-height: 15px;
      margin-right: .85rem;
      text-transform: none;
  }

  .nav-link:hover {
      color:  $color-navbar-alt-hover;
  }


  li.nav-item {
    line-height: 10px;
  }


  .navbar {
    box-shadow: none;

  }
  .navbar .navbar-collapse {
    text-align: center;
    box-shadow: none;
  }

}
