/* Sections */


    .section {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 12rem;
      padding-bottom: 10rem;
    }

    .section-lg {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
    }

    .section-md {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

    .section-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .section-white-md {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      background-color: #fff;
    }

    .section-white-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      background-color: #fff;
    }

    .section-white {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 0rem;
      padding-bottom: 0rem;
      background-color: #fff;
    }

    .section-light-md {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      background-color: $color-light;
    }

    .section-light-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      background-color: $color-light;
    }


    .section-gray-md {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      background-color: $color-gray-800;
    }


    .section-alt-md {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top:8rem;
      padding-bottom: 8rem;
      background-color: $color-alt;
      color: #fff;
    }

    .section-alt-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      background-color: $color-alt;
      color: $color-primary;

      p {
        color: $color-primary-dark;
      }
    }

    .section-success-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      background-color: $color-success;
      color: $color-white;
    }

    .section-primary-lg {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 12rem;
      padding-bottom: 10rem;
      background-color: $color-primary;
      color: $color-main;
    }

    .section-primary-md {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      background-color: $color-primary;
      color: $color-main;
    }


    .section-primary-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      background-color: $color-primary;
      color: $color-main;

      p {
        color: #fff;
      }
    }

    .section-main {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 6rem;
      padding-bottom: 5rem;
      background-color: $color-main;
    }

    .section-dark-lg {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
      background-color: $color-dark;
      color: $color-light;
    }

    .section-black-md {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 8rem;
      padding-bottom: 8rem;
      background-color: $color-black;
      color: $color-light;
    }

    .section-accent-lg {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
      background-color: $color-accent;
      color: $color-secondary-light;

      p {
        color: $color-white;
      }
    }

    .section-accent-md {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 8em;
      padding-bottom: 8rem;
      background-color: $color-accent;
      color: $color-secondary-light;

      p {
        color: $color-white;
      }
    }

    .section-accent-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      background-color: $color-accent;
      color: $color-secondary-light;

      p {
        color: $color-white;
      }
    }

    .section-accent-xs {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 2em;
      padding-bottom: 2rem;
      background-color: $color-accent;
      color: $color-secondary-light;

      p {
        color: $color-white;
      }
    }

    .section-dark-lg {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
      background-color: $color-dark;
      color: $color-light;
    }

    .section-darker-lg {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 10rem;
      padding-bottom: 10rem;
      background-color: $color-accent-dark;
      color: $color-light;
    }

    .section-darker-md {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 7rem;
      padding-bottom: 7rem;
      background-color: $color-accent-dark;
      color: $color-light;

      a {
        color: $color-success
      }

      a:hover, a:focus, a:visited {
        color: $color-success-light
      }
    }



    .section-dark-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      background-color: $color-dark;
      color: $color-light;
    }



    .section-primary-gradient {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 12rem;
      padding-bottom: 12rem;
      background-image: linear-gradient(200deg, $color-primary, $color-primary-light);
    }

    .section-primary-gradient-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      background-image: linear-gradient(165deg, $color-primary, $color-primary-light);

      p {
        color: #fff;
      }
    }


    .section-secondary-lg {
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: $color-dark;
      background-color: $color-secondary;
      padding-top: 10rem;
      padding-bottom: 10rem;
    }

    .section-secondary-md {
      padding-top: 8rem;
      padding-bottom: 8rem;
      color: $color-dark;
      background-color: $color-secondary;
    }

    .section-secondary-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 4rem;
      padding-bottom: 4rem;
      color: $color-dark;
      background-color: $color-secondary;
    }

    .section-secondary-xs {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      color: $color-dark;
      background-color: $color-secondary;
    }

    .section-secondary-light-md {
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: $color-dark;
      background-color: $color-secondary-light;
      text-align: center;
      padding-top: 8rem;
      padding-bottom: 8rem;
    }

    .section-secondary-light-sm {
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: $color-dark;
      background-color: $color-secondary-light;
      text-align: center;
      padding-top: 4rem;
      padding-bottom: 4rem;
    }

    .section-secondary-light-xs {
      margin-top: 0rem;
      margin-bottom: 0rem;
      color: $color-dark;
      background-color: $color-secondary-light;
      text-align: center;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }



        .section-alt-2 {
          margin-top: 0rem;
          margin-bottom: 0rem;
          padding-top: 9rem;
          padding-bottom: 9rem;
          padding-right: 5rem;
          padding-left: 5rem;
          background-color: #e5e7e5;

          h2  {
            color: $color-primary
          }

        }


/* ******* MISC SECTIONS ****** */


        .section-parallax {
          margin-top: 7rem;
          margin-bottom: 0rem;
          padding-top: 8rem;
          padding-bottom: 8rem;
          color: #fff !important;
          background-attachment: fixed;
          background-color: #e7f1ff;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-image: url(/static/img/background_picture3.jpg);

          img {

            width:100px;
          }
          p {
            text-align: center;
            color: #fff !important;
            padding: 0 10rem 0 10rem;
          }
        }


        .parallax1 {
          margin-top: 0rem;
          margin-bottom: 0rem;
          padding-top: 4rem;
          padding-bottom: 4rem;
          background-color: $color-accent-light;
          position: relative;
          color: $color-secondary-light;
          /* Create the parallax scrolling effect */
          background-image: url(/static/img/triangle_background2.jpg);
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;

          p {
            color: $color-white;
          }
        }

        .section-alt-4 {
          margin-top: 0rem;
          margin-bottom: 0rem;
          padding-top: 4rem;
          padding-bottom: 4rem;
          background-color: $color-accent-light;
          color: $color-secondary;
        }

        .section-jumbo-secondary .text-box {

          color: #fff;
          text-align: left;
        }


    .section-image {
      background-color: #e5e7e5;
      height: 265px;

      img {
        -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);

          height: 265px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          width: 60%;
      }
    }

    .section-overlap-img {

      img {
        opacity: 0.8;
        width: 100%;
        height: 40rem;
        border-radius: 0.2em;
      }

      .col-lg-6:last-child {
        position: relative;

        .panel {
          position: absolute;
          top: 7vmin;
          left: -18vmin;
          border-radius: 3px;
          box-shadow: 0px 24px 42px rgba(0,0,0,0.2)
        }
      }
    }


// Membership Card Page //

    .section-card-parent {
      position: relative;
      background-color: $color-main;
    }
    .section-card-overlay-top {
      padding-top: 3rem;
      padding-bottom: 16rem;
      background-image: linear-gradient(180deg, $color-secondary-light, $color-secondary-light);
      background-color: #fefefe;
      color: $color-secondary;
      z-index: 1;
    }

@media screen and (min-width: 992px) {
    .section-card-overlay-bottom {
      margin-top: 0rem;
      margin-bottom: 0rem;
      padding-top: 6rem;
      padding-bottom: 6rem;
      color: $color-secondary;
      background-color: $color-light;
    }
  }
@media screen and (max-width: 992px) {
  .section-card-overlay-bottom {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 49rem;
    padding-bottom: 49rem;
    color: $color-secondary;
    background-color: $color-light;
  }
}
    /* ******** CARDS ********* */

    .contact-background {
      height: 100vh;
      padding-top: 8rem;

      background-color: #e5e7e5;
      position: relative;
      background-size: cover;  /* take width of view port, fits element inside of box */
      background-position: center;  /* hero always sticks to the top when resized. */
    }
    .card-overlayed {
      z-index: 2;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
    }

// Membership Card Page -- Color Function//
    .special-card {
    width: 100%;
    border: 2px solid #26c281;
    box-shadow: 0 6px 6px rgba(0,0,0,0.07), 0 6px 6px rgba(0,0,0,0.07);
    }

    .special-card h4 {
      color: #4caf50;
    }

    .special-card p {
      color: #4caf50;
    }

    .regular-card {
      width: 100%;
      border: 1px solid $color-accent-light;
      box-shadow: none;
    }

    .regular-card h4 {
      color: $color-secondary;
    }

    .regular-card p {
      color: $color-secondary;
    }


    .gradient-line {
      background-color: $color-primary;
      height:3px;
      width: 100%;
    }



    /* ****** BANNER ******* */

    .banner {
        position: relative;
        background-size: cover;  /* take width of view port, fits element inside of box */
        background-position: center;
        border-radius: 0.2rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        padding-top: 3rem;
        padding-bottom: 2.5rem;
        margin-bottom: 5rem;
        background-color: $color-primary;
        color: #fff;


        p {
          color: $color-white;
        }
      }



    .banner-primary {
        position: relative;
        background-size: cover;  /* take width of view port, fits element inside of box */
        background-position: center;
        border-radius: 0.2rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        padding-top: 4rem;
        padding-bottom: 3.5rem;

        background-color: $color-primary;
        color: #fff;


        p {
          color: $color-white;
        }
      }


    .social-media-boxes {
      background-color: $color-alt;
      border-right: 1px solid #fafafa;
      padding: 4rem 4rem 4rem 4rem;

      &:hover {
        background-color: $color-primary-dark;
        transition: background-color 0.5s ease-out;
        -webkit-transition: background-color 0.5s ease-out;
        -moz-transition: background-color 0.5s ease-out;
        -o-transition: background-color 0.5s ease-out;
        transition: background-color 0.5s ease-out;

      }
    }

/*      HERO       */

  .section-hero-img {
      margin-top: 4rem;
      margin-bottom: 4rem;
      /* Sizing */
      height: 600px;
      /* Flexbox stuff */
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      /* Text styles */

      /* Background styles */
      background: url(/static/img/video.png);
      //background-image: linear-gradient(60deg, $color-alt-light, $color-alt-lighter);
      /* clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 90%); */
      background-size: cover;
      background-position: left;
      background-repeat: no-repeat;

      & .text {
        text-align: center;
        position: relative;
        flex-grow: 1;
        align-self: center;
        margin-right: auto;
        margin-left: auto;

        h3 {
            /* Text styles */
            font-size: 1.5em;
            color: $color-white;
            font-weight: 700;
            /* Margins */
            margin-top: 0;
            margin-bottom: 0.5em;
            padding: 0 1rem 0 1rem;

        }
        p {
            /* Text styles */
            font-size: 1.8em;
            /* Margins */
            margin-top: 0;
            margin-bottom: 2em;
            padding: 0 1rem 0 1rem;
        }
      }
  }


    .section-hero-img-2 {
        /* Sizing */
        height: 600px;
        /* Flexbox stuff */
        display: flex;
        justify-content: center;
        align-items: center;
        /* Text styles */

        /* Background styles */
        background-image: url(/static/img/sections/video_cover.PNG);
        //background-image: linear-gradient(60deg, $color-alt-light, $color-alt-lighter);
        /* clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 90%); */
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        position: relative;


        & .text {
          position: absolute;
          text-align: center;
          bottom: 7%;
          color: $color-alt;
          left: 5%;
          animation: moveInTop 1.5s;
          animation-fill-mode: forwards
        }

        & h1 {
            /* Text styles */
            font-size: 3em;

            font-weight: 700;
            /* Margins */
            opacity: .95;
            margin-top: 0;
            margin-bottom: 0.5em;
        }
        & p {
            /* Text styles */
            font-size: 1.8em;
            /* Margins */
            margin-top: 0;
            margin-bottom: 2em;
            padding-right: 4rem;
        }
    }


    .section-hero-img-3 {
        /* Sizing */
        height: 500px;
        /* Flexbox stuff */
        display: flex;
        justify-content: center;
        align-items: center;
        /* Text styles */

        /* Background styles */
        background-image: url(/static/img/estore_img.jpg);
        //background-image: linear-gradient(60deg, $color-alt-light, $color-alt-lighter);
        /* clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 90%); */
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        position: relative;



        & .text {
          position: absolute;
          text-align: center;
          color: $color-alt;
          bottom: 7%;
          left: 5%;
          animation: moveInTop 1.5s;
          animation-fill-mode: forwards

        }

        & h1 {
            /* Text styles */
            font-size: 2.5em;

            font-weight: 700;
            /* Margins */
            opacity: .95;
            margin-top: 0;
            margin-bottom: 0.5em;

        }
        & p {
            /* Text styles */
            font-size: 1.8em;
            /* Margins */
            margin-top: 0;
            margin-bottom: 2em;
            padding-right: 4rem;
        }
    }


    .section-hero-img-4 {
        /* Sizing */
        height: 500px;
        /* Flexbox stuff */
        display: flex;
        justify-content: center;
        align-items: center;
        /* Text styles */

        /* Background styles */
        background-image: url(/static/img/ai.jpg);
        //background-image: linear-gradient(60deg, $color-alt-light, $color-alt-lighter);
        /* clip-path: polygon(0 0%, 100% 0, 100% 75%, 0 90%); */
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
        position: relative;



        & .text {
          position: absolute;
          text-align: center;
          color: $color-alt;
          bottom: 7%;
          left: 5%;
          animation: moveInTop 1.5s;
          animation-fill-mode: forwards
        }

        & h1 {
            /* Text styles */
            font-size: 3em;

            font-weight: 700;
            /* Margins */
            opacity: .95;
            margin-top: 0;
            margin-bottom: 0.5em;

            padding-right: 10%;
        }
        & p {
            /* Text styles */
            font-size: 1.8em;
            /* Margins */
            margin-top: 0;
            margin-bottom: 2em;
            padding-right: 4rem;
        }
    }
