/*  <**************************************************************************>
    <*****                         BADGES                                 *****>
    <**************************************************************************>
*/



@each $color-alerts, $value in $colors-alerts {
  .badge-#{$color-alerts} {
    background-color: $value;
    border: 1px solid $value;
    border-radius: $border-radius-300;
    padding: .2rem .5rem ;

  }
}


.badge-success {
  background-color: $color-green-100;
  border: 1px solid $color-green-400;
  color: $color-green-500;
  border-radius: $border-radius-300;
  padding: .15rem .55rem;
}

.badge-danger {
  background-color: $color-red-100;
  border: 1px solid $color-red-400;
  color: $color-red-500;
  border-radius: $border-radius-300;
  padding: .15rem .55rem;
}

.badge-warning {
  background-color: $color-orange-100;
  border: 1px solid $color-orange-400;
  color: $color-orange-500;
  border-radius: $border-radius-300;
  padding: .15rem .55rem;
}

.badge-info {
  background-color: $color-blue-100;
  border: 1px solid $color-blue-400;
  color: $color-blue-500;
  border-radius: $border-radius-300;
  padding: .35rem .55rem !important;
}
