.progress-bar-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #6f42c1;
    transition: width 0.6s ease;
}


@each $color-alerts, $value in $colors-alerts {
    .progress-bar-#{$color-alerts} {
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      background-color: $value;
      transition: width 0.6s ease;
    }
}
