{% extends "base-minimal.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-projectindexpage{% endblock %}

{% block content %}
<section class="section-lg">
    <div class="container">
        <div class="mb-5">
          <h6><a href="{% slugurl 'homepage' %}" class="text-dark">Home</a> <span class="text-primary">&#8226;</span> <a href="{% slugurl 'blog' %}" class="text-dark">Blog</a></h6>
          <h1 class="fw-6">The Mod Blog </h1>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="projectform " style="max-width: 570px;">
                    <ul class="list-unstyled">
                      <li class="card shadow-0 p-3 fs-16 fw-6 stripe-primary">Technology</li>
                      <li class="p-3 fs-16 fw-6">Marketing</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card shadow-2 mb-3">
                    <div class="card-header p-4">
                        <h2 class="fw-6">Blog Posts</h2>
                    </div>
                  {% for post in page.get_children %}
                    <div class="p-4">
                        <h3 class="fw-6">{{ post.title }} <span class="text-muted fs-16 fw-5 float-right">{{ post.first_published_at }}</span></h3>
                        <span class="text-muted">{{ post.specific.category }} </span>
                        <br>
                        <br>
                        {{ post.specific.description|richtext }}
                        <br>
                        <a href="{% pageurl post %}" class="text-primary">Read Full Article</a>
                    </div>
                    <hr>
                  {% endfor %}
                  <div class="px-4 py-3"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
