{% extends 'base-support.html' %}

{% block content %}
<div class="section-primary-sm mb-0">
    <div class="container ">
        <h1 class="fs-50 text-white fw-4 mb-2">Answer</h1>
        <p class="text-white">{{ object.title }}</p>
    </div>
</div>

<div class="section-sm container">
    <div class="row">
        <div class="col-12">
            <div class="card shadow-2">
                <div class="card-body">
                    <h3 class="card-title fs-24 fw-6">
                        {{ object.title }}
                    </h3>
                    <p class="text-secondary text-muted mb-2 fs-14">Updated: {{ object.updated_at|date:"F d, Y" }}</p>
                    <br>
                    <p class="fs-16 text-justify">{{ object.body }}</p>
                    <p class="card-text text-muted mt-2">Topics Mentioned:
                        <a href="{{ object.topic.get_absolute_url }}">
                            {{ object.topic }}
                        </a>
                    </p>
                </div>
                <div class="card-footer">
                    <h3 class="fs-16">Did this answer your question?
                        <span>
                            <a href="" class="btn btn-primary-alt px-3 py-1 fs-12 ml-2">
                                Yes
                            </a>
                            <a href="" class="btn btn-primary-alt px-3 py-1 fs-12">
                                No
                            </a>
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow-2 mt-5">
                <div class="card-body">
                    <h3 class="fs-18 fw-6 mb-4">Related Questions</h3>

                    {% for question in questions %}

                        <h3 class="card-title">
                            <a class="card-link" href="{{ question.get_absolute_url }}">
                                <span class="fs-18 fw-6">
                                    {{ question.title }}
                                </span>
                            </a>
                        </h3>
                        <p class="fs-16">{{ question.body }}</p>
                        <a href="#" class="fs-14 fw-1"><span class="text-secondary">Topic: </span>{{ question.topic|slice:'150' }}</a>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
