{% extends 'base-support.html' %}

{% block content %}
<div class="jumbotron jumbotron-custom jumbotron-fluid mb-0">
    <div class="container">
        <h3 class="fs-50 mb-2">Frequently Asked Questions</h3>
    </div>
</div>

<div class="container scale">
    <span class="fas fa-search"></span>
    <input type="text" placeholder="Search Articles Here...">
</div>

<div class="container">
    <div class="row">
            <div class="col-8">
                <div class="card card-custom-faq">
                    <div class="card-header">
                        <h3 class="fs-24">Popular Questions</h3>
                    </div>
                    {% for question in object_list %}
                    <div class="card-body">
                        <h3 class="card-title">
                            <a class="card-link" href="{{ question.get_absolute_url }}">
                                <span class="fs-18 fw-4">
                                    {{ question.title }}
                                </span>
                            </a>
                        </h3>
                        <p class="fs-16 ">{{ question.body|slice:'150' }} ...
                            <span class="text-muted">
                                <a href="" class="fs-14 text-muted">
                                    Show More
                                </a>
                            </span>
                        </p> 
                        <p class="text-muted fs-14">Topic: <span><a href="{{ question.topic.get_absolute_url }}" class="fs-14 fw-1">{{ question.topic }}</a></span></p>
                    </div>
                    {% endfor %}
                    <div class="card-footer text-center">
                        {% if is_paginated %}
    
                            {% if page_obj.has_previous %}
                                <a class="btn btn-primary-alt px-2 py-2 fs-12" href="?page=1">First</a>
                                <a class="btn btn-primary-alt px-2 py-2 fs-12" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                            {% endif %}
                        
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                <a class="btn btn-primary-alt px-2 py-2 fs-12" href="?page={{ num }}">{{ num }}</a>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <a class="btn btn-primary-alt px-2 py-2 fs-12" href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}
                        
                            {% if page_obj.has_next %}
                                <a class="btn btn-primary-alt px-2 py-2 fs-12" href="?page={{ page_obj.next_page_number }}">Next</a>
                                <a class="btn btn-primary-alt px-2 py-2 fs-12" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                            {% endif %}
                        
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card card-custom-faq">
                    <div class="card-body">
                        <h3 class="fs-24 fw-2 mb-1">Contact Support</h3>
                        <p class="text-muted fs-14 mb-3">For all other inquiries, please contact us!</p>
                        <a href="{% url 'contact-page' %}" class="btn btn-primary-alt px-3 py-3 fs-12 text-uppercase">Send Us a Message</a>
                        <hr>
                        <h3 class="card-title fs-24 fw-1">Popular Topics</h3>
                        <ul class="list-group list-unstyled">
                            {% for topic in topics %}
                            <li class="py-1">
                                <a href="{{ topic.get_absolute_url }}" class="text-decoration-none fs-16 fw-4">
                                    {{ topic.title }}
                                </a>
                                <!-- <span class="badge badge-pill">1</span> -->
                            </li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock content %}
