{% extends 'base-support.html' %}

{% block content %}
<div class="jumbotron jumbotron-custom jumbotron-fluid mb-0">
    <div class="container">
        <div class="row">
            <div class="col align-self-center">
                <h1 class="fs-50 fw-4 mb-2">{{ topic.title }}</h1>
                <p>{{ topic.body }}</p>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container scale">
    <p>{{ topic.body }}</p>
</div> -->

<div class="container">
    <div class="row">
        <div class="col-8">
            <!-- <div class="card card-custom-faq">
                <div class="card-header">
                    <h3 class="card-title fs-24">{{ topic.title }}</h3>
                </div>
                <div class="card-body">
                    <p class="card-text fs-18">{{ topic.body }}</p>
                </div>
            </div> -->
            <div class="card card-custom-faq">
                <div class="card-header">
                    <h3 class="fs-24">{{ topic.title }} Questions</h3>
                </div>
                {% for question in questions %}
                <div class="card-body">
                    <h3 class="card-title">
                        <a class="card-link" href="{{ question.get_absolute_url }}">
                            <span class="fs-20 fw-4">
                                {{ question.title }}
                            </span>
                        </a>
                    </h3>
                    <p class="fs-18 text-truncate">{{ question.body }}</p>
                    <a href="#" class="fs-14 fw-1">{{ question.topic }}</a>
                </div>
                {% endfor %}
                <div class="card-footer text-center text-muted">
                    <h3 class="fs-14 fw-1">
                        <a href="">
                            Load More
                        </a>
                    </h3>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card card-custom-faq">
                <div class="card-body">
                    <h3 class="fs-24 fw-2 mb-1">Contact Support</h3>
                    <p class="text-muted fs-14 mb-3">Please let us know how we can improve our support</p>
                    <a href="{% url 'contact-page' %}" class="btn btn-primary-alt px-3 py-3 fs-12 text-uppercase">Send Us a Message</a>
                    <hr>
                    <h3 class="card-title fs-24 fw-1">Popular Topics</h3>
                    <ul class="list-group list-unstyled">
                        {% for topic in topics %}
                        <li class="py-1">
                            <a href="{{ topic.get_absolute_url }}" class="text-decoration-none fs-18 fw-4">
                                {{ topic.title }}
                            </a>
                            <!-- <span class="badge badge-pill">1</span> -->
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %} 