
// Theme Colors
$color-primary: #3a75c1;
$color-primary-alt: #3b8dff;
$color-primary-dark: #7b0022;
$color-secondary: #26c281;
$color-secondary-alt: #00d737;
$color-secondary-dark: #24a35a;
$color-alt: #aeaf99;
$color-white: #fff;
$color-light: #fafafa;
$color-black: #000000;

// #24a35a
// #3a75c1
// #00d737
// #00ac2c
// #5b00fa
// #3b8dff
// #26c281

/* ANIMATION */
$mdb-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1) !default;
$mdb-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1) !default;
$mdb-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1) !default;
$mdb-animation-curve-default: $mdb-animation-curve-fast-out-slow-in !default;

@import "header";
