{% load static %}

{% block merchant_approval_nav %}
<div class="col-lg-8 offset-lg-2 offset-md-0 offset-sm-0 mb-4">
    <br /><br />
    <ul class="list-unstyled multi-steps">
      <li>Sign Up</li>
      <li class="{% if request.path == '/approval/store/create/' %} is-active {% endif %}">Create Store</li>
      <li class="{% if request.path == 'payment' %} is-active {% else %} {% endif %}">Payment</li>
      <li class="{% if request.path == '/approval/store/media-upload/' %} is-active {% else %} {% endif %}">Video Upload</li>
    </ul>
</div>



{% endblock merchant_approval_nav %}
