{% load static %}

{% block component %}

<!-- accreditation Component 1 -->
<section class="section-md">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <img class="img-responsive" src="{% static 'img/bbb.png' %}" alt="Accredited Business Logo">
      </div>
      <div class="col-lg-4">
        <img class="img-responsive" src="{% static 'img/bryant.png' %}" alt="Heating and cooling manufacture logos">
      </div>
      <div class="col-lg-4">
        <img class="img-responsive" src="{% static 'img/nate.png' %}" alt="Heating and cooling manufacture logos">
      </div>
    </div>
  </div>
</section>

{% endblock component %}
