{% load static %}

{% block component %}

<section class="section-sm" data-aos="fade-up">
    <div class="container text-center">
        <div class="">
          <h3 class="fs-36 fw-6 mb-4">3 Day Rendering Turn Around</h3>
          <p class="mb-4">Upload a picture of the property or blueprint of the design and our <br>designers will turn it into a beautiful 3D Interactive Rendering</p>
          <a class="btn btn-secondary-round" href="{% url 'contact-page' %}">Get Started</a>
        </div>

    </div>
</section>



{% endblock component %}
