{% load static %}

{% block email_section %}
<section class="section-primary-md">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center ">
          <h2 class="text-white mb-4">Subscribe to get the latest offers.</h2>
          <form action="https://gmail.us3.list-manage.com/subscribe/post?u=1e40a447f0093d59b2e997da1&amp;id=107d21c691" method="POST" name="mc-embedded-subscribe-form" class="email-form-container validate" target="_blank" novalidate>
              <!-- Message Response -->
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div style="position: relative">
                  <input class="" style="height: 50px;" id="" type="email" name="EMAIL" placeholder="Email@gmail.com" required>
                  <input style=" display:none;"type="text"  name="b_1e40a447f0093d59b2e997da1_107d21c691" tabindex="-1" value=""> <br>
                  <button type="submit" class="input-button btn btn-alternate-alt fs-14 px-3" value="Subscribe">Sign up</button>
              </div>
          </form>
          <p class="font-footer text-white fs-12 pt-4" >Cancel at anytime.</p>

        </div>
      </div>
    </div>
</section>
{% endblock email_section %}
