
<!-- Footer section -->

<footer  style="background-color:#232323;padding-top:2%;">
  <div class="container pb-5">
    <div class="row ">
      <!--Column1-->
      <div class="col-md-3 col-sm-6 mt-3">
        <div class="footer-pad">
          <h6 style="color:#dfe0e1;"> <img class="" src="{% static 'img/stemlogo2.png' %}" width="32px" height="26px" alt="Card image"> Stemletics </h6>
          <p class="font-footer" style="margin-top: 1.5em;">
           Lorem ipsum dolor sit amet, has paulo veniam dolores no. Quo eros veniam ex, te vis facilisi maiestatis omittantur.
          </p>
        </div>
      </div>
      <!--Column1-->
      <div class="col-md-3 col-sm-6 mt-3">
        <div class="footer-pad">
          <h6 style="color:#dfe0e1;">ABOUT US</h6>
          <hr class="hr-footer-md">
          <span class="font-footer">
          After-School Programs
          <hr class="hr-footer-sm">
          Homework Help
          <hr class="hr-footer-sm">
          Sports Camps
          <hr class="hr-footer-sm">
          Professional Development
        </span>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 mt-3">
        <div class="footer-pad">
          <h6 style="color:#dfe0e1;">USEFUL LINKS</h6>
          <hr class="hr-footer-md">
          <span class="font-footer">
            <a href="{% slugurl 'about' %}" style="color: #dfe0e1;">About us <i class="fa fa2 fa-angle-right pull-right"></i></a>
            <hr class="hr-footer-sm">
            <a href="{% slugurl 'services' %}" style="color: #dfe0e1;">Services <i class="fa fa2 fa-angle-right pull-right"></i></a>
            <hr class="hr-footer-sm">
            <a href="{% slugurl 'jobs' %}" style="color: #dfe0e1;">Jobs <i class="fa fa2 fa-angle-right pull-right"></i></a>
            <hr class="hr-footer-sm">
            <a href="{% slugurl 'home' %}#events" style="color: #dfe0e1;">Events <i class="fa fa2 fa-angle-right pull-right"></i></a>
          </span>
        </div>
      </div>
      <!--Column1-->
      <div class="col-md-3 col-sm-6 mt-3">
        <div class="footer-pad map-background">
          <h6 style="color:#dfe0e1;">CONTACT US</h6>
          <hr class="hr-footer-md">
          <span class="font-footer">
          123 University Dr, Flint <br>
          Michigan, US<br>
          Phone: 248 755-3703<br>
          Email: Hello@Stemletics.com<br>
          </span>
        </div>
      </div>
    </div>
  </div>
  </footer>
<!-- Footer bottom-->
<div style="background-color:#1f1f1f;" class="pt-3">
    <div class="container">
      <div class="row">

        <div class="col-md-9 ">
          <span class="font-footer pull-left text-white mt-2"><p>2018 &copy; All Rights Reserved.  <a href="#" style="color:#2ecc71;">Privary Policy</a> |  <a href="#" style="color:#2ecc71;">Terms of Use</a> | <a href="#" style="color:#2ecc71;">ModWebSerices</a>
            </p></span>
        </div>
        <div class="col-md-3 pull-right">
          <ul class="pull-right" style="list-style-type: none;">
            <li style="display: inline; margin: 4px;"><a href="https://www.instagram.com/lexingtonlandscapes/?hl=en"><i class="fa fa1 fa-google-plus" aria-hidden="true"></i></a>
            <li style="display: inline; margin: 4px;"><a href="https://www.instagram.com/lexingtonlandscapes/?hl=en"><i class="fa fa1 fa-facebook" aria-hidden="true"></i></a>
            <li style="display: inline; margin: 4px;"><a href="https://www.instagram.com/lexingtonlandscapes/?hl=en"><i class="fa fa1 fa-linkedin" aria-hidden="true"></i></a>
            <li style="display: inline; margin: 4px;"><a href="https://www.instagram.com/lexingtonlandscapes/?hl=en"><i class="fa fa1 fa-instagram" aria-hidden="true"></i></a>
          </ul>
        </div>
      </div>
    </div>
<!-- Footer section  ends -->
