{% load static %}

{% block component %}

<!-- Image Section -->
<section class="section-img-1">
  <div class="text">
    <h2 class="text-dark">See What Our <br>
    <span class="fw-6">CUSTOMERS ARE SAYING</span></h2>
    <h5 class="text-primary">Don’t take our word for it, take theirs!</h5>
    <p>Service Rating: ★★★★★ <br><br>
    “One Hour Heating & Air made me feel extremely comfortable entering my home! Didn’t have to ask them to put
    their shoe covers on and they were extremely clean, careful, and polite. The technician could not have performed a more professional job. Highly recommended!!”
    </p>
  </div>
</section>

{% endblock component %}
