/* ANIMATION */
html {
  scroll-behavior: smooth !important; }

body {
  margin: 0;
  font-family: Montserrat, sans-serif !important;
  background-color: #fafafa;
  color: #3a3a3a; }
  body h1 h2 h3 h4 h5 h6 {
    color: #1a1a1a; }
  body p {
    color: #2a2a2a; }
  body li {
    color: #3b8dff; }
  body a {
    color: #3b8dff; }

/* BUTTON BASICS */
.btn {
  font-size: 16px;
  font-weight: 650; }

.btn {
  font-size: 16px;
  font-weight: 650; }

/* BUTTONS */
.btn-action {
  background-image: linear-gradient(180deg, #3b8dff, #086fff 95%);
  color: #f3f3f3;
  box-shadow: 0;
  border-radius: 5px;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-action:hover {
  background-image: linear-gradient(180deg, #6eabff, #3b8dff 95%);
  color: #f3f3f3;
  box-shadow: none;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-action:active {
  background-image: linear-gradient(180deg, #6eabff, #3b8dff 95%);
  color: #f3f3f3;
  box-shadow: none;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-action:focus {
  background-image: linear-gradient(180deg, #6eabff, #3b8dff 95%);
  color: #f3f3f3;
  box-shadow: none;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-action-alt {
  background-image: linear-gradient(180deg, #26c281, #1c8248 95%);
  color: #fafafa;
  box-shadow: none;
  border-radius: 5px;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-action-alt:hover {
  background-image: linear-gradient(180deg, #3bc88d, #24a35a 95%);
  color: #e5e5e5;
  box-shadow: none;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-action-alt:active {
  background-image: linear-gradient(180deg, #3bc88d, #24a35a 95%);
  color: #e5e5e5;
  box-shadow: none;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-action-alt:focus {
  background-image: linear-gradient(180deg, #3bc88d, #24a35a 95%);
  color: #e5e5e5;
  box-shadow: none;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-action-alt:visited {
  background-image: linear-gradient(180deg, #3bc88d, #24a35a 95%);
  color: #e5e5e5;
  box-shadow: none;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-action-alt:active:hover {
  color: white;
  background-color: #1c8248;
  border-color: #1c8248; }

/* BUTTON ALT */
.btn-primary-alt {
  background: #3b8dff;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13);
  font-weight: 600;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: .8rem;
  padding-bottom: .8rem; }

.btn-primary-alt:hover {
  background: #3b8dff;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13);
  font-weight: 600; }

.btn-primary-alt:active {
  background: #086fff;
  color: #fff;
  box-shadow: 0;
  font-weight: 600; }

.btn-primary-alt:focus {
  background: #086fff;
  color: #fff;
  box-shadow: 0;
  font-weight: 600; }

.btn-success-alt {
  background: #3fc380;
  color: #fafafa;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-success-alt:hover {
  background: #66cf9a;
  color: #e5e5e5;
  box-shadow: 0 2px 4px rgba(155, 155, 155, 0.3), 0 2px 4px rgba(155, 155, 155, 0.3);
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-success-alt:active {
  background: #319e67;
  color: #e5e5e5;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-success-alt:focus {
  background: #319e67;
  color: #e5e5e5;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-danger-alt {
  background: #d91227;
  color: #fafafa;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-danger-alt:hover {
  background: #ee3044;
  color: #e5e5e5;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-danger-alt:active {
  background: #aa0e1f;
  color: #e5e5e5;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-danger-alt:focus {
  background: #aa0e1f;
  color: #e5e5e5;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-secondary-alt {
  background: #003156;
  color: #d91227;
  box-shadow: 0;
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: .95rem;
  padding-bottom: .95rem; }

.btn-secondary-alt:hover {
  background: #001423;
  color: #d91227;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: .95rem;
  padding-bottom: .95rem; }

.btn-secondary-alt:active {
  background: #001423;
  color: #d91227;
  box-shadow: 0;
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: .95rem;
  padding-bottom: .95rem; }

.btn-secondary-alt:focus {
  background: #001423;
  color: #d91227;
  box-shadow: 0;
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: .95rem;
  padding-bottom: .95rem; }

.btn-secondary-alt-2 {
  background: #003156;
  color: #3b8dff;
  box-shadow: 0;
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: .95rem;
  padding-bottom: .95rem; }

.btn-secondary-alt-2:hover {
  background: #004e89;
  color: #3b8dff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: .95rem;
  padding-bottom: .95rem; }

.btn-secondary-alt-2:active {
  background: #004e89;
  color: #3b8dff;
  box-shadow: 0;
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: .95rem;
  padding-bottom: .95rem; }

.btn-secondary-alt-2:focus {
  background: #004e89;
  color: #3b8dff;
  box-shadow: 0;
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: .95rem;
  padding-bottom: .95rem; }

.btn-accent-alt {
  background: #29303B;
  color: #fafafa;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-accent-alt:hover {
  background: #3e4859;
  color: #f3f3f3;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-accent-alt:active {
  background: #1f242c;
  color: #fafafa;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-accent-alt:focus {
  background: #1f242c;
  color: #fafafa;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

/* BUTTON ROUND */
.btn-primary-round {
  background: #3b8dff;
  color: #fff;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem; }

.btn-primary-round:hover {
  background: #6eabff;
  color: #f3f3f3;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13); }

.btn-primary-round:active {
  background: #086fff;
  color: #f3f3f3;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem; }

.btn-primary-round:focus {
  background: #086fff;
  color: #f3f3f3;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem; }

.btn-success-round {
  background: #3fc380;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem; }

.btn-success-round:hover {
  background: #66cf9a;
  color: #f3f3f3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13);
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem; }

.btn-success-round:active {
  background: #319e67;
  color: #fafafa;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem; }

.btn-success-round:focus {
  background: #319e67;
  color: #fafafa;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem; }

.btn-success-round:active:hover {
  color: white;
  background-color: #1c8248;
  border-color: #1c8248; }

.btn-secondary-round {
  background: #004e89;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .75rem; }
  .btn-secondary-round:hover {
    background: #003156;
    color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13); }
  .btn-secondary-round:active {
    background: #003156;
    color: #fafafa;
    box-shadow: 0; }
  .btn-secondary-round:focus {
    background: #003156;
    color: #fafafa;
    box-shadow: 0; }

.btn-accent-round {
  background: #3e4859;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .75rem; }
  .btn-accent-round:hover {
    background: #29303B;
    color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13); }
  .btn-accent-round:active {
    background: #29303B;
    color: #fafafa;
    box-shadow: 0; }
  .btn-accent-round:focus {
    background: #29303B;
    color: #fafafa;
    box-shadow: 0; }

/* OUTLINE BUTTONS */
.btn-outline-success {
  background: transparent;
  color: #3fc380;
  border: solid 1px #3fc380;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-success:hover {
  background: transparent !important;
  color: #66cf9a !important;
  border: solid 1px #66cf9a !important;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-success:active {
  background: transparent !important;
  color: #66cf9a !important;
  border: solid 1px #66cf9a !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-success:focus {
  background: transparent !important;
  color: #66cf9a !important;
  border: solid 1px #66cf9a !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-primary {
  background: transparent;
  color: #3b8dff !important;
  border: solid 1px #3b8dff !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-primary:hover {
  background: #6eabff !important;
  color: #e5e5e5;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-primary:active {
  background: #086fff !important;
  color: #e5e5e5;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-primary:focus {
  background: #086fff !important;
  color: #e5e5e5;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-dark {
  background: transparent;
  color: #3a3a3a !important;
  border: solid 1px #3a3a3a !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-dark:hover {
  background: transparent !important;
  color: #fafafa !important;
  border: solid 1px #fafafa !important;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-dark:active {
  background: transparent !important;
  color: #fafafa !important;
  border: solid 1px #fafafa !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-dark:focus {
  background: transparent !important;
  color: #fafafa !important;
  border: solid 1px #fafafa !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-primary:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13) !important; }

/* Sections */
.section {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 12rem;
  padding-bottom: 10rem; }

.section-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .section-lg p {
    color: #3a3a3a; }

.section-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .section-md p {
    color: #3a3a3a; }

.section-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem; }

.section-white-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #fff; }

.section-alt-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #f3f3f3; }

.section-alt-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f3f3f3;
  color: #3b8dff; }
  .section-alt-sm p {
    color: #086fff; }

.section-primary-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 12rem;
  padding-bottom: 10rem;
  background-color: #3b8dff;
  color: #fafafa; }

.section-primary-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #3b8dff;
  color: #fafafa; }

.section-primary-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3b8dff;
  color: #fafafa; }
  .section-primary-sm p {
    color: #fff; }

.section-main {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: #fafafa; }

.section-dark-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #3a3a3a;
  color: #fafafa; }

.section-accent-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #3e4859;
  color: #004e89; }
  .section-accent-lg p {
    color: #fff; }

.section-accent-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 8em;
  padding-bottom: 8rem;
  background-color: #3e4859;
  color: #004e89; }
  .section-accent-md p {
    color: #fff; }

.section-accent-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3e4859;
  color: #004e89; }
  .section-accent-sm p {
    color: #fff; }

.section-accent-xs {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 2em;
  padding-bottom: 2rem;
  background-color: #3e4859;
  color: #004e89; }
  .section-accent-xs p {
    color: #fff; }

.section-dark-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #3a3a3a;
  color: #fafafa; }

.section-darker-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #1f242c;
  color: #fafafa; }

.section-darker-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #1f242c;
  color: #fafafa; }

.section-dark-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3a3a3a;
  color: #fafafa; }

.section-primary-gradient {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-image: linear-gradient(200deg, #3b8dff, #6eabff); }

.section-primary-gradient-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: linear-gradient(165deg, #3b8dff, #6eabff); }
  .section-primary-gradient-sm p {
    color: #fff; }

.section-secondary-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #3a3a3a;
  background-color: #003156;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem; }

.section-secondary-md {
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: #3a3a3a;
  background-color: #003156;
  text-align: center; }

.section-secondary-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #3a3a3a;
  background-color: #003156; }

.section-secondary-xs {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #3a3a3a;
  background-color: #003156; }

.section-secondary-light-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #3a3a3a;
  background-color: #004e89;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem; }

.section-secondary-light-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #3a3a3a;
  background-color: #004e89;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem; }

.section-secondary-light-xs {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #3a3a3a;
  background-color: #004e89;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.section-alt-2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-right: 5rem;
  padding-left: 5rem;
  background-color: #e5e7e5; }
  .section-alt-2 h2 {
    color: #3b8dff; }

/* ******* MISC SECTIONS ****** */
.section-parallax {
  margin-top: 7rem;
  margin-bottom: 0rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: #fff !important;
  background-attachment: fixed;
  background-color: #e7f1ff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/static/img/background_picture3.jpg); }
  .section-parallax img {
    width: 100px; }
  .section-parallax p {
    text-align: center;
    color: #fff !important;
    padding: 0 10rem 0 10rem; }

.parallax1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3e4859;
  position: relative;
  color: #004e89;
  /* Create the parallax scrolling effect */
  background-image: url(/static/img/triangle_background2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .parallax1 p {
    color: #fff; }

.section-alt-4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3e4859;
  color: #003156; }

.section-jumbo-secondary .text-box {
  color: #fff;
  text-align: left; }

.section-image {
  background-color: #e5e7e5;
  height: 265px; }
  .section-image img {
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    height: 265px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; }

.section-overlap-img img {
  opacity: 0.8;
  width: 100%;
  height: 40rem;
  border-radius: 0.2em; }
.section-overlap-img .col-lg-6:last-child {
  position: relative; }
  .section-overlap-img .col-lg-6:last-child .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    border-radius: 3px;
    box-shadow: 0px 24px 42px rgba(0, 0, 0, 0.2); }

.section-card-parent {
  position: relative;
  background-color: #fafafa; }

.section-card-overlay-top {
  padding-top: 7rem;
  padding-bottom: 16rem;
  background-color: #fafafa;
  color: #003156;
  z-index: 1; }

.section-card-overlay-bottom {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  color: #003156;
  background-color: #f3f3f3; }

/* ******** CARDS ********* */
.contact-background {
  height: 100vh;
  padding-top: 8rem;
  background-color: #e5e7e5;
  position: relative;
  background-size: cover;
  /* take width of view port, fits element inside of box */
  background-position: center;
  /* hero always sticks to the top when resized. */ }

.card-overlayed {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%); }

.special-card {
  width: 100%;
  border: 2px solid #26c281;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.07), 0 6px 6px rgba(0, 0, 0, 0.07); }

.special-card h4 {
  color: #4caf50; }

.special-card p {
  color: #4caf50; }

.regular-card {
  width: 100%;
  border: 1px solid #3e4859;
  box-shadow: none; }

.regular-card h4 {
  color: #003156; }

.regular-card p {
  color: #003156; }

.gradient-line {
  background-color: #3b8dff;
  height: 3px;
  width: 100%; }

/* ****** BANNER ******* */
.banner {
  position: relative;
  background-size: cover;
  /* take width of view port, fits element inside of box */
  background-position: center;
  border-radius: 0.2rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  margin-bottom: 5rem;
  background-color: #3fc380;
  color: #fff; }
  .banner p {
    color: #fff; }

/*         FOOTER GHOST       */
footer {
  padding-top: 1%;
  color: #5a5a5a;
  background-image: url(/static/img/mod_footer.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  footer .bottom-bar {
    background-color: #29303B; }
  footer a {
    color: #3a3a3a; }
  footer a:hover {
    color: #3fc380 !important;
    text-decoration: none; }
  footer p {
    color: #3a3a3a; }
  footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    font-weight: 600;
    color: #3a3a3a; }
  footer .font-footer {
    color: #3a3a3a; }

.hr-footer-sm {
  border-bottom: 1px solid #323232;
  margin-top: .65rem !important;
  margin-bottom: .65rem !important; }

.hr-footer-md {
  border-bottom: 1px solid #fff;
  margin-top: .65rem !important;
  margin-bottom: .65rem !important; }

.map-background {
  width: 100%;
  height: 240px;
  background-size: 90% 120%;
  background-repeat: no-repeat; }

.fa1 {
  padding: 12px;
  font-size: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none; }

.fa1:hover {
  background: #66cf9a;
  opacity: 0.7; }

.fa2 {
  padding: 8px;
  font-size: 12px;
  width: 30px;
  text-align: center;
  text-decoration: none; }

.fa-facebook {
  background-color: #003056;
  color: white;
  border-radius: 50%; }

.fa-linkedin {
  background-color: #003056;
  color: white;
  border-radius: 50%; }

.fa-google-plus {
  background: #2d2d2d;
  color: white;
  border-radius: 50%; }

.fa-instagram {
  background: #2d2d2d;
  color: white;
  border-radius: 50%; }

/* ## FOOTER 200  ## */
.hr-footer-sm {
  border-bottom: 1px solid #003156;
  margin-top: .65rem !important;
  margin-bottom: .65rem !important; }

.hr-footer-md {
  border-bottom: 1px solid #003156;
  margin-top: .65rem !important;
  margin-bottom: .65rem !important; }

.map-background {
  width: 100%;
  height: 240px;
  background-size: 90% 120%;
  background-repeat: no-repeat; }

.fa1 {
  padding: 12px;
  font-size: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  background-color: #3fc380;
  color: #fafafa; }

.fa1:hover {
  background: #66cf9a;
  opacity: 0.7;
  color: #fafafa; }

.fa2 {
  padding: 8px;
  font-size: 12px;
  width: 30px;
  text-align: center;
  text-decoration: none; }

.fa-facebook {
  color: #fafafa;
  border-radius: 50%; }

.fa-linkedin {
  color: #fafafa;
  border-radius: 50%; }

.fa-google-plus {
  color: #fafafa;
  border-radius: 50%; }

.fa-instagram {
  color: #fafafa;
  border-radius: 50%; }

a:hover {
  color: #3b8dff; }

.text-primary {
  color: #3b8dff; }

.text-success {
  color: #3fc380; }

.text-danger {
  color: #d91227; }

.text-muted {
  color: #3a3a3a; }

/*# sourceMappingURL=base-alt.css.map */
