/* ANIMATION */
html {
  scroll-behavior: smooth !important; }

body {
  margin: 0;
  font-family: Montserrat, sans-serif !important;
  background-color: #fafafa;
  color: #3a3a3a; }
  body h1 h2 h3 h4 h5 h6 {
    color: #1a1a1a; }
  body p {
    color: #2a2a2a; }
  body li {
    color: #424242; }
  body a {
    color: #006bbc; }

body h2 {
  font-size: 1.5rem; }

hr.hr-2 {
  border-top: 2px solid #006bbc;
  width: 30px;
  align-items: left; }

#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: 2px solid rgba(255, 255, 255, 0.9);
  outline: none;
  /* Remove outline */
  background-color: #006bbc;
  /* Set a background color */
  color: #fff;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  line-height: 16px;
  padding: 11px 15px 18px 15px;
  font-weight: 400;
  font-size: 8px;
  margin-bottom: 4px;
  cursor: pointer;
  outline: none;
  outline-offset: 0;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22), 0 3px 6px rgba(0, 0, 0, 0.26);
  opacity: .9;
  filter: alpha(opacity=70);
  /* For IE8 and earlier */ }

#myBtn:hover {
  background-color: #006bbc;
  /* Add a dark-grey background on hover */ }

@media screen and (min-width: 992px) {
  .unhide {
    display: none; }

  .mobile-margin {
    margin-top: 100px; }

  .search {
    width: 350px; }

  .search-input {
    width: 350px; }

  .h100 {
    height: 100vh; }

  .message-resizer {
    width: 25rem; }

  .column-border {
    border-right: 1px solid #f1f1f1; }

  .contactform h1 {
    font-size: 65px;
    font-weight: 600; }

  .contactform h2 {
    font-size: 28.5px;
    font-weight: 500; }

  .projectform h1 {
    font-size: 65px;
    font-weight: 600; }

  .projectform h2 {
    font-size: 28.5px;
    font-weight: 500; }

  .projectform h5 {
    font-size: 16px;
    font-weight: 500; }

  .img-responsive-sm img {
    width: 100%;
    max-width: 15rem;
    height: auto;
    display: block;
    margin: 0 auto; }

  .img-responsive-md img {
    max-width: 25rem;
    height: 80%;
    display: block;
    margin: 0 auto; }

  .img-shadow img {
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2), 0 5px 11px 0 rgba(0, 0, 0, 0.15); }

  /* UserPage Padding UL */
  .ul-padding-mobile {
    padding-inline-start: 0px; } }
@media screen and (max-width: 1200px) {
  .search {
    width: 290px; }

  .search-input {
    width: 290px; }

  .contactform {
    height: 73vh;
    margin-top: 110px;
    background-color: #fafafa;
    background-repeat: no-repeat; } }
@media screen and (max-width: 992px) {
  .hide {
    display: none; }

  .search {
    width: 100%;
    margin-top: 1rem; }

  .search-input {
    width: 95%; }

  .center {
    text-align: center; }

  .contactform {
    height: 135vh;
    margin-top: 110px;
    background-color: #fafafa;
    background-repeat: no-repeat;
    height: 110rem; }

  .contactform h1 {
    font-size: 30px;
    font-weight: 600; }

  .contactform h2 {
    font-size: 16px;
    font-weight: 500; }

  .contactform h5 {
    font-size: 14px;
    font-weight: 500; }

  .projectform h1 {
    font-size: 30px;
    font-weight: 600; }

  .projectform h2 {
    font-size: 16px;
    font-weight: 500; }

  .projectform h5 {
    font-size: 22px;
    font-weight: 500; }

  .message-resizer {
    width: 15rem; }

  .column-border {
    border-right: none; }

  .img-responsive-sm img {
    width: 100%;
    max-width: 8rem;
    height: auto; }

  .img-responsive-md img {
    width: 100%;
    max-width: 20rem;
    height: auto; }

  /* UserPage Padding UL */
  .ul-padding-mobile {
    padding-inline-start: 20px; } }
/* ********* Cards ********** */
.card {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 2px -2px rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.15rem !important;
  background-color: #fff !important; }
  .card .card-footer {
    background-color: #fff; }

.card-effects {
  transition: transform 0.25s; }

.card-effects::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: '';
  opacity: 0;
  z-index: -1; }

.card-effects:hover::after, .card__one:focus::after {
  opacity: 1; }

.card-shadow {
  box-shadow: 0 5px 11px rgba(222, 222, 222, 0.08), 0 10px 10px rgba(0, 0, 0, 0.05); }

.card-effects {
  transition: transform 0.25s; }

.card-effects::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  content: '';
  opacity: 0;
  z-index: -1; }

.card-effects:hover::after, .card__one:focus::after {
  opacity: 1; }

.card-border {
  border: solid 1px #ddd; }

/* ******** SHADOWS EFFECTS ********* */
.box-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-style: solid;
  border-width: 1px;
  border-color: #29303B; }

.shadow-1 {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.28), 0 4px 8px rgba(0, 0, 0, 0.29) !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.28), 0 4px 8px rgba(0, 0, 0, 0.29) !important; }

.shadow-2 {
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2) !important;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2) !important; }

.shadow-3 {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; }

.shadow-0 {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.course-card-title {
  font-weight: 500;
  font-size: 1rem;
  color: #29303B; }

.course-card-text {
  font-size: .8rem;
  color: #6c757d; }

@media screen and (min-width: 992px) {
  .star-yellow {
    color: #f3c840; }

  .service-spacer {
    padding-bottom: 6rem; } }
@media screen and (max-width: 992px) {
  .star-yellow {
    color: #f3c840;
    font-size: 14px; }

  .service-spacer {
    padding-bottom: 0rem; } }
.mini-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: flex-start; }

.card-mini {
  display: inline;
  flex-direction: column;
  flex-flow: flex-start;
  padding: .1rem;
  margin: 0; }

.card-mini .title {
  padding: 1rem 0 0 0.5rem;
  margin: 0;
  font-size: 16px;
  font-weight: 500; }

.card-mini .paragraph {
  font-size: 12px;
  padding: .5rem 0 .5rem .5rem;
  margin: 0; }

.card-mini img {
  font-size: 14px;
  padding: 0.75rem 0.5rem 0 0;
  margin: 0; }

.card-mini .stars {
  font-size: 14px;
  padding-left: .5rem; }

.card-mountains {
  background-image: url(/static/img/footer_glacier_10.3.svg);
  background-size: cover;
  background-position: 50px 100px;
  background-repeat: no-repeat;
  background-color: #003156;
  color: #eff8ff; }

.center-card {
  position: relative !important;
  top: 30% !important;
  height: 98vh !important; }

.jumbo-white {
  font-size: 2.4rem;
  font-weight: 800;
  color: #f1f1f1;
  padding-bottom: 1.75rem; }

.jumbo-dark {
  font-size: 2rem;
  font-weight: 800;
  color: #3a3a3a;
  padding-bottom: 1.75rem; }

.jumbo-primary {
  font-size: 2.4rem;
  font-weight: 800;
  color: #007ad6; }

.jumbo-success {
  font-size: 2.4rem;
  font-weight: 800;
  color: #3ddb93; }

.jumbo-accent {
  font-size: 2.4rem;
  font-weight: 800;
  color: #29303B; }

.jumbo-secondary {
  font-size: 2.4rem;
  font-weight: 800;
  color: #eff8ff; }

.card-footer {
  background-color: #003156; }

/* BANNER */
.banner {
  position: relative;
  background-size: cover;
  /* take width of view port, fits element inside of box */
  background-position: center;
  border-radius: 0.15rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  margin-bottom: 7rem;
  background-color: #004e89;
  color: #fff; }

.uniform-buttom-spacing-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: flex-start;
  justify-content: space-between; }

.button-uniform {
  display: inline;
  flex-direction: column;
  flex-flow: flex-start;
  padding: .1rem;
  margin: 0; }

.button-uniform-full-width {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  display: block;
  text-align: center; }

.invoice {
  margin-top: 2rem;
  display: inline;
  margin: 1.5rem 0 1rem 1rem;
  width: 100%;
  font-size: 1.3rem; }

.invoice-card {
  background-color: #2a2a2a;
  color: #fff;
  padding: .3rem 1.5rem .3rem 1.5rem;
  border: 1px solid #2a2a2a;
  font-weight: 500; }

.invoice-card-inverse {
  padding: .3rem 1rem .3rem 7rem;
  border: 1px solid #2a2a2a;
  font-weight: 500;
  width: 100%;
  margin: 0;
  font-size: 24; }

.messages {
  z-index: 100;
  position: fixed;
  bottom: 0%;
  opacity: .95; }

.vertical-align {
  padding-top: 8rem;
  padding-bottom: 8rem;
  vertical-align: middle; }

.payment-crumb {
  height: 65px;
  margin-top: 0.8rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start; }
  .payment-crumb .font-size {
    font-size: 1rem;
    line-height: normal; }
  .payment-crumb-brand {
    padding: 1rem 3rem 1rem 0;
    margin-bottom: 0;
    order: 1;
    color: #2a2a2a;
    flex-grow: 0;
    font-weight: 700;
    line-height: normal;
    font-size: 1.25rem; }
  .payment-crumb-text {
    color: #2a2a2a;
    order: 1;
    flex-grow: 0;
    padding: 0.75rem 1rem 1rem 1rem;
    line-height: normal; }

.crumb-border {
  border-bottom: 1px solid #c1c1c1; }

.messages {
  z-index: 999;
  position: fixed;
  left: 0%;
  bottom: 0%;
  opacity: .95;
  background-color: transparent !important;
  color: #424242;
  font-family: Montserrat, sans-serif;
  font-size: .95em;
  font-weight: 600;
  padding: 1em 1em 1em 2em;
  z-index: 80;
  position: fixed;
  bottom: 0%;
  height: 3rem; }

.alert {
  background-color: #fafafa;
  color: #424242;
  font-family: Montserrat, sans-serif;
  font-size: .95em;
  font-weight: 600;
  padding: 1em 1em 1em 2em;
  z-index: 999;
  position: fixed;
  left: 3%;
  bottom: 0%;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2) !important;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05), 0 15px 40px rgba(166, 173, 201, 0.2) !important; }

.alert-success {
  border-left: 6px solid #3ddb93; }

.alert-danger {
  border-left: 6px solid #d91227; }

.alert-info {
  border-left: 6px solid #19b5fe; }

.message-shadow {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22), 0 3px 6px rgba(0, 0, 0, 0.22) !important;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22), 0 3px 6px rgba(0, 0, 0, 0.22) !important; }

/* CUSTOMER HAMBURGER */
a.navbar-brand.scrolled {
  color: #424242 !important; }

a.navbar-brand.scrolled:hover {
  color: #006bbc !important; }

.navbar-toggler {
  border: none;
  background: transparent !important; }

.navbar-toggler:focus {
  outline: none;
  background: transparent !important; }

.navbar-toggler .icon-bar {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s; }

.navbar-toggler.scrolled .icon-bar {
  background-color: #424242;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s; }

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px; }

.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s; }

.navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s; }

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s; }

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s; }

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s; }

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s; }

.navbar-default.scrolled {
  background-color: #fdfdfe !important;
  transition: background-color 200ms linear;
  color: #424242;
  z-index: 999;
  -webkit-box-shadow: 0 5px 10px rgba(154, 160, 185, 0.085), 0 15px 40px rgba(166, 173, 201, 0.25) !important;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.085), 0 15px 40px rgba(166, 173, 201, 0.25) !important; }

/* ## NAVBAR BRAND ## */
.btn-outline-navbar {
  background-color: transparent !important;
  font-weight: 500 !important;
  font-size: 0.875rem;
  color: #424242 !important;
  border: 1px solid #424242 !important; }

.btn-outline-navbar:hover {
  background-color: #006bbc !important;
  font-weight: 500 !important;
  font-size: 0.875rem;
  color: #fdfdfe !important;
  border-color: #006bbc !important; }

.btn-outline-navbar.scrolled:hover {
  color: #fdfdfe !important;
  border-color: #006bbc !important; }

.navbar-brand {
  color: #424242; }

.navbar-brand:hover {
  color: #006bbc !important; }

.navbar-brand.scrolled {
  color: #424242; }

.navbar-brand {
  font-weight: 700 !important; }

/* ## NAVBAR LINK ## */
.nav-link {
  color: #424242;
  font-weight: 500 !important;
  font-size: 0.8rem; }

.nav-link:hover {
  color: #006bbc; }

.nav-link.scrolled {
  color: #424242; }

.nav-link.scrolled:hover {
  color: #006bbc; }

/* ## CENTER COLLPASED LINKS ## */
.navbar {
  box-shadow: none; }

.navbar .navbar-collapse {
  text-align: center;
  box-shadow: none; }

.btn {
  font-size: 16px;
  font-weight: 650; }
  .btn:hover, .btn:active .btn:focus {
    font-weight: 650; }

button {
  display: block;
  background: #666ee8;
  color: #fff;
  box-shadow: 0;
  border-radius: 0.15rem;
  border: 0;
  width: 100%;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease; }

.custom-button-animations button:focus {
  background: #555abf; }
.custom-button-animations button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.08); }
.custom-button-animations button:active {
  background: #43458b; }

.btn-action {
  background-image: linear-gradient(180deg, #3b8dff, #3469ad 95%);
  color: #fafafa;
  box-shadow: 0;
  border-radius: 0.15rem;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }
  .btn-action:hover, .btn-action:active, .btn-action:focus, .btn-action:visited {
    background-image: linear-gradient(180deg, #3b8dff, #2e5d9a 95%);
    color: #e5e5e5;
    box-shadow: none; }

.btn-action-alt {
  background-image: linear-gradient(180deg, #26c281, #1c8248 95%);
  color: #fafafa;
  box-shadow: none;
  border-radius: 0.15rem;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }
  .btn-action-alt:hover, .btn-action-alt:focus, .btn-action-alt:active {
    background-image: linear-gradient(180deg, #26c281, #24a35a 95%);
    color: #e5e5e5;
    box-shadow: none; }

.btn-action-disabled {
  background-color: #ccc;
  color: #fafafa;
  box-shadow: none;
  height: 50px;
  width: 12rem;
  border-radius: 0.15rem;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }
  .btn-action-disabled:hover, .btn-action-disabled:focus, .btn-action-disabled:active {
    background-color: #ccc;
    color: #e5e5e5;
    height: 50px;
    box-shadow: none; }

/* BUTTON ALT */
.btn-primary-alt {
  background: #006bbc;
  color: #fff;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: .8rem;
  padding-bottom: .8rem; }
  .btn-primary-alt:hover, .btn-primary-alt:active, .btn-primary-alt:focus {
    background: #007ad6;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13); }

.btn-success-alt {
  background: #3ddb93;
  color: #fafafa;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }
  .btn-success-alt:hover, .btn-success-alt:active, .btn-success-alt:focus {
    background: #68e3ab;
    color: #e5e5e5;
    box-shadow: 0 2px 4px rgba(155, 155, 155, 0.3), 0 2px 4px rgba(155, 155, 155, 0.3); }

.btn-danger-alt {
  background: #d91227;
  box-shadow: 0;
  color: #fafafa;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }
  .btn-danger-alt:hover, .btn-danger-alt:active, .btn-danger-alt:focus, .btn-danger-alt:visited {
    background: #ee3044;
    color: #e5e5e5;
    box-shadow: 0 2px 4px rgba(155, 155, 155, 0.3), 0 2px 4px rgba(155, 155, 155, 0.3); }

.btn-secondary-alt {
  background: #efefef;
  color: #d91227;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: .95rem;
  padding-bottom: .95rem; }
  .btn-secondary-alt .btn-secondary-alt:hover {
    background: #efefef;
    color: #d91227;
    box-shadow: 0;
    font-size: 1.4rem; }
  .btn-secondary-alt .btn-secondary-alt:active {
    background: #efefef;
    color: #d91227;
    box-shadow: 0;
    font-size: 1.4rem; }
  .btn-secondary-alt .btn-secondary-alt:focus {
    background: #efefef;
    color: #d91227;
    box-shadow: 0;
    font-size: 1.4rem; }

.btn-secondary-alt-2 {
  background: #efefef;
  color: #2a2a2a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3), 0 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  font-size: 1.4rem;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: .95rem;
  padding-bottom: .95rem; }
  .btn-secondary-alt-2 .btn-secondary-alt-2:hover {
    background: #efefef;
    box-shadow: 0; }
  .btn-secondary-alt-2 .btn-secondary-alt-2:active {
    background: #efefef;
    box-shadow: 0; }
  .btn-secondary-alt-2 .btn-secondary-alt-2:focus {
    background: #efefef;
    box-shadow: 0; }

.btn-accent-alt {
  background: #29303B;
  color: #fafafa;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-accent-alt:hover {
  background: #3e4859;
  color: #f3f3f3;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-accent-alt:active {
  background: #1f242c;
  color: #fafafa;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-accent-alt:focus {
  background: #1f242c;
  color: #fafafa;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-alt {
  background: #003156;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13);
  font-weight: 600;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: .8rem;
  padding-bottom: .8rem; }
  .btn-alt .btn-alt:hover {
    background: #001423 !important;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13); }
  .btn-alt .btn-alt:active {
    background: #001423;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13); }
  .btn-alt .btn-alt:focus {
    background: #001423;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13); }

/* BUTTON ROUND */
.btn-primary-round {
  background: #006bbc;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 0.15rem;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem;
  border-bottom: 5px solid #004e89;
  text-shadow: 0px -1px #004e89; }
  .btn-primary-round:hover {
    background: #006bbc;
    color: #f3f3f3;
    border-bottom: 5px solid #004e89; }
  .btn-primary-round:active, .btn-primary-round:focus {
    background: #007ad6;
    color: #f3f3f3;
    box-shadow: 0;
    border-bottom: 5px solid #004e89; }

.btn-success-round {
  background: #3ddb93;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 0.15rem;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem;
  border-bottom: 5px solid #24c179;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2); }
  .btn-success-round:hover {
    background: #68e3ab;
    color: #f3f3f3;
    border-bottom: 5px solid #24c179; }
  .btn-success-round:active, .btn-success-round:focus {
    background: #68e3ab;
    color: #f3f3f3;
    border-bottom: 5px solid #24c179; }

.btn-secondary-round {
  background: white;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .75rem; }
  .btn-secondary-round:hover {
    background: #eff8ff;
    color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13); }
  .btn-secondary-round:active {
    background: #eff8ff;
    color: #fafafa;
    box-shadow: 0; }
  .btn-secondary-round:focus {
    background: #eff8ff;
    color: #fafafa;
    box-shadow: 0; }

.btn-alt-round {
  background: #006bbc;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .75rem; }
  .btn-alt-round:hover {
    background: #003156;
    color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13); }
  .btn-alt-round:active {
    background: #003156;
    color: #fafafa;
    box-shadow: 0; }
  .btn-alt-round:focus {
    background: #003156;
    color: #fafafa;
    box-shadow: 0; }

.btn-accent-round {
  background: #3e4859;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .75rem; }
  .btn-accent-round:hover {
    background: #29303B;
    color: #f3f3f3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13); }
  .btn-accent-round:active {
    background: #29303B;
    color: #fafafa;
    box-shadow: 0; }
  .btn-accent-round:focus {
    background: #29303B;
    color: #fafafa;
    box-shadow: 0; }

/* OUTLINE BUTTONS */
.btn-outline-success {
  background: transparent;
  color: #3ddb93;
  border: solid 1px #3ddb93;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-success:hover {
  background: transparent !important;
  color: #68e3ab !important;
  border: solid 1px #68e3ab !important;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-success:active {
  background: transparent !important;
  color: #68e3ab !important;
  border: solid 1px #68e3ab !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-success:focus {
  background: transparent !important;
  color: #68e3ab !important;
  border: solid 1px #68e3ab !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-primary {
  background: transparent;
  color: #006bbc;
  border: solid 1px #006bbc !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: .8rem;
  padding-bottom: .8rem; }
  .btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:visited {
    background: #006bbc !important;
    color: #fff; }

.btn-outline-dark {
  background: transparent;
  color: #424242 !important;
  border: solid 1px #424242 !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-dark:hover {
  background: transparent !important;
  color: #fafafa !important;
  border: solid 1px #fafafa !important;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-dark:active {
  background: transparent !important;
  color: #fafafa !important;
  border: solid 1px #fafafa !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-outline-dark:focus {
  background: transparent !important;
  color: #fafafa !important;
  border: solid 1px #fafafa !important;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: .85rem;
  padding-bottom: .85rem; }

.btn-primary:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18), 0 2px 4px rgba(0, 0, 0, 0.13) !important; }

.btn-information-dropdown {
  background: transparent;
  color: #006bbc;
  box-shadow: 0;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1.6rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
  text-transform: lowercase; }
  .btn-information-dropdown:hover {
    color: #004e89;
    box-shadow: 0; }
  .btn-information-dropdown:active {
    color: #004e89;
    box-shadow: 0; }
  .btn-information-dropdown:focus {
    color: #004e89;
    box-shadow: 0; }

/* Sections */
.section {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 12rem;
  padding-bottom: 10rem; }

.section-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 10rem; }
  .section-lg p {
    color: #424242; }

.section-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 8rem;
  padding-bottom: 8rem; }
  .section-md p {
    color: #424242; }

.section-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem; }

.section-white-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #fff; }

.section-alt-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #003156; }

.section-alt-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #003156;
  color: #006bbc; }
  .section-alt-sm p {
    color: #004e89; }

.section-success-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3ddb93;
  color: #fff; }

.section-primary-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 12rem;
  padding-bottom: 10rem;
  background-color: #006bbc;
  color: #fafafa; }

.section-primary-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-color: #006bbc;
  color: #fafafa; }

.section-primary-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #007ad6;
  color: #fafafa; }
  .section-primary-sm p {
    color: #fff; }

.section-main {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 6rem;
  padding-bottom: 5rem;
  background-color: #fafafa; }

.section-dark-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #424242;
  color: #fafafa; }

.section-accent-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #3e4859;
  color: white; }
  .section-accent-lg p {
    color: #fff; }

.section-accent-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 8em;
  padding-bottom: 8rem;
  background-color: #3e4859;
  color: white; }
  .section-accent-md p {
    color: #fff; }

.section-accent-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3e4859;
  color: white; }
  .section-accent-sm p {
    color: #fff; }

.section-accent-xs {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 2em;
  padding-bottom: 2rem;
  background-color: #3e4859;
  color: white; }
  .section-accent-xs p {
    color: #fff; }

.section-dark-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #424242;
  color: #fafafa; }

.section-darker-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #1f242c;
  color: #fafafa; }

.section-darker-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #1f242c;
  color: #fafafa; }
  .section-darker-md a {
    color: #3ddb93; }
  .section-darker-md a:hover, .section-darker-md a:focus, .section-darker-md a:visited {
    color: #68e3ab; }

.section-dark-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #424242;
  color: #fafafa; }

.section-primary-gradient {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 12rem;
  padding-bottom: 12rem;
  background-image: linear-gradient(200deg, #006bbc, #007ad6); }

.section-primary-gradient-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: linear-gradient(165deg, #006bbc, #007ad6); }
  .section-primary-gradient-sm p {
    color: #fff; }

.section-secondary-lg {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #424242;
  background-color: #eff8ff;
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 10rem; }

.section-secondary-md {
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: #424242;
  background-color: #eff8ff;
  text-align: center; }

.section-secondary-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #424242;
  background-color: #eff8ff; }

.section-secondary-xs {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #424242;
  background-color: #eff8ff; }

.section-secondary-light-md {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #424242;
  background-color: white;
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 8rem; }

.section-secondary-light-sm {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #424242;
  background-color: white;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem; }

.section-secondary-light-xs {
  margin-top: 0rem;
  margin-bottom: 0rem;
  color: #424242;
  background-color: white;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.section-alt-2 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-right: 5rem;
  padding-left: 5rem;
  background-color: #e5e7e5; }
  .section-alt-2 h2 {
    color: #006bbc; }

/* ******* MISC SECTIONS ****** */
.section-parallax {
  margin-top: 7rem;
  margin-bottom: 0rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
  color: #fff !important;
  background-attachment: fixed;
  background-color: #e7f1ff;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/static/img/background_picture3.jpg); }
  .section-parallax img {
    width: 100px; }
  .section-parallax p {
    text-align: center;
    color: #fff !important;
    padding: 0 10rem 0 10rem; }

.parallax1 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3e4859;
  position: relative;
  color: white;
  /* Create the parallax scrolling effect */
  background-image: url(/static/img/triangle_background2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .parallax1 p {
    color: #fff; }

.section-alt-4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #3e4859;
  color: #eff8ff; }

.section-jumbo-secondary .text-box {
  color: #fff;
  text-align: left; }

.section-image {
  background-color: #e5e7e5;
  height: 265px; }
  .section-image img {
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    height: 265px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%; }

.section-overlap-img img {
  opacity: 0.8;
  width: 100%;
  height: 40rem;
  border-radius: 0.2em; }
.section-overlap-img .col-lg-6:last-child {
  position: relative; }
  .section-overlap-img .col-lg-6:last-child .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    border-radius: 3px;
    box-shadow: 0px 24px 42px rgba(0, 0, 0, 0.2); }

.section-card-parent {
  position: relative;
  background-color: #fafafa; }

.section-card-overlay-top {
  padding-top: 7rem;
  padding-bottom: 16rem;
  background-image: linear-gradient(180deg, white, #eff8ff);
  background-color: #eff8ff;
  color: #eff8ff;
  z-index: 1; }

@media screen and (min-width: 992px) {
  .section-card-overlay-bottom {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    color: #eff8ff;
    background-color: #fff; } }
@media screen and (max-width: 992px) {
  .section-card-overlay-bottom {
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding-top: 47rem;
    padding-bottom: 47rem;
    color: #eff8ff;
    background-color: #fff; } }
/* ******** CARDS ********* */
.contact-background {
  height: 100vh;
  padding-top: 8rem;
  background-color: #e5e7e5;
  position: relative;
  background-size: cover;
  /* take width of view port, fits element inside of box */
  background-position: center;
  /* hero always sticks to the top when resized. */ }

.card-overlayed {
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translate(-50%); }

.special-card {
  width: 100%;
  border: 2px solid #26c281;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.07), 0 6px 6px rgba(0, 0, 0, 0.07); }

.special-card h4 {
  color: #4caf50; }

.special-card p {
  color: #4caf50; }

.regular-card {
  width: 100%;
  border: 1px solid #3e4859;
  box-shadow: none; }

.regular-card h4 {
  color: #eff8ff; }

.regular-card p {
  color: #eff8ff; }

.gradient-line {
  background-color: #006bbc;
  height: 3px;
  width: 100%; }

/* ****** BANNER ******* */
.banner {
  position: relative;
  background-size: cover;
  /* take width of view port, fits element inside of box */
  background-position: center;
  border-radius: 0.2rem;
  padding-left: 3.5rem;
  padding-right: 3.5rem;
  padding-top: 3rem;
  padding-bottom: 2.5rem;
  margin-bottom: 5rem;
  background-color: #3ddb93;
  color: #fff; }
  .banner p {
    color: #fff; }

/*         FOOTER GHOST       */
footer {
  padding-top: 1%;
  color: #5a5a5a;
  background-image: url(/static/img/mod_footer.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  footer .bottom-bar {
    background-color: #29303B; }
  footer a {
    color: #424242; }
  footer a:hover {
    color: #3ddb93 !important;
    text-decoration: none; }
  footer p {
    color: #424242; }
  footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
    font-weight: 600;
    color: #424242; }
  footer .font-footer {
    color: #424242; }

.hr-footer-sm {
  border-bottom: 1px solid #323232;
  margin-top: .65rem !important;
  margin-bottom: .65rem !important; }

.hr-footer-md {
  border-bottom: 1px solid #fff;
  margin-top: .65rem !important;
  margin-bottom: .65rem !important; }

.map-background {
  width: 100%;
  height: 240px;
  background-size: 90% 120%;
  background-repeat: no-repeat; }

.fa1 {
  padding: 12px;
  font-size: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none; }

.fa1:hover {
  background: #68e3ab;
  opacity: 0.7; }

.fa2 {
  padding: 8px;
  font-size: 12px;
  width: 30px;
  text-align: center;
  text-decoration: none; }

.fa-facebook {
  background-color: #003056;
  color: white;
  border-radius: 50%; }

.fa-linkedin {
  background-color: #003056;
  color: white;
  border-radius: 50%; }

.fa-google-plus {
  background: #2d2d2d;
  color: white;
  border-radius: 50%; }

.fa-instagram {
  background: #2d2d2d;
  color: white;
  border-radius: 50%; }

/* ## FOOTER 200  ## */
.hr-footer-sm {
  border-bottom: 1px solid #eff8ff;
  margin-top: .65rem !important;
  margin-bottom: .65rem !important; }

.hr-footer-md {
  border-bottom: 1px solid #eff8ff;
  margin-top: .65rem !important;
  margin-bottom: .65rem !important; }

.map-background {
  width: 100%;
  height: 240px;
  background-size: 90% 120%;
  background-repeat: no-repeat; }

.fa1 {
  padding: 12px;
  font-size: 15px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  background-color: #3ddb93;
  color: #fafafa; }

.fa1:hover {
  background: #68e3ab;
  opacity: 0.7;
  color: #fafafa; }

.fa2 {
  padding: 8px;
  font-size: 12px;
  width: 30px;
  text-align: center;
  text-decoration: none; }

.fa-facebook {
  color: #fafafa;
  border-radius: 50%; }

.fa-linkedin {
  color: #fafafa;
  border-radius: 50%; }

.fa-google-plus {
  color: #fafafa;
  border-radius: 50%; }

.fa-instagram {
  color: #fafafa;
  border-radius: 50%; }

a:hover {
  color: #006bbc; }

.text-primary {
  color: #006bbc; }

.bg-primary {
  background-color: #006bbc; }

.text-primary-light {
  color: #007ad6; }

.text-success {
  color: #3ddb93 !important; }

.bg-success {
  background-color: #3ddb93 !important; }

.text-danger {
  color: #d91227; }

.text-muted {
  color: #424242; }

.text-secondary {
  color: #c1c1c1 !important; }

body {
  font-size: 1em; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 1.75em; }

.text-shadow-1 {
  text-shadow: 1px 1px 3px #212121; }

.fw-4 {
  font-weight: 400; }

.fw-5 {
  font-weight: 500; }

.fw-6 {
  font-weight: 600; }

.fw-7 {
  font-weight: 700; }

.fw-8 {
  font-weight: 800; }

.fs-1 {
  font-size: 1px; }

.fs-2 {
  font-size: 2px; }

.fs-3 {
  font-size: 3px; }

.fs-4 {
  font-size: 4px; }

.fs-5 {
  font-size: 5px; }

.fs-6 {
  font-size: 6px; }

.fs-7 {
  font-size: 7px; }

.fs-8 {
  font-size: 8px; }

.fs-9 {
  font-size: 9px; }

.fs-10 {
  font-size: 10px; }

.fs-11 {
  font-size: 11px; }

.fs-12 {
  font-size: 12px; }

.fs-13 {
  font-size: 13px; }

.fs-14 {
  font-size: 14px; }

.fs-15 {
  font-size: 15px; }

.fs-16 {
  font-size: 16px; }

.fs-17 {
  font-size: 17px; }

.fs-18 {
  font-size: 18px; }

.fs-19 {
  font-size: 19px; }

.fs-20 {
  font-size: 20px; }

.fs-21 {
  font-size: 21px; }

.fs-22 {
  font-size: 22px; }

.fs-23 {
  font-size: 23px; }

.fs-24 {
  font-size: 24px; }

.fs-25 {
  font-size: 25px; }

.fs-26 {
  font-size: 26px; }

.fs-27 {
  font-size: 27px; }

.fs-28 {
  font-size: 28px; }

.fs-29 {
  font-size: 29px; }

.fs-30 {
  font-size: 30px; }

.fs-31 {
  font-size: 31px; }

.fs-32 {
  font-size: 32px; }

.fs-33 {
  font-size: 33px; }

.fs-34 {
  font-size: 34px; }

.fs-35 {
  font-size: 35px; }

.fs-36 {
  font-size: 36px; }

.fs-37 {
  font-size: 37px; }

.fs-38 {
  font-size: 38px; }

.fs-39 {
  font-size: 39px; }

.fs-40 {
  font-size: 40px; }

.fs-41 {
  font-size: 41px; }

.fs-42 {
  font-size: 42px; }

.fs-43 {
  font-size: 43px; }

.fs-44 {
  font-size: 44px; }

.fs-45 {
  font-size: 45px; }

.fs-46 {
  font-size: 46px; }

.fs-47 {
  font-size: 47px; }

.fs-48 {
  font-size: 48px; }

.fs-49 {
  font-size: 49px; }

.fs-50 {
  font-size: 50px; }

.fs-51 {
  font-size: 51px; }

.fs-52 {
  font-size: 52px; }

.fs-53 {
  font-size: 53px; }

.fs-54 {
  font-size: 54px; }

.fs-55 {
  font-size: 55px; }

.fs-56 {
  font-size: 56px; }

.fs-57 {
  font-size: 57px; }

.fs-58 {
  font-size: 58px; }

.fs-59 {
  font-size: 59px; }

.fs-60 {
  font-size: 60px; }

.fs-61 {
  font-size: 61px; }

.fs-62 {
  font-size: 62px; }

.fs-63 {
  font-size: 63px; }

.fs-64 {
  font-size: 64px; }

.fs-65 {
  font-size: 65px; }

.fs-66 {
  font-size: 66px; }

.fs-67 {
  font-size: 67px; }

.fs-68 {
  font-size: 68px; }

.fs-69 {
  font-size: 69px; }

.fs-70 {
  font-size: 70px; }

.fs-71 {
  font-size: 71px; }

.fs-72 {
  font-size: 72px; }

.fs-73 {
  font-size: 73px; }

.fs-74 {
  font-size: 74px; }

.fs-75 {
  font-size: 75px; }

.fs-76 {
  font-size: 76px; }

.fs-77 {
  font-size: 77px; }

.fs-78 {
  font-size: 78px; }

.fs-79 {
  font-size: 79px; }

.fs-80 {
  font-size: 80px; }

.fs-81 {
  font-size: 81px; }

.fs-82 {
  font-size: 82px; }

.fs-83 {
  font-size: 83px; }

.fs-84 {
  font-size: 84px; }

.fs-85 {
  font-size: 85px; }

.fs-86 {
  font-size: 86px; }

.fs-87 {
  font-size: 87px; }

.fs-88 {
  font-size: 88px; }

.fs-89 {
  font-size: 89px; }

.fs-90 {
  font-size: 90px; }

.fs-91 {
  font-size: 91px; }

.fs-92 {
  font-size: 92px; }

.fs-93 {
  font-size: 93px; }

.fs-94 {
  font-size: 94px; }

.fs-95 {
  font-size: 95px; }

.fs-96 {
  font-size: 96px; }

.fs-97 {
  font-size: 97px; }

.fs-98 {
  font-size: 98px; }

.fs-99 {
  font-size: 99px; }

.fs-100 {
  font-size: 100px; }

.fs-101 {
  font-size: 101px; }

.fs-102 {
  font-size: 102px; }

.fs-103 {
  font-size: 103px; }

.fs-104 {
  font-size: 104px; }

.fs-105 {
  font-size: 105px; }

.fs-106 {
  font-size: 106px; }

.fs-107 {
  font-size: 107px; }

.fs-108 {
  font-size: 108px; }

.fs-109 {
  font-size: 109px; }

.fs-110 {
  font-size: 110px; }

.fs-111 {
  font-size: 111px; }

.fs-112 {
  font-size: 112px; }

.fs-113 {
  font-size: 113px; }

.fs-114 {
  font-size: 114px; }

.fs-115 {
  font-size: 115px; }

.fs-116 {
  font-size: 116px; }

.fs-117 {
  font-size: 117px; }

.fs-118 {
  font-size: 118px; }

.fs-119 {
  font-size: 119px; }

.fs-120 {
  font-size: 120px; }

.fs-121 {
  font-size: 121px; }

.fs-122 {
  font-size: 122px; }

.fs-123 {
  font-size: 123px; }

.fs-124 {
  font-size: 124px; }

.fs-125 {
  font-size: 125px; }

.fs-126 {
  font-size: 126px; }

.fs-127 {
  font-size: 127px; }

.fs-128 {
  font-size: 128px; }

.fs-129 {
  font-size: 129px; }

.fs-130 {
  font-size: 130px; }

.fs-131 {
  font-size: 131px; }

.fs-132 {
  font-size: 132px; }

.fs-133 {
  font-size: 133px; }

.fs-134 {
  font-size: 134px; }

.fs-135 {
  font-size: 135px; }

.fs-136 {
  font-size: 136px; }

.fs-137 {
  font-size: 137px; }

.fs-138 {
  font-size: 138px; }

.fs-139 {
  font-size: 139px; }

.fs-140 {
  font-size: 140px; }

.fs-141 {
  font-size: 141px; }

.fs-142 {
  font-size: 142px; }

.fs-143 {
  font-size: 143px; }

.fs-144 {
  font-size: 144px; }

.fs-145 {
  font-size: 145px; }

.fs-146 {
  font-size: 146px; }

.fs-147 {
  font-size: 147px; }

.fs-148 {
  font-size: 148px; }

.fs-149 {
  font-size: 149px; }

.fs-150 {
  font-size: 150px; }

.fs-151 {
  font-size: 151px; }

.fs-152 {
  font-size: 152px; }

.fs-153 {
  font-size: 153px; }

.fs-154 {
  font-size: 154px; }

.fs-155 {
  font-size: 155px; }

.fs-156 {
  font-size: 156px; }

.fs-157 {
  font-size: 157px; }

.fs-158 {
  font-size: 158px; }

.fs-159 {
  font-size: 159px; }

.fs-160 {
  font-size: 160px; }

.fs-161 {
  font-size: 161px; }

.fs-162 {
  font-size: 162px; }

.fs-163 {
  font-size: 163px; }

.fs-164 {
  font-size: 164px; }

.fs-165 {
  font-size: 165px; }

.fs-166 {
  font-size: 166px; }

.fs-167 {
  font-size: 167px; }

.fs-168 {
  font-size: 168px; }

.fs-169 {
  font-size: 169px; }

.fs-170 {
  font-size: 170px; }

.fs-171 {
  font-size: 171px; }

.fs-172 {
  font-size: 172px; }

.fs-173 {
  font-size: 173px; }

.fs-174 {
  font-size: 174px; }

.fs-175 {
  font-size: 175px; }

.fs-176 {
  font-size: 176px; }

.fs-177 {
  font-size: 177px; }

.fs-178 {
  font-size: 178px; }

.fs-179 {
  font-size: 179px; }

.fs-180 {
  font-size: 180px; }

.fs-181 {
  font-size: 181px; }

.fs-182 {
  font-size: 182px; }

.fs-183 {
  font-size: 183px; }

.fs-184 {
  font-size: 184px; }

.fs-185 {
  font-size: 185px; }

.fs-186 {
  font-size: 186px; }

.fs-187 {
  font-size: 187px; }

.fs-188 {
  font-size: 188px; }

.fs-189 {
  font-size: 189px; }

.fs-190 {
  font-size: 190px; }

.fs-191 {
  font-size: 191px; }

.fs-192 {
  font-size: 192px; }

.fs-193 {
  font-size: 193px; }

.fs-194 {
  font-size: 194px; }

.fs-195 {
  font-size: 195px; }

.fs-196 {
  font-size: 196px; }

.fs-197 {
  font-size: 197px; }

.fs-198 {
  font-size: 198px; }

.fs-199 {
  font-size: 199px; }

.fs-200 {
  font-size: 200px; }

.ls-1 {
  letter-spacing: 1px; }

.ls-2 {
  letter-spacing: 2px; }

.ls-3 {
  letter-spacing: 3px; }

.ls-4 {
  letter-spacing: 4px; }

.ls-5 {
  letter-spacing: 5px; }

.ls-6 {
  letter-spacing: 6px; }

.ls-7 {
  letter-spacing: 7px; }

.ls-8 {
  letter-spacing: 8px; }

.ls-9 {
  letter-spacing: 9px; }

.ls-10 {
  letter-spacing: 10px; }

.navigation__logo {
  color: white;
  font-size: 24px;
  height: 35px;
  top: 4%;
  left: 10%;
  position: absolute;
  z-index: 2;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: left; }

.navigation__checkbox {
  display: none; }

@media screen and (max-width: 767px) {
  .navigation__button {
    background-color: #3ddb93;
    height: 3.5rem;
    width: 3.5rem;
    position: fixed;
    top: 1.4rem;
    right: 1.4rem;
    border-radius: 100%;
    z-index: 2000;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 2px 9px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    cursor: pointer; }

  .navigation__background {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    background-image: radial-gradient(#007ad6, #70c1ff);
    z-index: 1000;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1); } }
@media screen and (min-width: 767px) {
  .navigation__button {
    background-color: #3ddb93;
    height: 4rem;
    width: 4rem;
    position: fixed;
    top: 2rem;
    right: 3rem;
    border-radius: 100%;
    z-index: 2000;
    box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.15);
    text-align: center;
    cursor: pointer; }

  .navigation__background {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    position: fixed;
    top: 2.1rem;
    right: 3.1rem;
    background-image: radial-gradient(#007ad6, #70c1ff);
    z-index: 1000;
    transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1); } }
.navigation__nav {
  height: 100vh;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.1); }

.navigation__list {
  position: absolute;
  top: 46%;
  left: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: left;
  width: 100%; }

.navigation__item {
  margin: 1rem;
  font-size: 1.5rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-weight: 500;
  padding: 0.5rem 2rem 0.5;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 230%;
  transition: all 0.5s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #3a75c1; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__menu {
  position: relative;
  margin-top: 2.5rem;
  top: 2rem;
  right: 5.5rem;
  color: #fafafa; }

@media screen and (max-width: 767px) {
  .navigation__icon {
    position: relative;
    margin-top: 1.65rem; }

  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 1.5rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }

  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.1s; }

  .navigation__icon::before {
    top: -.56rem; }

  .navigation__icon::after {
    top: .56rem; }

  .navigation__button:hover .navigation__icon::before {
    top: -.56rem; }

  .navigation__button:hover .navigation__icon::after {
    top: .56rem; } }
@media screen and (min-width: 767px) {
  .navigation__icon {
    position: relative;
    margin-top: 2rem; }

  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 2rem;
    height: 2px;
    background-color: #fff;
    display: inline-block; }

  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.1s; }

  .navigation__icon::before {
    top: -.6rem; }

  .navigation__icon::after {
    top: .6rem; }

  .navigation__button:hover .navigation__icon::before {
    top: -.6rem; }

  .navigation__button:hover .navigation__icon::after {
    top: .6rem; } }
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-45deg); }

a:hover {
  color: #006bbc; }

.text-primary {
  color: #006bbc; }

.text-success {
  color: #3ddb93; }

.text-danger {
  color: #d91227; }

.text-muted {
  color: #424242; }

/*# sourceMappingURL=base-alt.css.map */
