
.btn {
    font-size: 16px;
    font-weight: 650;

}
.btn:hover {
    font-size: 16px;
    font-weight: 650;
}


  .btn-action {
  width: 12rem;
  background-image: linear-gradient(180deg,#3b8dff, #3469ad 95%);
  color: #fafafa;
  box-shadow: 0;
  border-radius: 5px;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem;

  }
  .btn-action:hover {
    background-image: linear-gradient(180deg, #3b8dff, #2e5d9a 95%);
    color: #e5e5e5;
    box-shadow: none;
    padding-left: 1.7rem;
    padding-right: 2rem;
    padding-top: .85rem;
    padding-bottom: .85rem;

  }
  .btn-action:active {
    background-image: linear-gradient(180deg, #3b8dff, #2e5d9a 95%);
    color: #e5e5e5;
    box-shadow: none;
    padding-left: 1.7rem;
    padding-right: 2rem;
    padding-top: .85rem;
    padding-bottom: .85rem;

  }
  .btn-action:focus {
    background-image: linear-gradient(180deg, #3b8dff, #2e5d9a 95%);
    color: #e5e5e5;
    box-shadow: none;
    padding-left: 1.7rem;
    padding-right: 2rem;
    padding-top: .85rem;
    padding-bottom: .85rem;

  }

  .btn-action-alt {
  width: 12rem;
  background-image: linear-gradient(180deg,#26c281, #24a35a 95%);
  color: #fafafa;
  box-shadow: none;
  border-radius: 5px;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: .85rem;
  padding-bottom: .85rem;

  }
  .btn-action-alt:hover {
    background-image: linear-gradient(180deg, #26c281, #1c8248 95%);
    color: #e5e5e5;
    box-shadow: none;
    padding-left: 1.7rem;
    padding-right: 2rem;
    padding-top: .85rem;
    padding-bottom: .85rem;

  }
  .btn-action-alt:active {
    background-image: linear-gradient(180deg, #26c281, #1c8248 95%);
    color: #e5e5e5;
    box-shadow: none;
    padding-left: 1.7rem;
    padding-right: 2rem;
    padding-top: .85rem;
    padding-bottom: .85rem;

  }
  .btn-action-alt:focus {
    background-image: linear-gradient(180deg, #26c281, #1c8248 95%);
    color: #e5e5e5;
    box-shadow: none;
    padding-left: 1.7rem;
    padding-right: 2rem;
    padding-top: .85rem;
    padding-bottom: .85rem;

  }




  .btn-success-alt {
  background: #26c281;
  color: #fafafa;
  box-shadow: 0;
  padding-left: 1.7rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  }
  .btn-success-alt:hover {
    background: #22ae74;
    color: #e5e5e5;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.13);
    padding-left: 1.7rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .btn-success-alt:active {
    background: #22ae74;
    color: #e5e5e5;
    box-shadow: 0;
    padding-left: 1.7rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .btn-success-alt:focus {
    background: #22ae74;
    color: #e5e5e5;
    box-shadow: 0;
    padding-left: 1.7rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }


  .btn-success-round {
  background: #26c281;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  }

  .btn-success-round:hover {
  background: #22ae74;
  color: #f3f3f3;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.13);
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  }

  .btn-success-round:active {
  background: #22ae74;
  color: #fafafa;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  }

  .btn-success-round:focus {
  background: #22ae74;
  color: #fafafa;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  }

  .btn-primary-round {
  background: #3A75C1;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  }

  .btn-primary-round:hover {
  background: #2e5d9a;
  color: #f3f3f3;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.13);
  }

  .btn-primary-round:active {
  background: #2e5d9a;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  }

  .btn-primary-round:focus {
  background: #2e5d9a;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: .75rem;
  padding-bottom: .75rem;
  }

  .btn-primary-alt {
  background: #00aeee;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .75rem;
  }

  .btn-primary-alt:hover {
  background: #008bbe;
  color: #f3f3f3;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .75rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.13);
  }

  .btn-primary-alt:active {
  background: #008bbe;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .75rem;
  }

  .btn-primary-alt:focus {
  background: #008bbe;
  color: #fafafa;
  box-shadow: 0;
  border-radius: 30px;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: .5rem;
  padding-bottom: .75rem;
  }
