#24a35a
#3a75c1
#3b8dff
#00d737
#00ac2c


.play-button {

}

.play-button:hover {
  animation: grow 1.3s;

}

@keyframes grow {
  50% {transform: scale(1.2); }
  100% {transform: scale(1); }
}

/* Responsive Mobile */


.unhide-card {
  display: none;

}

@media (max-width:1800px) {
  .unhide-card {
  display: block;

  }
}
@media (max-width:1800px) {
  .hide-card {
    display: none;
  }
}

/* Borders */

.border
/* Cards */



.body-light {
  background-color: #e9ecef;
  height: 480px;
}
/* Tables */

.thead-light {

}

.hr-footer {
 border: 0;
 clear:both;
 display:block;
 width: 98%;
 background-color:#fff;
 height: 1px;
}


/* CUSTOMER HAMBURGER */

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}


.navbar-toggler .icon-bar {
  background-color: #424242;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar+.icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:hover>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active>.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all .2s;
}

@media (max-width:767px) {
  .navbar-nav {

  }
}

.navbar-default.scrolled {
  background-color: #fafafa !important;
  transition: background-color 200ms linear;
  color: #424242;
}


a.navbar-brand.scrolled {
    color: #424242 !important;
}
a.navbar-brand.scrolled:hover {
    color: #24a35a !important;
}

.nav-link {
  font-weight: 500 !important;
}

.navbar-brand {
  color: #424242;
}
.navbar-brand:hover {
  color: #24a35a;
}
.navbar-brand.scrolled {
  color: #424242;
}

.nav-link {
    color: white;
}
.nav-link:hover {
    color: #25b63d;
}
.nav-link.active {
    color: #25b63d !important;
}

a.nav-link.active {
  color: #25b63d !important;
}



.nav-link.scrolled {
    color: #424242;
}
.nav-link.scrolled:hover {
    color: #24a35a;
}

.navbar-alt {
  background-color: #fdfdfe !important;
  transition: background-color 200ms linear;
  color: #424242;
}

.navbar-alt .nav-link {
    color: #424242;
}
.navbar-alt .nav-link:hover {
    color: #24a35a;
}



/* CENTER COLLPASED LINKS */

.navbar .navbar-collapse {
  text-align: center;
}


.phototext {
  margin-top: 8em;
margin-left: auto;
margin-right: auto;
vertical-align: middle;
}

.card-nav {
  width: 100%;
  background-color: transparent;
  background-image: linear-gradient(120deg, #3a75c1 40%, transparent 40%);
  min-height: 40px;
}
.top-left {
    position: absolute;
  }

.text-shamrock {

  color: #24a35a;

}


.underline {
    padding-bottom: 2px;
    border-bottom: #3a75c1 1px solid;
}
.img-responsive img {
    width: 100%;
    max-width: 1000px;
    height: auto;
}

.img-center {

  display: block;
  margin: 0 auto;
  height: auto;
}

/*  SERVICES IMAGES */
.img-background1 {

   background-image: url("/static/img/pic1.png");
   background-color: #fafafa;
   height: 380px;
   background-repeat: no-repeat;
   background-position: center center;

}
.img-background2 {

   background-image: url("/static/img/pic7.png");
   background-color: #fafafa;
   height: 380px;
   background-repeat: no-repeat;
   background-position: center center;


}
.img-background3 {

   background-image: url("/static/img/pic6.png");
   background-color: #fafafa;
   height: 380px;
   background-repeat: no-repeat;
   background-position: center center;

}


button {
  display: block;
  background: #3a75c1;
  color: #fff;
  padding-left: 8px;
  padding-right: 6px;
  box-shadow: 0;
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  width: 100%;
  outline: none;
  cursor: pointer;
  transition: all 0.15s ease;
}

button:focus {
  background: #3a75c1;
}

button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1),
    0 3px 6px 0 rgba(0, 0, 0, 0.08);
}

button:active {
  background: #3a75c1;
}
.shadow {
    box-shadow: 0 2px 4px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.23) !important;
}
.shadow:hover {
    box-shadow: 0 5px 11px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22)  !important;
}




/* MESSAGES */

.messages {

  z-index: 100;
  position: fixed;
  bottom: 0%;
  opacity: .95;
}

.moveInTop {
  animation: moveInTop .5s;
  animation-fill-mode: forwards;

}


@keyframes moveInTop {
0% {
  opacity: 0;
  transform: translateY(70px);
}

100% {
  opacity: 1;
  transform: translateY(0);
}
}

/* Sections */
.section-md-secondary {
  padding-top: 7rem;
  padding-bottom: 7rem;
  color: #fff;
  background-color: #505763;
  text-align: center;
}
.section-lg-secondary {

  color: #fff;
  background-color: #29303B;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.section-sm-secondary {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: #fff;
  background-color: #505763;
}
.section-jumbo-secondary .text-box {

  color: #fff;
  text-align: left;
}

.section {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.section-alt {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #3a75c1;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}

.section-alt2 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #24a35a;
  clip-path: polygon(0 5%, 100% 0, 100% 95%, 0 100%);
}





  .btn-action-invert {
  background: #e0e0e0;
  color: #3a3a3a;
  box-shadow: 0 2px 4px rgba(0,0,0,0.18), 0 2px 4px rgba(0,0,0,0.23);
  }
  .btn-action-invert:hover {
  background: #fff;
  color: #3a3a3a;
  box-shadow: 0 5px 11px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
  }
  .btn-action-invert:active {
    background: #ccc;
    color: #3a3a3a;
    box-shadow: 0 5px 11px rgba(0,0,0,0.25), 0 4px 4px rgba(0,0,0,0.22);
  }
  .btn-action-invert:focus {
  background: #ccc;
  color: #3a3a3a;
  }

.inline-card {
    position: fixed;
    top: 17%;
    right: 19%;
    width: 365px;
    color: #212529;
    z-index: 9999;

  }
