{% extends "base.html" %}
{% load static %}


{% block title %}Dashboard | {{ SITE_NAME }}{% endblock %}

{% block extra_styles %}

{% endblock extra_styles %}


{% block content %}

<!-- Body Start -->
<section class="section container">
      {% block component %}
        {% include "users/merchant/merchant_profile_nav.html" %}
      {% endblock component %}

      {% block mobile_nav %}
        {% include "users/merchant/merchant_profile_mobile_nav.html" %}
      {% endblock mobile_nav %}

        <div class="row mt-4">
            <div class="col-lg-12 mb-4">
                <div class="card shadow-2">
                    <div class="card-body table-responsive">
                        <table class="table table-striped ">
                            <div class="row mb-4">
                                <div class="col-6">
                                    <h3 class="header">Edit Offers
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-tag"><path class="fill-gray-500" d="M2.59 13.41A1.98 1.98 0 0 1 2 12V7a5 5 0 0 1 5-5h4.99c.53 0 1.04.2 1.42.59l8 8a2 2 0 0 1 0 2.82l-8 8a2 2 0 0 1-2.82 0l-8-8zM7 9a2 2 0 1 0 0-4 2 2 0 0 0 0 4z"/><path class="secondary" d="M12 18l6-6-4-4-6 6.01L12 18z"/></svg>
                                    </h3>
                                    <h4 class="fs-14 text-secondary fw-4">Create, modify, and delete your offers.</h4>
                                </div>
                                <div class="col-6">
                                    {% if user.subscription.subscription_status == 'active' %}
                                    <a href="{% url 'users:merchant_offer_create' %}" class="btn btn-primary-alt pull-right py-2">Create Offer
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 pb-1 icon-add hide"><path class="fill-white" fill-rule="evenodd" d="M17 11a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4h4z"/></svg>
                                    </a>
                                    {% else %}
                                        <a class="btn btn-gray-400-alt text-gray-700 disabled pull-right">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-4 mr-1 icon-lock hide"><path class="fill-gray-700" d="M5 10h14a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2zm6 6.73V18a1 1 0 0 0 2 0v-1.27a2 2 0 1 0-2 0z"/><path class="fill-gray-700" d="M12 19a1 1 0 0 0 1-1v-1.27A2 2 0 0 0 12 13v-3h3V7a3 3 0 0 0-6 0v3H7V7a5 5 0 1 1 10 0v3h2a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-7v-3z"/></svg>
                                            Create Offer
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                          <thead>
                            <tr>
                              <th scope="col">Offer</th>
                              <th scope="col">Status</th>
                              <th scope="col">End Date</th>
                              <th scope="col">Edit</th>
                              <th scope="col">Delete</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for object in object_list %}
                            <tr>
                              <th scope="row">{{ object.title }}</th>
                              <td>
                                  {% if object.status == 2 %}
                                  <span class="text-success fw-6">
                                      Approved
                                  </span>
                                  {% elif object.status == 4 %}
                                  <span class="text-orange-600 fw-6">
                                      Edit Pending
                                  </span>
                                  {% elif object.status == 3 %}
                                  <span class="text-red-600 fw-6">
                                      Denied
                                  </span>
                                  {% else %}
                                  <span class="text-orange-600 fw-6">
                                      Being Reviewed
                                  </span>
                                  {% endif %}</td>
                              <td>
                                {{ object.end_date }}
                              </td>
                              <td>
                                    <a href="{% url 'users:merchant_offer_update' object.slug %}">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-edit"><path class="fill-orange-500" d="M4 14a1 1 0 0 1 .3-.7l11-11a1 1 0 0 1 1.4 0l3 3a1 1 0 0 1 0 1.4l-11 11a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-3z"/><rect width="20" height="2" x="2" y="20" class="fill-orange-500" rx="1"/></svg>
                                    </a>
                              </td>
                              <td>
                                    <a href="{% url 'users:merchant_offer_delete' object.slug %}">
                                       <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="w-6 icon-trash"><path class="fill-red-500" d="M5 5h14l-.89 15.12a2 2 0 0 1-2 1.88H7.9a2 2 0 0 1-2-1.88L5 5zm5 5a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1zm4 0a1 1 0 0 0-1 1v6a1 1 0 0 0 2 0v-6a1 1 0 0 0-1-1z"/><path class="fill-red-600" d="M8.59 4l1.7-1.7A1 1 0 0 1 11 2h2a1 1 0 0 1 .7.3L15.42 4H19a1 1 0 0 1 0 2H5a1 1 0 1 1 0-2h3.59z"/></svg>
                                    </a>
                              </td>

                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                    </div>
                </div>
      	    </div>

      </div>
      <div class="py-5 hide"></div><div class="py-5 hide"></div>
</section>

{% endblock content %}
{% block extrajs %}
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    duration: 1300,
  });
</script>
{% endblock extrajs %}
